<script>
   $("[title]").tooltip({ position: { my: "left+15 center", at: "right center" } });
   // Include specific css
   loadCSS("main/libs/css/page_cultipi.css");
</script>

<?php 
    cultipi\check_db();
?>

<br />
<table class="table_width">
    <tr>    
        <td class="conf-menu-marge"></td>
        <td class="center_menu" >
            <button id="div_synoptic_label" class="cultipi_menu_h1" onclick="expand('synoptic_ui'); return false;"><?php echo __('CULTIPI_SYNOPTIC'); ?></button>
        </td>
        <td class="center_menu" >
            <button id="div_network_label" class="cultipi_menu_h1" onclick="expand('network_conf_ui'); return false;"><?php echo __('CULTIPI_NETWORK_CONF'); ?></button>
        </td>
        <td class="center_menu" >
            <button id="div_admin_label" class="cultipi_menu_h1" onclick="expand('admin_ui'); return false;"><?php echo __('CULTIPI_ADMIN'); ?></button>
        </td>
       <td class="conf-menu-marge"></td>
    </tr>
</table> 
<br />

<!-- Section synoptic -->
<div id="div_synoptic_ui" style="">
    <!-- Display buttons -->
    <table class="table_width">
        <tr>
            <td class="calendar-conf-marge"></td> 
            <td class="calendar-title">
                <!-- Button to add a element -->
                <input type="image" id="syno_add_element" name="syno_add_element"
                       title="<?php echo __('CULTIPI_SYNO_ADD_ELEMENT'); ?>"
                       src="main/libs/img/db_add.png"  width="34" 
                       alt="calendar"  
                />        
            </td>
            <td class="calendar-conf-marge"></td>
            <td ><p class="pInline" ><?php echo __('SYNO_UPDATE_SENSOR_HOUR'); ?></p><p class="pInline" id="synoptic_updateSensorHour" ></p></td>
            <td ><p class="pInline" ><?php echo __('SYNO_UPDATE_PLUG_HOUR'); ?></p><p class="pInline" id="synoptic_updatePlugHour" ></p></td>
        </tr>
    </table>
    <br />
    <hr class="hr_cultipi" />
    <br />

    <div id="set" style="min-height: 700px;" >
        
        <?php
            // Add every sensor
            
            // Read sensor list
            $sensorList = cultipi\getSensorOfSynoptic();

            // retrieve values
            $sensorValues = cultipi\getAllSensorLiveValue();
            
            foreach ($sensorList as $index => $sensor) 
            {
                echo '<div id="syno_elem_' . $sensor["id"] . '" class="" style="position:absolute; top:' . $sensor["y"] . 'px ; left:' . $sensor["x"] . 'px ;z-index:' . $sensor["z"] . '" >';
                echo '  <table>';
                echo '    <tr>';
                echo '      <td>Capteur ' . $sensor["indexElem"] . '</td>';
                echo '      <td>';
                echo '          <input type="image" id="syno_elemConfigur_' . $sensor["id"] . '" name="syno_elemConfigur_' . $sensor["id"] . '"';
                echo '                 title=""';
                echo '                 src="main/libs/img/advancedsettings.png"  width="18"';
                echo '                 alt="configure"';
                echo '                 class="syno_conf_elem_button"';
                echo '          />';
                echo '      </td>';
                echo '    </tr>';
                echo '    <tr>';
                $sensorValuesList = explode(" ", $sensorValues[$sensor["indexElem"]]);
                if (!array_key_exists(1, $sensorValuesList)) {$sensorValuesList[1] = "";}
                echo '      <td colspan="2" ><p id="syno_elemValueSensor_val1_' . $sensor["indexElem"] . '" class="pInline" >' . $sensorValuesList[0] . '</p>';
                switch ($sensor["image"])
                {
                    case 'T_RH_sensor.png' :
                        echo '      <p class="pInline">°C</p>';
                        echo '      <p id="syno_elemValueSensor_val2_' . $sensor["indexElem"] . '" class="pInline" >' . $sensorValuesList[1] . '</p><p class="pInline">RH</p>';
                        break;
                    case 'water_T_sensor.png': 
                        echo '      <p class="pInline" >°C</p>';
                        break;
                    case 'level_sensor.png': 
                        echo '      <p class="pInline" >cm</p>';
                        break;
                    case 'pH-sensor.png': 
                        echo '      <p class="pInline" >ph</p>';
                        break;
                    case 'conductivity-sensor.png': 
                        echo '      <p class="pInline" >EC</p>';
                        break;
                    case 'dissolved-oxygen-sensor.png': 
                        echo '      <p class="pInline" >OD</p>';
                        break;
                    case 'ORP-sensor.png': 
                        echo '      <p class="pInline" >ORP</p>';
                        break;
                    default :
                        echo '      <p class="pInline" >???</p>';
                        break;
                }
                echo '      </td>';
                echo '    </tr>';
                echo '  </table>';
                echo '  <img id="syno_elemImage_' . $sensor["id"] . '" src="main/libs/img/images-synoptic-sensor/' . $sensor["image"] . '" alt="capteur" style="width:' . $sensor["scale"] . 'px;cursor: move" class="rotate' . $sensor["rotation"] . '">';
                echo '</div>';
            }
            
            // Add plugs
            
            // Read plug list
            $plugList = cultipi\getPlugOfSynoptic();
            
            // retrieve values
            $plugValues = cultipi\getAllPlugLiveValue();
            
            foreach ($plugList as $index => $plug) 
            {
                echo '<div id="syno_elem_' . $plug["id"] . '" class="" style="position:absolute; top:' . $plug["y"] . 'px ; left:' . $plug["x"] . 'px ;z-index:' . $plug["z"] . '" >';
                echo '  <table>';
                echo '    <tr>';
                echo '      <td>Prise ' . $plug["indexElem"] . '</td>';
                echo '      <td>';
                echo '          <input type="image" id="syno_elemConfigur_' . $plug["id"] . '" name="syno_elemConfigur_' . $plug["id"] . '"';
                echo '                 title=""';
                echo '                 src="main/libs/img/advancedsettings.png"  width="18"';
                echo '                 alt="configure"';
                echo '                 class="syno_conf_elem_button"';
                echo '          />';
                echo '      </td>';
                echo '    </tr>';
                echo '    <tr>';
                echo '      <td colspan="2" id="syno_elemValuePlug_' . $plug["indexElem"] . '" >' . $plugValues[$plug["indexElem"]] . '</td>';
                echo '    </tr>';
                echo '  </table>';
                echo '  <img id="syno_elemImage_' . $plug["id"] . '" src="main/libs/img/images-synoptic-plug/' . $plug["image"] . '" alt="Prise" style="width:' . $plug["scale"] . 'px;cursor: move" class="rotate' . $plug["rotation"] . '">';
                echo '</div>';
            }
            
            // Add other items
            $otherList = cultipi\getOtherOfSynoptic();
            foreach ($otherList as $index => $other) 
            {
                echo '<div id="syno_elem_' . $other["id"] . '" class="" style="position:absolute; top:' . $other["y"] . 'px ; left:' . $other["x"] . 'px ;z-index:' . $other["z"] . '" >';
                echo '  <table>';
                echo '    <tr>';
                echo '      <td>';
                echo '          <input type="image" id="syno_elemConfigur_' . $other["id"] . '" name="syno_elemConfigur_' . $other["id"] . '"';
                echo '                 title=""';
                echo '                 src="main/libs/img/advancedsettings.png"  width="18"';
                echo '                 alt="configure"';
                echo '                 class="syno_conf_elem_button"';
                echo '          />';
                echo '      </td>';
                echo '    </tr>';
                echo '    <tr>';
                echo '    </tr>';
                echo '  </table>';
                echo '  <img id="syno_elemImage_' . $other["id"] . '" src="main/libs/img/images-synoptic-other/' . $other["image"] . '" alt="Prise" style="width:' . $other["scale"] . 'px;cursor: move" class="rotate' . $other["rotation"] . '">';
                echo '</div>';
            }
            
            
        ?>
    </div>
    
    <!-- Drag message box for add element-->
    <div id="syno_add_element_ui" style="display:none" title="<?php echo __('CULTIPI_SYNO_ADD_ELEMENT'); ?>">
        <?php 
            $dir    = '../../libs/img/images-synoptic-other';
            $files  = array_diff(scandir($dir), array('..', '.'));
            foreach ($files as $file)
            {
                if (pathinfo($file, PATHINFO_EXTENSION) == "png")
                {
                    echo '<div class="syno_add_element_elem" id="' . $file . '" " >';
                    echo '    <img src="main/libs/img/images-synoptic-other/' . $file . '" alt="' . basename($file) . '" style="width:40px; cursor: move" >';
                    echo '</div>';
                }
            }
        ?>
    </div>

    <!-- Message box for configuring element-->
    <div id="syno_configure_element" style="display:none" title="<?php echo __('CULTIPI_SYNO_CONF'); ?>">
        <table>
            <tr>
                <td>Image</td>
                <td colspan="3" >
                    <?php 
                        echo '<select id="syno_configure_element_image_other" onchange="showValue(this.value)" style="display:none" >';
                        $dir    = '../../libs/img/images-synoptic-other';
                        $files  = array_diff(scandir($dir), array('..', '.'));
                        foreach ($files as $file)
                        {
                            if (pathinfo($file, PATHINFO_EXTENSION) == "png")
                            {
                                echo '<option value="' . $file . '" >' . basename($file) . '</option>';
                            }
                        }
                        echo '</select>';

                        echo '<select id="syno_configure_element_image_plug" onchange="showValue(this.value)" style="display:none" >';
                        $dir    = '../../libs/img/images-synoptic-plug';
                        $files  = array_diff(scandir($dir), array('..', '.'));
                        foreach ($files as $file)
                        {
                            if (pathinfo($file, PATHINFO_EXTENSION) == "png")
                            {
                                echo '<option value="' . $file . '" >' . basename($file) . '</option>';
                            }
                        }
                        echo '</select>';

                        echo '<select id="syno_configure_element_image_sensor" onchange="showValue(this.value)" style="display:none" >';
                        $dir    = '../../libs/img/images-synoptic-sensor';
                        $files  = array_diff(scandir($dir), array('..', '.'));
                        foreach ($files as $file)
                        {
                            if (pathinfo($file, PATHINFO_EXTENSION) == "png")
                            {
                                echo '<option value="' . $file . '" >' . basename($file) . '</option>';
                            }
                        }
                        echo '</select>';
                    ?>
                    
                </td>
            </tr>
            <tr>
                <td>Rotation</td>
                <td><input id="syno_configure_element_rotate_0" type="radio" name="syno_configure_element_rotate" value="0" /> 0° </td>
                <td><input id="syno_configure_element_rotate_90" type="radio" name="syno_configure_element_rotate" value="90" /> 90° </td>
                <td><input id="syno_configure_element_rotate_180" type="radio" name="syno_configure_element_rotate" value="180" /> 180° </td>
                <td><input id="syno_configure_element_rotate_270" type="radio" name="syno_configure_element_rotate" value="270" /> 270° </td>
            </tr>
            <tr>
                <td>Profondeur</td>
                <td><input type="text" name="syno_configure_element_zindex_val" id="syno_configure_element_zindex_val" value="" size="4" readonly /></td>
                <td colspan="3" ><div id="syno_configure_element_zindex"></div></td>
            </tr>
            <tr>
                <td>Zoom</td>
                <td><input type="text" name="syno_configure_element_scale_val" id="syno_configure_element_scale_val" value="" size="4" readonly /></td>
                <td colspan="3" ><div id="syno_configure_element_scale"></div></td>
            </tr>
        </table>
    </div>
    
</div>

<!-- Conf reseau -->
<div id="div_network_conf_ui" style="display:none">
<table class="table_width">
<tr>
    <td class="conf-marge-cultipi"></td>
    <td><?php echo __('CULTINET_LINK'); ?></td>
</tr>
</table>
</div>

<!-- Admin -->
<div id="div_admin_ui" style="display:none">
<table class="table_width">
    <tr>
        <td class="conf-marge-cultipi"></td>
        <td>
            <a href="" id="logs_httpd" name="cultipi_logs"><img src='/cultibox/main/libs/img/view-logs-http.png' alt='' title="<?php echo __('CULTIPI_LOGS_HTTPD'); ?>"></a>
            <a href="" id="dl_logs_httpd" name="dl_cultipi_logs"><img src='/cultibox/main/libs/img/download-logs-http.png' alt='' title="<?php echo __('CULTIPI_DL_LOGS_HTTPD'); ?>"></a>
        </td>
        <td>
            <a href="" id="logs_mysql" name="cultipi_logs"><img src='/cultibox/main/libs/img/view-logs-mysql.png' alt='' title="<?php echo __('CULTIPI_LOGS_MYSQL'); ?>"></a>
            <a href="" id="dl_logs_mysql" name="dl_cultipi_logs"><img src='/cultibox/main/libs/img/download-logs-mysql.png' alt='' title="<?php echo __('CULTIPI_DL_LOGS_MYSQL'); ?>"></a>
        </td>
        <td>
            <a href="" id="logs_cultipi" name="cultipi_logs"><img src='/cultibox/main/libs/img/view-logs-culti.png' alt='' title="<?php echo __('CULTIPI_LOGS_CULTIPI'); ?>"></a>
            <a href="" id="dl_logs_cultipi" name="dl_cultipi_logs"><img src='/cultibox/main/libs/img/download-logs-culti.png' alt='' title="<?php echo __('CULTIPI_DL_LOGS_CULTIPI'); ?>"></a>
            <img src='/cultibox/main/libs/img/service_on.png' alt='' title="<p class='p_center'><b><i><?php echo __('CULTIPI_SERVICE'); ?>:</i></b></p><?php echo __('SERVICE_ON'); ?>" id="cultipi_on" style="display:none">
            <img src='/cultibox/main/libs/img/service_off.png' alt='' title="<p class='p_center'><b><i><?php echo __('CULTIPI_SERVICE'); ?>:</i></b></p><?php echo __('SERVICE_OFF'); ?>" id="cultipi_off">
            <a href="" name="restart_service" id="restart_cultipi"><img src='/cultibox/main/libs/img/service_restart.png' alt='' title="<?php echo __('RESTART_SERVICE'); ?>" />
        </td>
        <td>
            <img src='/cultibox/main/libs/img/versions.png' id="version_soft" alt='' title="">
        </td>
        <td></td>
    </tr>
</table>
<br />
<hr class="hr_cultipi" />
<br />
<br />
<p class="title_conf"><?php echo __('CONF_MGT'); ?></p>
<br />
<!-- <form id="import_cultipi_conf" action=""> -->
<table class="table_width">
<tr>
    <td class="conf-marge-cultipi"></td>
    <td class="conf-field-service"><?php echo __('IMPORT_CONF_CULTIPI'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_IMPORT_CONF'); ?>" />
</td>
    <td><input id="confupload" type="file" name="files[]"><label id="import_conf_name" class="imported_file"></label>
        <button name="import" value="<?php echo __('SELECT_FILE_NAME'); ?>" id="import_conf" class="inputDisable" disabled><?php  echo __('SELECT_FILE_NAME'); ?></button>
    </td>
    <td></td>
</tr>
</table>

<br />
<hr class="hr_cultipi" />
<br />
<br />
<p class="title_conf"><?php echo __('MGT_ACCESS'); ?></p>
<br />
<table class="table_width">
<tr>
    <td class="conf-marge-cultipi"></td>
    <td class="conf-field-service"><?php echo __('CHANGE_PASSWORD'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_CHANGE_PWD'); ?>" /></td>
    <td><button id="change_password" name="change_password"><?php echo __('NEW_PASSWORD'); ?></button>
    </td>
    <td></td>
</tr>
</table>

</div>





<div id="dialog_logs_cultipi" style="display:none">
    <div id="div_title_output"><p class="p_center info_logs"><?php echo __('OUTPUT_LOGS'); ?>:</p></div>
    <div id="output_logs"></div>

    <div id="div_title_error"><p class="p_center error_logs"><?php echo __('ERROR_LOGS'); ?>:</p></div>
    <div id="error_logs"></div>
</div>


<div id="error_restart_service" title="" style="display:none">
    <p><?php echo __('ERROR_RESTART_SERVICE'); ?></p>
</div>

<div id="success_restart_service" title="" style="display:none">
    <p><?php echo __('SUCCESS_RESTART_SERVICE'); ?></p>
</div>


<div id="success_import_conf" title="<?php echo __('IMPORT_CONF'); ?>" style="display:none">
    <p><?php echo __('SUCCESS_IMPORT_CONF'); ?></p>
</div>


<div id="error_import_conf" title="<?php echo __('IMPORT_CONF'); ?>" style="display:none">
    <p><?php echo __('ERROR_IMPORT_CONF'); ?></p>
</div>

<div id="error_save_password" title="" style="display:none">
    <p><?php echo __('ERROR_SAVE_PASSWORD'); ?></p>
</div>

<div id="success_save_password" title="" style="display:none">
    <p><?php echo __('SAVED_PASSWORD'); ?></p>
</div>


<div id="dialog_change_password" title="<?php echo __('NEW_PASSWORD'); ?>" style="display:none">
    <form>
        <table class="table_width"> 
            <tr>
                <td class="conf-marge"></td>
                <td class="password-title"><?php echo __('NEW_PASSWORD'); ?>:</td>
                <td class="password-field"><input type="password" id="new_password" /></td>
                <td><div id="error_same_password" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_SAME_PASSWORD'); ?></div><div id="error_empty_password" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_EMPTY_PASSWORD'); ?></div></td>
            </tr>
            <tr>
                <td></td>
                <td><?php echo __('CONFIRM_NEW_PASSWORD'); ?>:</td>
                <td><input type="password" id="confirm_new_password" /></td>
                <td></td>
            </tr>
        </table>
        <p class="p_center"><input type="submit" id="save_password" value="<?php echo __('SAVE_PASSWORD'); ?>"></p>
    </form>
</div>


<script>expand("<?php echo $submenu; ?>");</script>
