<script>
   $("[title]").tooltip({ position: { my: "left+15 center", at: "right center" } });
</script>
<br />
<p class="title_conf"><?php echo __('TITLE_WEBCAM'); ?></p>
<br />
        <table class="table_width">
        <tr>
<?php for($i=0;$i<$GLOBALS['MAX_WEBCAM'];$i++) { ?>
            <td>
                <div id="webcam<?php echo $i; ?>" style="display:none"> 
                <img id="screen_webcam<?php echo $i; ?>" src="<?php echo $screen{$i}; ?>" title="" class="screenshot" alt="" />
                <div id="div_link_webcam<?php echo $i; ?>" style="display:none"><a href="" id="link_webcam<?php echo $i; ?>" name="<?php echo $i; ?>"><img src='/cultibox/main/libs/img/update_rpi.png' alt='' title="" /></a></div>
            </td>
<?php } ?>
        </tr>
        </table>

<?php for($i=0;$i<$GLOBALS['MAX_WEBCAM'];$i++) { ?>
    <div id="configure_webcam<?php echo $i; ?>" style="display:none">
        <table class="table_width">
        <tr>
        <td  class="conf-marge-cultipi"></td>
        <td class="conf-title-webcam"><?php echo __('BRIGHTNESS'); ?>: </td>
        <td class="conf-marge-cultipi"><div class="slider_div" id="brightness_slider<?php echo $i; ?>"></div></td>
        <td><input type="text" name="brightness" id="brightness<?php echo $i; ?>" value="<?php echo $webcam_conf[$i]['brightness']; ?>" size="4" readonly />%</td>
    </tr>
    <tr>
        <td></td>
        <td><?php echo __('CONTRAST'); ?>:</td>
        <td><div id="contrast_slider<?php echo $i; ?>" class="slider_div"></div></td>
        <td><input type="text" name="contrast" id="contrast<?php echo $i; ?>" value="<?php echo $webcam_conf[$i]['contrast']; ?>" size="4" readonly />%</td>
    </tr>
    <tr>
        <td></td>
        <td><?php echo __('RESOLUTION'); ?>:</td>
        <td>
            <select name="resolution_value" id="resolution_value<?php echo $i; ?>">
                <?php foreach( $GLOBALS['WEBCAM_RESOLUTION'] as $key) { ?>
                    <option value="<?php echo $key; ?>" <?php if(strcmp($webcam_conf[$i]['resolution'],"$key")==0) echo 'selected'; ?>><?php echo $key; ?></option>
                <?php } ?>
            </select>
            </div>
        </td>
        <td></td>
 </tr>
    <tr>
        <td></td>
        <td><?php echo __('PALETTE'); ?>:</td>
        <td>
            <select name="palette_value" id="palette_value<?php echo $i; ?>">
                <?php foreach( $GLOBALS['WEBCAM_PALETTE'] as $key) { ?>
                    <option value="<?php echo $key; ?>" <?php if(strcmp($webcam_conf[$i]['palette'],"$key")==0) echo 'selected'; ?>><?php echo $key; ?></option>
                <?php } ?>
            </select>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</div>
<?php } ?>

<div id="error_webcam" style="display:none" class="text_info">
    <?php echo __('ERROR_WEBCAM'); ?>
</div>

