<script>
   $("[title]").tooltip({ position: { my: "left+15 center", at: "right center" } });
</script>

<br />
<p class="title_conf"><?php echo __('WIZARD_INTRO'); ?></p>
<p class="wizard_subtitle"><?php echo __('WIZARD_CONFIGURE_PLUG_NUMBER'); ?><?php echo " $selected_plug: $plug_name"; ?></p>
<form action="/cultibox/index.php?menu=wizard" method="post" name="submit_wizard" id="submit_wizard">

    <p id="title_step" class="step"><?php echo __('WIZARD_STEP')."&nbsp;"; ?><label id="nb_step"><?php echo $step."/2:";?></label></p>
    <br />
    <hr />
    <br />
    <div id="step1">
    <table class="table_width">
        <tr>
            <td></td>
            <td>
                <p class="step_info" id="subtitle_step1">
                    <?php
                        if($selected_plug==1) {
                            echo __('WIZARD_FIRST_USE');
                        } else {
                            echo "<b>".__('WIZARD_CONFIGURE_OTHER_PLUG')." $selected_plug:</b> ".__('WIZARD_OTHER_PLUG_NUMBER');
                        } 
                    ?>
                </p>
                <br />
                <p class="step_info" id="subtitle_step1_bis">
                    <?php
                        if($selected_plug==1) {
                            echo __('WIZARD_PLUG_TYPE'); 
                        } else {
                            echo __('WIZARD_OTHER_PLUG_TYPE');
                        } 
                    ?>
                </p>
                <p class="step_info" id="subtitle_step2" style="display:none">
                    <?php
                        if($selected_plug==1) {
                            echo __('WIZARD_PLUG_LAMP');
                        } else {
                            echo __('WIZARD_PLUG_PROGRAM'); 
                        } 
                    ?>
                </p>
            </td>
            <td class="wizard-marge"></td>
        </tr>
    </table>
    <br />
    <hr />
    <br />
            <table class="table_width">
            <tr>
                <td class="wizard-marge-td"></td>
                <td class="wizard-title"><?php echo __('TYPE_PLUG')." $selected_plug:"; ?></td>
                <td>
                    <select name="plug_type" id="plug_type" <?php if($selected_plug==1) echo 'disabled'; ?>>
                        <option <?php if($plug_type{$i} == "lamp") { echo 'selected';} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
                        <option <?php if($plug_type{$i} == "ventilator") { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
                        <option <?php if($plug_type{$i} == "extractor") { echo 'selected';} ?> value="extractor"><?php echo __('PLUG_EXTRACTOR'); ?></option>
                        <option <?php if($plug_type{$i} == "intractor") { echo 'selected';} ?> value="intractor"><?php echo __('PLUG_INTRACTOR'); ?></option>
                        <option <?php if($plug_type{$i} == "heating") { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
                        <option <?php if($plug_type{$i} == "pump") { echo 'selected';} ?> value="pump"><?php echo __('PLUG_PUMP'); ?></option>
                        <option <?php if($plug_type{$i} == "pumpfilling") { echo 'selected';} ?> value="pumpfilling"><?php echo __('PLUG_PUMPFILLING'); ?></option>
                        <option <?php if($plug_type{$i} == "pumpempting") { echo 'selected';} ?> value="pumpempting"><?php echo __('PLUG_PUMPEMPTING'); ?></option>
                        <option <?php if($plug_type{$i} == "humidifier") { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
                        <option <?php if($plug_type{$i} == "dehumidifier") { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
                        <option <?php if($plug_type{$i} == "co2") { echo 'selected';} ?> value="co2"><?php echo __('PLUG_CO2'); ?></option>
                        <option <?php if($plug_type{$i} == "other") { echo 'selected';} ?> value="other"><?php echo __('PLUG_UNKNOWN'); ?></option>
                     </select>
                    <?php if($selected_plug==1) { ?>
                        <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_AVANCED_PLUG_WIZARD'); ?>" />
                    <?php } ?>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><?php echo __('PLUG_MAX_POWER'); ?>:</td>
                <td>
                    <?php if($selected_plug <= $GLOBALS['NB_MIN_PLUG']) { ?>
                        <label class="readonly" id="plug_power_maximal<?php echo $i; ?>"><?php echo $plug_power_max; ?>W</label>
                        <?php if($plug_power_max==3500) { ?>
                            <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_3500'); ?>" />
                        <?php } else { ?>
                            <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_1000'); ?>" />
                        <?php } ?>
                    <?php } else { ?>
                        <table>
                            <tr>
                                <td><input type= "radio" name="plug_power_max" value="1000" <?php if(strcmp($plug_power_max,"1000")==0) { echo "checked"; } ?>>1000W<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_1000'); ?>" /></td>
                                <td><input type= "radio" name="plug_power_max" value="3500" <?php if(strcmp($plug_power_max,"3500")==0) { echo "checked"; } ?>>3500W<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_3500'); ?>" /></td>
                                <td><input type= "radio" name="plug_power_max" value="VARIO" <?php if(intval($plug_power_max)<10) { echo "checked"; } ?>><?php echo __('DIMMER'); ?><img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_DIMMER'); ?>" /></td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class="canal-vario"><div id="select_canal_dimmer" name="select_canal_dimmer" style="<?php if(intval($plug_power_max)>10) { echo 'display:none'; } ?>"><?php echo __('CANAL'); ?>:<select id="dimmer_canal" name="dimmer_canal"><?php for($j=1;$j<=$GLOBALS['NB_MAX_CANAL_DIMMER'];$j++) { ?><option value="<?php echo $j; ?>" <?php if(intval($plug_power_max)==$j) { echo ' selected'; } else  { if(!$status[$j-1]) { echo ' disabled'; } } ?>><?php echo $j; ?></option><?php } ?></select></div></td>
                        </tr>
                        </table>
                    <?php } ?>
                </td>
            </tr>
            </table>
    </div>

    <div id="step2" style="<?php if(($step==1)&&($selected_plug!=1)) echo 'display:none'; ?>">
    <table class="table_width">
       <tr>
          <td class="wizard-marge-td"></td>
      <td class="wizard-title"><input type="hidden" name="program" value="program"><?php echo __('START_TIME_EQUIPMENT'); ?>:</td>
          <td><input type="text" size="10" name="start_time" id="start_time" value="<?php echo $start_time ?>"/></td>
          <td><div id="error_start_time" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_FORMAT_TIME_START'); ?></div><div id="error_same_start" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_SAME_TIME'); ?></div></td>
        </tr>
        <tr>
          <td></td>
      <td><?php  echo __('END_TIME_EQUIPMENT'); ?>:</td>
          <td><input type="text" size="10" name="end_time" id="end_time" value="<?php echo $end_time ?>"/></td>
          <td><div id="error_end_time" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_FORMAT_TIME_END'); ?></div><div id="error_same_end" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_SAME_TIME'); ?></div></td>
        </tr>
       <tr>
         <td></td>
         <td><label id="value_wished"></label><img src="main/libs/img/infos.png" id="tooltip_value" alt="" title="<?php echo __('TOOLTIP_VALUE'); ?>" style="<?php if($selected_plug==1) echo 'display:none'; ?>"/></td>
         <td><div id="value_prog_div"></div></td>
        <td><div id="error_value_program" class="error_field" style="display:none"></div></td>
        </tr>
    </table>
    </div>

    <br />
    <hr />
    <br />
    <table>
    <tr>
    <td class="wizard-marge-submit"></td>
    <td class="wizard-input-submit"><input type=submit name="close" id="close" value="<?php echo __('CLOSE_WIZARD'); ?>"></td>
    <td class="wizard-input-previous"><input type=submit name="previous" id="previous" value="<?php echo __('WIZARD_PREVIOUS_STEP'); ?>" <?php if(($selected_plug==1)||($step==1)) { echo 'style="display:none"'; } ?>></td>
    <td class="wizard-input-previous"><input type=submit name="next" id="next" value="<?php echo __('WIZARD_NEXT_STEP'); ?>" <?php if($selected_plug==1) { echo 'style="display:none"'; } ?>></td>
    <td class="wizard-input-submit">
    <input type=submit name="next_plug" id="next_plug" value="<?php echo __('WIZARD_OTHER_STEP'); ?>" <?php if($selected_plug>1) { echo 'style="display:none"'; } ?>>
    <input type=submit name="finish" id="finish" value="<?php echo __('WIZARD_FINISH_STEP'); ?>" <?php if($selected_plug>1) { echo 'style="display:none"'; } ?>>
    </td>
        </tr>
    </table>
</form>


<div class="popup_error" id="error_update_conf" title="" style="display:none">
    <p><?php echo __('ERROR_UPDATE_CONF'); ?></p>
</div>
