[Desktop Entry]
Name=Cultibox
GenericName=Cultibox
Exec=/usr/bin/firefox http://localhost:6891/cultibox/
Terminal=false
Icon=/opt/lampp/cultibox.png
Type=Application
Categories=Application;
Version=1.1.4
Encoding=UTF-8
Comment=Cultibox
