/*
 * Custom Style Sheet - Use this file to style your content
 */

.margleft {
 margin-left: 15px;
}

 .noborder {
   border: 0px none;
 }
 
 .right {
	float: right;
 }
 
.img-cultibox {
	border: 0px none;
	float: right;
}
 
.text-cultibox {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: small; 
    color: #151515; 
    line-height: normal; 
    text-align:justify;
}

.text-cultibox-p {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: small; 
    color: #151515; 
    line-height: normal; 
    text-indent: 15px; 
    text-align:justify;
}

.text-family {
    font-family: arial, helvetica, sans-serif;
}

.text-cultibox-bulle {
    text-align:justify;
    text-indent: 15px;
	font-size: 13px;
}


li.list-cultibox {
    margin-bottom:10px;
} 

table.table_width{
   width: 100%;
}

td.td_width {
   width: 20%;
}

td.td_width_75 {
   width: 75%;
}


p.p_center{
    text-align: center;
}

.soustitre_achat {
    font-size: 12px;
}


a:link {color:#93982a;}
a:visited {color:#93982a;}
a:hover{
    color:#C3B59B;
}


h2 { 
    color: #93982a;
}

h4 {
    font-size: 18px;
}
