/* Force vertical scrollbar in non-IE + force height of the body element to fit at least the browser window */
html {
	overflow-y: scroll;
	min-height: 100%;
}

/* Create a stacking context to prevent z-index issues */
body { position: relative; }

/* Remove outline when clicking links: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/* Removes scrollbar in IE */
textarea { overflow: auto; }

img::-moz-selection { background: transparent; }

/* Remove borders */
fieldset,
img,
iframe { border: 0; }

/* Hand cursor on clickable input elements */
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='image'],
input[type='radio'],
input[type='reset'],
select, button, label { cursor: pointer; }


article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section { display: block; }


body { margin: 0; }

/* Block Space */
p, hr,
ul, ol, dl,
blockquote, pre,
fieldset, figure { margin: 10px 0; }

h1, h2, h3, h4, h5, h6 { margin: 25px 0 15px 0; }

/* Lists */
ul, ol, dl { padding-left: 30px }
dd { margin-left: 40px; }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 36px; line-height: 36px; }
h2 { font-size: 24px; line-height: 24px; }
h3 { font-size: 18px; line-height: 18px; }
h4, h5, h6 { font-size: 16px; line-height: 16px; }

/* Links */
a, a:hover { text-decoration: none; }

/* Text-level Semantics */
small { font-size: 11px; }

ins { text-decoration: none; }
del { text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
dfn[title] { font-style: normal; }

/* Horizontal Rule */
hr {
	display: block;
	height: 1px;
	padding: 0;
	border: 0;
	border-top: 1px solid;
}

/* Quotes */
q, blockquote {
	quotes: '\201C' '\201D' '\2018' '\2019';
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
	
blockquote {
	padding: 0 20px;
	font-size: 16px;
	line-height: 22px;
}

blockquote:before { content: '\201C'; }
blockquote:after { content: '\201D'; }

/* Code */
code, pre { font-family: "Courier New", Courier, monospace; }

code { word-spacing: -2px; }

pre {
	padding: 10px;
	font-size: 12px;
	line-height: 18px;
	white-space: pre-wrap;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td { padding: 1px; }

/* Forms */
input, select { vertical-align: middle; }

select, input, textarea, button { font: 12px Arial, sans-serif; }

form, textarea { margin: 0; }
legend, fieldset, input { padding: 0; }

textarea,
input[type='text'],
input[type='password'],
select { padding: 2px; }
select { line-height: 19px; } /* Needed for Safari */

button,
input[type='button'],
input[type='submit'] { padding: 2px 3px; }


.wrapper { max-width: 980px; }
#maininner { }
#menu .dropdown { max-width: 250px; }
#menu .columns2 { max-width: 500px; }
#menu .columns3 { max-width: 750px; }
#menu .columns4 { max-width: 1000px; }

/* Headlines */
h1, h2, h3, h4, h5, h5, h6 { 
	text-transform: none; 
	color: #c3b59b;
	font-size: 30px;
}

h1{
	font-size: 14px;
    font-weight:bold;
    color: #7C502F;
    font-style:italic;
}

h4, h5, h6 { font-size: 14px; line-height: 14px; }

a { color: #777779; }

a:hover,
em, code { color: #222224; }

ins, mark { background-color: #ffa; }
mark { color: #444; }

hr { border-top-color: #d2d2d4; }

pre {
	border: 1px solid #d2d2d4;
	border-top-color: #a2a2a4;
	border-radius: 4px;
	background: #fefeff;
	box-shadow: inset 0 0 12px rgba(0,0,2,0.04);
}


a:not([class]):active,
a:not([class]):focus {
	position: relative;
	top: 1px;
}

a:not([class]):active > *,
a:not([class]):focus > * {
	position: relative;
	top: -1px;
}
.clearfix:before,
.clearfix:after,
.grid-block:before,
.grid-block:after,
.deepest:before,
.deepest:after {
    content: "";
    display: table;
}
.clearfix:after,
.grid-block:after,
.deepest:after { clear: both; }

.grid-box { float: left; }

/* Grid Units */
.width16 { width: 16.666%; }
.width20 { width: 20%; }
.width25 { width: 25%; }
.width33 { width: 33.333%; }
.width40 { width: 40%; }
.width50 { width: 50%; }
.width60 { width: 60%; }
.width66 { width: 66.666%; }
.width75 { width: 75%; }
.width80 { width: 80%; }
.width100 { width: 100%; }

/* Align Boxes */
.float-left { float: left; }
.float-right { float: right; }

/* Grid Gutter */
.grid-gutter.grid-block { margin: 15px -15px 0 -15px; }
.grid-gutter.grid-block:first-child { margin-top: 0; }
.grid-gutter > .grid-box > * { margin: 0 15px; }


/* Center Page */
.wrapper { margin: auto; }

/* Header */
#header { position: relative; }

#headerbar .module {
    max-width: 300px;
    margin-right: 0;
    float: right;
}

#logo, #logo > img,
#menu { float: left; }

#footer {
    position: relative;
    text-align: center;
}

/* Absolute */
#absolute {
    position:absolute;
    z-index:15;
    width:100%;
}


.module,
#header,
#content { 
	margin: 5px; 
}

#menu .module {
	margin: 10px;
	color: #a2a2a4;
	text-shadow: 0 1px 0 rgba(0,0,2,0.3);
}

#footer { background: url(../images/fond_interface_footer.png) 50% 0 no-repeat; }
#footer .module { margin: 0; }

#header { 
	margin-top: 10px; 
	margin-bottom: 0px; 
}


#headerbar { 
	margin-bottom: 25px; 
}

#main {
	background: url(../images/fond_interface.png) 50% 0 no-repeat;
}

#system {
	padding-left:15px;
	padding-right:15px;	
}

#menubar {
	height: 30px;
	padding: 0px;
	padding-left:90px;
	margin-top:15px;
	margin-top:0px;
	padding-bottom:4px;
	border: 1px solid rgba(0,0,2,0.8);
	box-shadow:
		inset 0 1px 0 rgba(253,253,255,0.2),
		0 1px 1px rgba(0,0,2,0.2);
	border-bottom: 1px solid #c3b59b;
	border: none;
	border-radius: 12px;
	box-shadow: none;
	background:#c3b59b;
}

#maininner {
    width: 100%;
}

/* Content */
#content {
	padding: 13px;
	border-radius: 7px;
}

#headerbar {
	margin-bottom: 10px;
}

#logo p{
	margin-top:0px;
	margin-bottom:0px;
}

.content {
	font-size:13px;
}

#menu {
	margin:0;
}

#system h1.title{
	font-size:0px;
    line-height: 0px;
	margin: 0;
}

#system .item > header .title {
	font-size:30px;
	line-height: 36px;
	border-bottom:1px solid #e3ddd1;
}

#footer {
    color: #4d6c88;
    text-shadow: 0 1px 0 rgba(253,253,255,0.5);
}

body#page.page {
    background: #bdd2e5 url(../../images/texture/noise/page.jpg) 0 0 repeat;
    background: transparent;
}

html{
    background: #e3ddd1 url(../images/fond_page_bottom.png) 0 100% repeat-x;
}

div.mod-languages ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
div.mod-languages li {
    margin-left: 5px;
    margin-right: 5px;
}

div.mod-languages ul.lang-inline li {
    display:inline;
}
