<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
timeOnlyTitle: '<?php echo __(TIMEPICKER_SELECT_TIME); ?>',
showSecond: true,
timeFormat: 'hh:mm:ss',
timeText: '<?php echo __(TIMEPICKER_TIME); ?>',
hourText: '<?php echo __(TIMEPICKER_HOUR); ?>',
minuteText: '<?php echo __(TIMEPICKER_MINUTE); ?>',
secondText: '<?php echo __(TIMEPICKER_SECOND); ?>',
currentText: '<?php echo __(TIMEPICKER_NOW); ?>'
});
$('#end_time').timepicker({
timeOnlyTitle: '<?php echo __(TIMEPICKER_SELECT_TIME); ?>',
showSecond: true,
timeFormat: 'hh:mm:ss',
timeText: '<?php echo __(TIMEPICKER_TIME); ?>',
hourText: '<?php echo __(TIMEPICKER_HOUR); ?>',
minuteText: '<?php echo __(TIMEPICKER_MINUTE); ?>',
secondText: '<?php echo __(TIMEPICKER_SECOND); ?>',
currentText: '<?php echo __(TIMEPICKER_NOW); ?>'
});
});
</script>


<div id="info">
        <?php echo $info; ?>
</div>

<div id="error">
        <?php echo $return; ?>
</div>

<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
<table>
<tr>
<td>
	<?php echo __('SELECT_PLUG_PROGRAM'); ?>
</td>
<td>
	 <select name="plug_id">
		<?php foreach($plugs_infos as $plug) { ?>
              		<option value="<?php echo $plug[id]; ?>" <?php if("$selected_plug"=="$plug[id]") echo "selected";?>><?php echo $plug[PLUG_NAME]; ?></option>
		<?php } ?>
        </select>
</td>
<td>
<INPUT type="submit" value=<?php echo __(PROGRAM_CONF); ?>>
</td>
</tr>
</table>
</form>


<?php if(!empty($selected_plug)&&(isset($selected_plug))) { ?>

<script type="text/javascript">
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'container',
			type: 'spline'
		},
		title: {
			text: <?php echo "'".__(CURRENT_PLUG_PROGRAM)."'"; ?>
		},
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: { // don't display the dummy year
				hours: '%H',
				minutes: '%M',
				seconds: '%S'
			},
			min: 0,
			max: 86399999
		},
		yAxis: {
			min: -1,
			max: 2
		},
		tooltip: {
			formatter: function() {
					return '<b>'+ this.series.name +'</b><br/>'+
					Highcharts.dateFormat('%H:%M:%S', this.x) +': '+ this.y +' m';
			}
		},
		
		series: [{
			name: 'Winter 2007-2008',
			// Define the data points. All series have a dummy year
			// of 1970/71 in order to be compared on the same x axis. Note
			// that in JavaScript, months start at 0 for January, 1 for February etc.
			data: [
				<?php echo $data; ?>
			]
		}]
	});
});

</script>
<br />
<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>


<br /><br />
<?php echo __(CONFIGURE_PROGRAM); ?>:

<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
<table>
<tr>
<td><?php echo __(START_TIME_PROGRAM); ?></td>
<td> <input type="text" name="start_time" id="start_time" value="" /></td>
</tr>
<tr>
<td><?php echo __(END_TIME_PROGRAM); ?></td>
<td><input type="text" name="end_time" id="end_time" value="" /></td>
</tr>
<tr>
<td><?php echo __(VALUE_ON_OFF); ?></td>
<td>
<select name="value_program">
	<option value="off" selected><?php echo __(VALUE_OFF); ?></option>
	<option value="on" selected><?php echo __(VALUE_ON); ?></option>
        </select>
</tr>
</table>
<input type="submit" value=<?php echo __(APPLY_PROGRAM); ?>>
<input type="hidden" name="plug_id" value="<?php echo $selected_plug; ?>">

</form>
<?php } ?>
