<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_message"); ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_error_message"); ?>
       </div>
<?php } ?>


<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<img src="main/libs/img/informations.png" alt=""><b><?php echo __("INFORMATIONS").":"; ?></b>
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<img src="main/libs/img/warning.png" alt=""><b><?php echo __("ERROR_MESSAGE").":"; ?></b>
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>

<?php } 

if(!isset($sd_card)) $sd_card="";
?>
<br /><br />

<script>


    $(document).ready(function() {
        $('#calendar').fullCalendar({
        
            editable: true,
            dragable: true,
            selectable: true,
            unselectable: true,
            theme: true,
            monthNames:["<?php echo __('MONTH01'); ?>","<?php echo __('MONTH02'); ?>","<?php echo __('MONTH03'); ?>","<?php echo __('MONTH04'); ?>","<?php echo __('MONTH05'); ?>","<?php echo __('MONTH06'); ?>","<?php echo __('MONTH07'); ?>","<?php echo __('MONTH08'); ?>","<?php echo __('MONTH09'); ?>","<?php echo __('MONTH10'); ?>","<?php echo __('MONTH11'); ?>","<?php echo __('MONTH12'); ?>"],
            monthNamesShort:["<?php echo __('M01'); ?>","<?php echo __('M02'); ?>","<?php echo __('M03'); ?>","<?php echo __('M04'); ?>","<?php echo __('M05'); ?>","<?php echo __('M06'); ?>","<?php echo __('M07'); ?>","<?php echo __('M08'); ?>","<?php echo __('M09'); ?>","<?php echo __('M10'); ?>","<?php echo __('M11'); ?>","<?php echo __('M12'); ?>"],
            dayNames: ["<?php echo __('DAY07'); ?>","<?php echo __('DAY01'); ?>","<?php echo __('DAY02'); ?>","<?php echo __('DAY03'); ?>","<?php echo __('DAY04'); ?>","<?php echo __('DAY05'); ?>","<?php echo __('DAY06'); ?>"],
            dayNamesShort: ["<?php echo __('D07'); ?>","<?php echo __('D01'); ?>","<?php echo __('D02'); ?>","<?php echo __('D03'); ?>","<?php echo __('D04'); ?>","<?php echo __('D05'); ?>","<?php echo __('D06'); ?>"],
            buttonText: { today: "<?php echo __('TODAY'); ?>"}, 
            select: function(start, end, allDay) {
                $("#edit_start_date").text($.fullCalendar.formatDate(start, "yyyy-MM-dd"));
                     if(end) {
                        $("#edit_stop_date").text($.fullCalendar.formatDate(end, "yyyy-MM-dd"));
                     }else {
                        $("#edit_stop_date").text($.fullCalendar.formatDate(start, "yyyy-MM-dd"));
                }

                $("#select_remark").val("");

                $("#select_color").val("#000000"); 
                $('#colour').css({'background-color' : '#000000'});


                $("#dialog_create").dialog({
                        resizable: true,
                        width: 600,
                        modal: true,
                        buttons: {
                            "<?php echo __('CREATE_DIALOG_CALENDAR','highchart'); ?>": function() { 
                                        $( this ).dialog( "close" ); 
                
                                        new_start=$.fullCalendar.formatDate( start, "yyyy-MM-dd HH:mm:ss");
                                        new_end=$.fullCalendar.formatDate( end, "yyyy-MM-dd HH:mm:ss");        
                                        var title=$('#select_title option:selected').val(); 
                                        var description=$('#select_remark').val();  
                                        var color=$('#select_color').val();
                                        if(!description) {
                                            description="";
                                        }
                                        if (title) {
                                            $('#calendar').fullCalendar('renderEvent', {
                                            title: title,
                                            start: new_start,
                                            end: new_end,
                                            description: description,
                                            color: color,
                                            external: external
                                        });

                                        if(!color) {
                                            color="#000000";
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "http://localhost:6891/cultibox/main/modules/json-events/json-add-events.php",
                                            data: 'title='+title+'&start='+new_start+'&end='+new_end+'&desc='+description+'&color='+color+'&card=<?php echo $sd_card; ?>'
                                        });
                                        }
                                        $('#calendar').fullCalendar('unselect');
                                        $('#calendar').fullCalendar( 'refetchEvents' );
                                        $('#calendar').fullCalendar( 'rerenderEvents' );
                                        $("#select_remark").text("");
                                        $("#select_remark").val("");
                                        delete event;
                                        <?php if((isset($sd_card))&&(!empty($sd_card))) { ?>
                                            $.blockUI({ message: '', timeout: 1000 }); 
                                        <?php } ?> 
                                        return false;
                        },
                    "<?php echo __('CANCEL_DIALOG_CALENDAR','highchart'); ?>": function() { $( this ).dialog( "close" ); return false;}
                        }
                    });

            },
            events: "http://localhost:6891/cultibox/main/modules/json-events/json-events.php",
            
            eventDrop: function(event, delta) {
                if(event.external) {
                    $('#calendar').fullCalendar( 'refetchEvents' );
                    $('#calendar').fullCalendar( 'rerenderEvents' );
                    return false;
                }

                new_start=$.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
                if(!event.end) {
                    event.end=event.start
                }

                new_end=$.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");


                $.ajax({
                      type: "POST",
                      url: "http://localhost:6891/cultibox/main/modules/json-events/json-update-events.php",
                      data: 'title='+event.title+'&start='+ new_start +'&end='+ new_end +'&id='+event.id+'&color='+event.color+'&card=<?php echo $sd_card; ?>'
                });
                <?php if((isset($sd_card))&&(!empty($sd_card))) { ?>
                    $.blockUI({ message: '', timeout: 1000 }); 
                <?php } ?> 

            },
            eventResize: function( event, dayDelta, minuteDelta) { 
                if(event.external) {
                    $('#calendar').fullCalendar( 'refetchEvents' );
                    $('#calendar').fullCalendar( 'rerenderEvents' );
                    return false;
                }
                new_start=$.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
                if(!event.end) {
                    event.end=event.start
                }

                new_end=$.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");


                $.ajax({
                      type: "POST",
                      url: "http://localhost:6891/cultibox/main/modules/json-events/json-update-events.php",
                      data: 'title='+event.title+'&start='+ new_start +'&end='+ new_end +'&id='+event.id+'&color='+event.color+'&card=<?php echo $sd_card; ?>'
                });
                <?php if((isset($sd_card))&&(!empty($sd_card))) { ?>
                    $.blockUI({ message: '', timeout: 1000 }); 
                <?php } ?> 
            },
            eventClick: function(event, element) {
                     $("#title").text(event.title);
                     $("#start_date").text($.fullCalendar.formatDate(event.start, "yyyy-MM-dd"));
                     if(event.end) {
                        $("#stop_date").text($.fullCalendar.formatDate(event.end, "yyyy-MM-dd"));
                     }else {
                        $("#stop_date").text($.fullCalendar.formatDate(event.start, "yyyy-MM-dd"));
                     }
                     if(event.description) {
                        $("#remark").text(event.description);
                     }
                     
                     $("#dialog_edit").dialog({
                        resizable: true,
                        width: 600,
                        modal: true,
                        buttons: {
                            "<?php echo __('EDIT_DIALOG_CALENDAR','highchart'); ?>": function() { 
                                $( this ).dialog( "close" ); 


                                $('#select_title option[value="'+event.title+'"]').prop('selected', true);
                                $("#edit_start_date").text($.fullCalendar.formatDate(event.start, "yyyy-MM-dd"));
                                if(event.end) {
                                    $("#edit_stop_date").text($.fullCalendar.formatDate(event.end, "yyyy-MM-dd"));
                                }else {
                                     $("#edit_stop_date").text($.fullCalendar.formatDate(event.start, "yyyy-MM-dd"));
                                }
                                if(event.description) {
                                     $("#select_remark").val(event.description);
                                }

                                if(event.color) {
                                   $("#select_color").val(event.color); 
                                   $('#colour').css({'background-color' : event.color});
                                }

                                $("#dialog_create").dialog({
                                resizable: true,
                                modal: true,
                                width: 600,
                                buttons: {
                                    "<?php echo __('SAVE_DIALOG_CALENDAR','highchart'); ?>": function() { 
                                        $( this ).dialog( "close" ); 
        
                                        new_start=$.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
                                        if(!event.end) {
                                            new_end=$.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");        
                                        } else {
                                            new_end=$.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");        
                                        }

                                        var title=$('#select_title option:selected').val(); 
                                        var color=$('#select_color').val();
                                        var description=$('#select_remark').val();
                                        if(!description) {
                                            description="";
                                        }
                                        if (title) {
                                            $('#calendar').fullCalendar('renderEvent', {
                                            title: title,
                                            start: new_start,
                                            end: new_end,
                                            description: description,
                                            color: color
                                        });

                                        if(!color) {
                                            color="#000000";
                                        }


                                        $.ajax({
                                            type: "POST",
                                            url: "http://localhost:6891/cultibox/main/modules/json-events/json-update-events.php",
                                            data: 'title='+title+'&start='+new_start+'&end='+new_end+'&desc='+description+'&id='+event.id+'&color='+color+'&card=<?php echo $sd_card; ?>'
                                        });
                                        }
                                        event.title=title;
                                        event.description=description;
                                        event.color=color;
                                        $('#calendar').fullCalendar('removeEvents', event.id);
                                        $('#calendar').fullCalendar('updateEvent', event);
                                        $('#calendar').fullCalendar( 'refetchEvents' );
                                        $('#calendar').fullCalendar( 'rerenderEvents' );
                                        $("#select_remark").text("");
                                        $("#select_remark").val("");

                                        delete event;
                                        <?php if((isset($sd_card))&&(!empty($sd_card))) { ?>
                                            $.blockUI({ message: '', timeout: 1000 }); 
                                        <?php } ?> 

                                        return false;
                                    },
                                    "<?php echo __('CANCEL_DIALOG_CALENDAR','highchart'); ?>": function() { $( this ).dialog( "close" ); return false;}
                            }
                            });
                        },
                            "<?php echo __('REMOVE_DIALOG_CALENDAR','highchart'); ?>": 
                            function() { 
                                        $( this ).dialog( "close" ); 
                                        $.ajax({
                                            type: "POST",
                                            url: "http://localhost:6891/cultibox/main/modules/json-events/json-remove-events.php",
                                            data: 'id='+event.id+'&card=<?php echo $sd_card; ?>'
                                        });
                                        $('#calendar').fullCalendar('removeEvents', event.id);
                                        $('#calendar').fullCalendar( 'refetchEvents' );
                                        $('#calendar').fullCalendar( 'rerenderEvents' );
                                        <?php if((isset($sd_card))&&(!empty($sd_card))) { ?>
                                            $.blockUI({ message: '', timeout: 1000 }); 
                                        <?php } ?> 
                            },
                            "<?php echo __('CANCEL_DIALOG_CALENDAR','highchart'); ?>": function() { $( this ).dialog( "close" ); return false;}
                        }
                    });

                     if(event.external) {
                                    $(".ui-dialog-buttonpane button:contains('<?php echo __('EDIT_DIALOG_CALENDAR','highchart'); ?>')").attr("disabled", true).addClass("ui-state-disabled");
                                    $(".ui-dialog-buttonpane button:contains('<?php echo __('REMOVE_DIALOG_CALENDAR','highchart'); ?>')").attr("disabled", true).addClass("ui-state-disabled");
                     }

        },
            eventRender: function(event, eventElement) {
                var iconurl=null;
                
                if(event.icon) {
                   if(event.icon.search('http')>-1) {
                        iconurl=event.icon;
                    } else {
                        iconurl="http://localhost:6891/cultibox/main/modules/img/"+event.icon;
                    }

                    if (eventElement.find('span.fc-event-time').length) {
                        eventElement.find('span.fc-event-time').before("<img src='"+iconurl+"'  style='width:15px;height:15px'/>");
                    } else {
                        eventElement.find('span.fc-event-title').before("<img src='"+iconurl+"'  style='width:15px;height:15px'/>");
                    }
                }
            },

            loading: function(bool) {
                if (bool) $('#loading').show();
                else $('#loading').hide();
            }
            
        });
        
    });



</script>

<div id='calendar'></div>

<div id="dialog_edit" title="<?php echo __('WHAT_DIALOG_CALENDAR'); ?>" style="display:none">
<table class="table_width">
<tr>
    <td><b><?php echo __('CALENDAR_SUBJECT'); ?>:</b></td>
    <td><span id="title"></span></td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_START_DATE'); ?>:</b></td>
    <td><span id="start_date"></span></td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_STOP_DATE'); ?>:</b></td>
    <td><span id="stop_date"></span></td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_REMARK'); ?>:</b></td>
    <td><span id="remark"></span></td>
</tr>
</table>
</div>



<div id="dialog_create" title="<?php echo __('MANAGE_CALENDAR'); ?>" style="display:none">
<form>
<table class="table_width">
<tr>
    <td><b><?php echo __('CALENDAR_SUBJECT'); ?>:</b></td>
    <td><select id="select_title">
 <?php foreach($GLOBALS['LIST_SUBJECT_CALENDAR'] as $value) {
               $old=array('&eacute;', '&egrave;','&agrave;','&ecirc;');
               $new=array('e', 'e','a','e');


            switch ($value) {
            case 'Beginning':
               echo "<option value=\"".__('SUBJECT_START')."\">".__('SUBJECT_START')."</option>";
               break;
            case 'Fertilizers':
               echo "<option value=\"".__('SUBJECT_FERTILIZERS')."\">".__('SUBJECT_FERTILIZERS')."</option>";
               break;
            case 'Water':
               echo "<option value=\"".__('SUBJECT_WATER')."\">".__('SUBJECT_WATER')."</option>";
               break;
            case 'Bloom':
               echo "<option value=\"".__('SUBJECT_BLOOM')."\">".__('SUBJECT_BLOOM')."</option>";
               break;
            case 'Harvest':
               echo "<option value=\"".__('SUBJECT_HARVEST')."\">".__('SUBJECT_HARVEST')."</option>";
               break;
            case 'Other':
               echo "<option value=\"".__('SUBJECT_OTHER')."\">".__('SUBJECT_OTHER')."</option>";
               break;
         }
      } ?></select>
    </td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_START_DATE'); ?>:</b></td>
    <td><span id="edit_start_date"></span></td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_STOP_DATE'); ?>:</b></td>
    <td><span id="edit_stop_date"></span></td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_REMARK'); ?>:</b></td>
    <td><textarea rows="3" cols="30" id="select_remark"></textarea> 
</td>
</tr>
<tr>
    <td><b><?php echo __('CALENDAR_COLOR'); ?>:</b></td>
    <td><div id="jquery-colour-picker-example">
        <select id="colour" name="colour">
            <?php 
                for($i=0; $i<6; $i++) {
                    for($j=0; $j<6; $j++) {
                        for($k=0; $k<6; $k++) {
                            $c = $GLOBALS['LIST_GRAPHIC_COLOR_CALENDAR'][$i] .$GLOBALS['LIST_GRAPHIC_COLOR_CALENDAR'][$j] .$GLOBALS['LIST_GRAPHIC_COLOR_CALENDAR'][$k];
                            echo "<option value=\"$c\">#$c</option>\n";
                        }
                    }
                }
            ?>
        </select>
</div></td>
</tr>
</table>
<input type="hidden" id="select_color" value="">
</form>
</div>

<br />
<form action="calendar-<?php echo $_SESSION['SHORTLANG']; ?>" method="post" id="reset_calendar_form">
    <input type="hidden" id="reset_calendar_submit" name="reset_calendar_submit" value="<?php echo __('MANAGE_RESET_CALENDAR'); ?>">
<p class="p_right">
    <input type="submit" id="reset_calendar" name="reset_calendar" class="delete" value="<?php echo __('MANAGE_RESET_CALENDAR'); ?>">
</p>
</form>
<div id="reset_dialog_calendar" title="<?php echo __('CONFIRMATION'); ?>" style="display:none">
<p><?php echo __('RESET_CONFIRM_CALENDAR'); ?></p>
</div>
<br />



