<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_message"; ?>');
   </SCRIPT>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_error_message"; ?>');
   </SCRIPT>
<?php } ?>


<?php if((isset($info))&&(!empty($info))) { ?>
   <div id="info">
      <ul>
         <?php echo $info; ?>
      </ul>
   </div>
<?php } ?>

<?php if((isset($error))&&(!empty($error))) { ?>
   <div id="error">
      <ul>
         <?php echo $error; ?>
      </ul>
   </div>
   <br />
<?php } ?>

<p class="p_center"><iframe src="main/modules/calendar/index.php?lang=<?php echo $lang; ?>" height="600" width="700"></iframe>
