<script>
function verifDigit(e) {
   if((e.keyCode < 48 || e.keyCode > 57)&&(e.keyCode != 46 &&  e.keyCode != 44 && e.keyCode != 08 && e.keyCode != 10 && e.keyCode != 13)) e.returnValue = false;
   if((e.which < 48 || e.which > 57)&&(e.which != 46 && e.which != 44 && e.which != 08 && e.which != 10 && e.which != 13)) return false;
}
</script>

<script>
   function getAlarm(i) {
      var divAval = document.getElementById('div_alarm_value');
      var divAsenso = document.getElementById('div_alarm_senso');
      var divAsenss = document.getElementById('div_alarm_senss');
      var labelAsenss = document.getElementById('label_alarm_senss');
      var labelAsenso = document.getElementById('label_alarm_senso');
      var labelAvalue = document.getElementById('label_alarm_value');

      switch(i) {
         case 0 : divAval.style.display = ''; divAsenso.style.display = ''; divAsenss.style.display = ''; labelAvalue.style.display = ''; labelAsenso.style.display = ''; labelAsenss.style.display = '';break;
         case 1 : divAval.style.display = 'none'; divAsenso.style.display = 'none'; divAsenss.style.display = 'none'; labelAvalue.style.display = 'none'; labelAsenso.style.display = 'none'; labelAsenss.style.display = 'none'; break;
         default: divAval.style.display = ''; divAsenso.style.display = ''; divAsenss.style.display = ''; labelAvalue.style.display = ''; labelAsenso.style.display = ''; labelAsenss.style.display = ''; break;
      }
   }
</script>

<script>
   function getUnity(i) {
      var divDegree = document.getElementById('label_degree');
      var divPourcent = document.getElementById('label_pourcent');

      switch(i) {
         case 0 : divDegree.style.display = ''; divPourcent.style.display = 'none'; break;
         case 1 : divDegree.style.display = 'none'; divPourcent.style.display = ''; break;
         default: divDegree.style.display = ''; divPourcent.style.display = ''; break;
      }
   }
</script>

<script>
   function expand(div) {
      var divConfig = document.getElementById('div_user_interface');
      var divSystem = document.getElementById('div_system_interface');
      var divAlarm = document.getElementById('div_alarm_interface');
      var divCost = document.getElementById('div_cost_interface');
      var Config = document.getElementById('user_interface');
      var System = document.getElementById('system_interface');
      var Alarm = document.getElementById('alarm_interface');
      var Cost = document.getElementById('cost_interface');

      switch(div) {
         case 'user_interface' : if(divConfig.style.display == "none") { divConfig.style.display = ''; Config.value='Show'; } else {  divConfig.style.display = 'none'; Config.value='Hidden'; } break;
         case 'system_interface' : if(divSystem.style.display == "none") { divSystem.style.display = ''; System.value='Show'; } else {  divSystem.style.display = 'none'; System.value='Hidden'; } break;
         case 'alarm_interface' : if(divAlarm.style.display == "none") { divAlarm.style.display = ''; Alarm.value='Show';  } else {  divAlarm.style.display = 'none'; Alarm.value='Hidden';  } break;
         case 'cost_interface' :  if(divCost.style.display == "none") { divCost.style.display = ''; Cost.value='Show'; } else {  divCost.style.display = 'none'; Cost.value='Hidden'; } break;
         default: divConfig.style.display = ''; divSystem.style.display = 'none'; divAlarm.style.display = 'none'; divCost.style.display = 'none'; break;
      }
   }

    //document.getElementById('conf_menu').value=menu;
    //var test=document.getElementById('conf_menu').value;

</script>


<script>
   function getCostType(i) {
      var labelStandard = document.getElementById('cost_label_standard');
      var labelHP = document.getElementById('cost_label_hp');
      var labelHC = document.getElementById('cost_label_hc');
      var labelInputStandard = document.getElementById('cost_input_standard');
      var labelInputHP = document.getElementById('cost_input_hp');
      var labelInputHC = document.getElementById('cost_input_hc');
      var labelStartHC = document.getElementById('start_label_hc');
      var labelStopHC = document.getElementById('stop_label_hc');
      var valueStartHC = document.getElementById('start_value_hc');
      var valueStopHC = document.getElementById('stop_value_hc');


      switch(i) {
         case 0 : labelStandard.style.display = ''; labelHP.style.display = 'none'; labelHC.style.display = 'none'; labelInputStandard.style.display = ''; labelInputHP.style.display = 'none'; labelInputHC.style.display = 'none'; labelStartHC.style.display = 'none'; labelStopHC.style.display = 'none'; valueStartHC.style.display = 'none'; valueStopHC.style.display = 'none'; break;
         case 1 : labelStandard.style.display = 'none'; labelHP.style.display = ''; labelHC.style.display = ''; labelInputStandard.style.display = 'none'; labelInputHP.style.display = ''; labelInputHC.style.display = ''; labelStartHC.style.display = ''; labelStopHC.style.display = ''; valueStartHC.style.display = ''; valueStopHC.style.display = ''; break;
         default: labelStandard.style.display = ''; labelHP.style.display = 'none'; labelHC.style.display = 'none'; labelInputStandard.style.display = ''; labelInputHP.style.display = 'none'; labelInputHC.style.display = 'none'; labelStartHC.style.display = 'none'; labelStopHC.style.display = 'none'; valueStartHC.style.display = 'none'; valueStopHC.style.display = 'none'; break;
      }
   }
</script>

<script>
$(document).ready(function(){
$('#start_hc').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: false,
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#stop_hc').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: false,
timeFormat: 'hh:mm',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>


<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>

<?php if((!empty($main_error))||(!empty($error))) { ?>
<div id="error">
<ul>
<?php if(!empty($main_error)) { ?>
        <?php echo $main_error; ?>
<?php } ?>
<?php if(!empty($error)) { ?>
        <?php echo $error; ?>
<?php } ?>
</ul>
</div>
<?php } ?>


<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_message"; ?>');
   </SCRIPT> 
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_error_message"; ?>');
   </SCRIPT>
<?php } ?>

<br />
<h1><label onclick="expand('user_interface')"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('USER_CONF'); ?></label></h1>
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="configform">
<div id="div_user_interface" style="display:none">
<table class="conf-table">
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_LANGUAGE'); ?></td>
      <td><select name="lang">
         <?php foreach($GLOBALS['LIST_LANG'] as $value) {
            switch ($value) {
               case 'fr_FR':
                  if("${value}" == $_SESSION['LANG']) {
                     echo "<option value=\"${value}\" selected>".__('LANG_FR')."</option>";
                  } else {
                     echo "<option value=\"${value}\">".__('LANG_FR')."</option>";
                  }
               break;
               case 'en_GB':
                  if("${value}" == $_SESSION['LANG']) {
                     echo "<option value=\"${value}\" selected>".__('LANG_EN')."</option>";
                   } else {
                     echo "<option value=\"${value}\">".__('LANG_EN')."</option>";
                  }
               break;
            }
         }
         ?>
      </select></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_HUMIDITY'); ?></td>
      <td><select name="color_humidity">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
                              }
               break;
            case 'red':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
               break;
            case 'green':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
               break;
            case 'black':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
               break;
            case 'purple':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      } ?></select></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_TEMPERATURE'); ?></td>
      <td><select name="color_temperature">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;
            case 'red':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'green':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_COLOR_PROGRAM'); ?></td>
      <td><select name="color_program">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_program}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;
            case 'red':
               if("${value}" == "${color_program}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'green':
               if("${value}" == "${color_program}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_program}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_program}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_POWER'); ?></td>
      <td><select name="color_power">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'red':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'blue':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;

            case 'green':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
   </tr>
     <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_COST_COLOR'); ?></td>
      <td><select name="color_cost">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'red':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'blue':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;

            case 'green':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_TEMP_AXIS'); ?> <img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_AXIS'); ?>" /></td>
         <td><select name="temp_axis">
                <?php foreach($GLOBALS['LIST_MAX_AXIS'] as $value) {
            if("$value"=="$temp_axis") {
               echo "<option value=\"${value}\" selected>${value}°C</option>";
            } else {
               echo "<option value=\"${value}\">${value}°C</option>";
            }
                } ?></select></td>
        </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_HYGRO_AXIS'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_AXIS'); ?>" /></td>
      <td><select name="hygro_axis">
         <?php foreach($GLOBALS['LIST_MAX_AXIS'] as $value) {
           if("$value"=="$hygro_axis") {
                   echo "<option value=\"${value}\" selected>${value}%</option>";
           } else {
                   echo "<option value=\"${value}\">${value}%</option>";
           }
      } ?></select></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_POWER_AXIS'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_AXIS'); ?>" /></td>
      <td><select name="power_axis">
         <?php foreach($GLOBALS['LIST_MAX_POWER'] as $value) {
           if("$value"=="$power_axis") {
                   echo "<option value=\"${value}\" selected>${value}W</option>";
           } else {
                   echo "<option value=\"${value}\">${value}W</option>";
           }
      } ?></select></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CONFIGURE_POPUP'); ?> <img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POPUP'); ?>" /></td>
         <td><select name="pop_up">
            <option value="True" <?php if(strcmp("$pop_up","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$pop_up","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
   </tr>
    <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CHECK_UPDATE'); ?> <img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_CHECK_UPDATE'); ?>" /></td>
         <td><select name="update">
            <option value="True" <?php if(strcmp("$update","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$update","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
   </tr>
    <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CONFIG_LOG_SEARCH'); ?></td>
         <td><select name="log_search">
            <?php foreach($GLOBALS['LOG_SEARCH'] as $value) {
                if("$value"=="$log_search") {
                   echo "<option value=\"${value}\" selected>${value}</option>";
                } else {
                   echo "<option value=\"${value}\">${value}</option>";
                }
            } ?>
         </select></td>
   </tr>
</table>
</div>
<hr />
 <h1><label onclick="expand('system_interface')"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('SYSTEM_CONF'); ?></label></h1>
<div id="div_system_interface" style="display:none">
<table class="conf-table">
<tr>
<td class="conf-marge"></td>
<td class="conf-marge-td">
   <?php echo __('CONFIGURE_FREQUENCY'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_RECORD_FREQ'); ?>" />
</td>
<td>
   <select name="record_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$record_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_POWER_FREQUENCY'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER_FREQ'); ?>" />
</td>
<td>
   <select name="power_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$power_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_NB_PLUGS'); ?>
</td>
<td>
   <select name="nb_plugs">
      <?php
      for($i=$GLOBALS['NB_MIN_PLUG'];$i<=$GLOBALS['NB_MAX_PLUG'];$i++) {
         if(!strcmp ("$i","$nb_plugs")) {
            echo "<option value=\"${i}\" selected>${i}</option>";
         } else {
            echo "<option value=\"${i}\">${i}</option>";
         }
      }
      ?>
</select>
</td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_PLUGS_FREQUENCY'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_FREQ'); ?>" />
</td>
<td>
   <select name="update_frequency">
      <?php
      foreach($GLOBALS['LIST_UPDATE_FREQUENCY'] as $value) {
         if(strcmp ("$value","-1")==0) { 
            $val=__('ALWAYS_RECORD');
         } else {
            $val=$value;
         }
         if(!strcmp ("$value","$update_frequency")) {
            echo "<option value=\"${value}\" selected>${val}</option>";
         } else {
            echo "<option value=\"${value}\">${val}</option>";
         }
      }
      ?>
      </select>
</td>
</tr>
</table>
</div>
<hr />

<h1><label onclick="expand('alarm_interface')"><img src="main/libs/img/arrow.png" alt=""/><?php echo __('CONFIGURE_ALARM'); ?></label></h1>
<div id="div_alarm_interface" style="display:none">
<table class="conf-table">
   <tr>  
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_ALARM_ACTIV'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_ALARM'); ?>" /></td>
      <td><select name="alarm_enable" onChange="getAlarm(this.selectedIndex);" onLoad="getAlarm(this.selectedIndex);">
           <?php if("$alarm_enable"=="0001") {
                     echo "<option value='0001' selected>".__('YES')."</option>";
                     echo "<option value='0000'>".__('NO')."</option>";
                  } else {
		     echo "<option value='0001'>".__('YES')."</option>";
                     echo "<option value='0000' selected>".__('NO')."</option>";
                  }
           ?>
      </select></td>
   </tr>
<tr>
      <td class="conf-marge"></td>
      <td><div id="label_alarm_senso" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_SENSO'); ?></div></td>
      <td><div id="div_alarm_senso" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><select name="alarm_senso" onChange="getUnity(this.selectedIndex);" onLoad="getUnity(this.selectedIndex);">
           <?php if("$alarm_senso"=="000T") {
                     echo "<option value='000T' selected>".__('ALARM_TEMP')."</option>";
                     echo "<option value='000H'>".__('ALARM_HUMI')."</option>";
                  } else {
                     echo "<option value='000T'>".__('ALARM_TEMP')."</option>";
                     echo "<option value='000H' selected>".__('ALARM_HUMI')."</option>";
                  }
           ?>
      </select></div></td>
   </tr>
   <tr>
   <td class="conf-marge"></td>
      <td><div id="label_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_VALUE'); ?></div></td>
      <td><div id="div_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo "$alarm_value"; ?>" name="alarm_value" onKeypress="return verifDigit(event);"><label id="label_degree" style="<?php if("$alarm_senso"=="000H") echo "display:none"; ?>">°C</label><label id="label_pourcent" style="<?php if("$alarm_senso"=="000T") echo "display:none"; ?>">%</label></div></td>
   </tr>
   <tr>
<td class="conf-marge"></td>
      <td ><div id="label_alarm_senss" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_SENSS'); ?></div></td>
      <td><div id="div_alarm_senss" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><select name="alarm_senss">
           <?php if("$alarm_senss"=="000+") {
                     echo "<option value='000+' selected>".__('ALARM_ABOVE')."</option>";
                     echo "<option value='000-'>".__('ALARM_UNDER')."</option>";
                  } else {
                     echo "<option value='000+'>".__('ALARM_ABOVE')."</option>";
                     echo "<option value='000-' selected>".__('ALARM_UNDER')."</option>";
                  }
           ?>
      </select></div></td>
   </tr>
</table>
</div>
<hr />

<h1><label onclick="expand('cost_interface')"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_COST'); ?></label></h1>

<div id="div_cost_interface" style="display:none">
<table class="conf-table">
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_COST_TYPE'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_COST_TYPE'); ?>" /></td>
      <td>
            <select name="cost_type" onChange="getCostType(this.selectedIndex);" onLoad="getCostType(this.selectedIndex);">
               <option value="standard" <?php if(strcmp($cost_type,"standard")==0) echo "selected"; ?>><?php echo __('COST_STANDARD'); ?></option>
               <option value="hpc" <?php if(strcmp($cost_type,"hpc")==0) echo "selected"; ?>><?php echo __('COST_HPC'); ?></option>
            </select>
      </td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="cost_label_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_COST_PRICE'); ?>" /></label><label id="cost_label_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HP'); ?></label></td> 
      <td><label id="cost_input_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>">
        <input type="text" size="5" maxlength="5" name="cost_price" value="<?php echo "$cost_price"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp($cost_type,'standard')==0) { if(strcmp("$lang","fr_FR")==0) { echo "&euro;"; } else { echo "&#163;"; }} ?></label>
        <label id="cost_input_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="5" maxlength="5" name="cost_price_hp" value="<?php echo "$cost_price_hp"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","fr_FR")==0) { echo "&euro;"; } else { echo "&#163;"; } ?></label>
      </td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="cost_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HC'); ?></label></td>
      <td><label id="cost_input_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="5" maxlength="5" name="cost_price_hc" value="<?php echo "$cost_price_hc"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","fr_FR")==0) { echo "&euro;"; } else { echo "&#163;"; } ?></label></td>
   </tr> 
   <tr>
       <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="start_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_START_HC'); ?></label></td>
      <td>
            <label id="start_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="start_hc" id="start_hc" <?php if((isset($start_hc))&&(!empty($start_hc))) { ?> value="<?php echo $start_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
   </tr>
     <tr>
       <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="stop_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_STOP_HC'); ?></label></td>
      <td>
            <label id="stop_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="stop_hc" id="stop_hc" <?php if((isset($stop_hc))&&(!empty($stop_hc))) { ?> value="<?php echo $stop_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
   </tr>
</table>
</div>
<hr />

<br /><p class="p_center">
   <INPUT type="submit" value="<?php echo __('VALIDATION_CONF'); ?>">
</p>
    <?php 
    foreach($_SESSION['menu'] as $submenu) {
            echo "<input type='hidden' id='".$submenu['title']."' name='".$submenu['title']."' value='".$submenu['value']."' >";
    } 
   ?> 
</form>




<?php 
        foreach($_SESSION['menu'] as $submenu) {
                if(strcmp($submenu['value'],"Show")==0) {
      echo "<script>expand('".$submenu['title']."');</script>";
                } 
        } 
?>
