<script type="text/javascript">
function verifDigit(e) {
   if((e.keyCode < 45 || e.keyCode > 57)&&(e.keyCode != 44 && e.keyCode != 08 && e.keyCode != 10 && e.keyCode != 13)) e.returnValue = false;
   if((e.which < 45 || e.which > 57)&&(e.which != 44 && e.which != 08 && e.which != 10 && e.which != 13)) return false;
}
</script>

<script type="text/javascript">
   function getAlarm(i) {
      var divAval = document.getElementById('div_alarm_value');
      var divAsenso = document.getElementById('div_alarm_senso');
      var divAsenss = document.getElementById('div_alarm_senss');
      var labelAsenss = document.getElementById('label_alarm_senss');
      var labelAsenso = document.getElementById('label_alarm_senso');
      var labelAvalue = document.getElementById('label_alarm_value');

      switch(i) {
         case 0 : divAval.style.display = ''; divAsenso.style.display = ''; divAsenss.style.display = ''; labelAvalue.style.display = ''; labelAsenso.style.display = ''; labelAsenss.style.display = '';break;
         case 1 : divAval.style.display = 'none'; divAsenso.style.display = 'none'; divAsenss.style.display = 'none'; labelAvalue.style.display = 'none'; labelAsenso.style.display = 'none'; labelAsenss.style.display = 'none'; break;
         default: divAval.style.display = ''; divAsenso.style.display = ''; divAsenss.style.display = ''; labelAvalue.style.display = ''; labelAsenso.style.display = ''; labelAsenss.style.display = ''; break;
      }
   }
</script>


<script type="text/javascript">
   function getUnity(i) {
      var divDegree = document.getElementById('label_degree');
      var divPourcent = document.getElementById('label_pourcent');

      switch(i) {
         case 0 : divDegree.style.display = ''; divPourcent.style.display = 'none'; break;
         case 1 : divDegree.style.display = 'none'; divPourcent.style.display = ''; break;
         default: divDegree.style.display = ''; divPourcent.style.display = ''; break;
      }
   }
</script>

<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>

<?php if((isset($main_error))&&(!empty($main_error))) { ?>
<div id="error">
<ul>
        <?php echo $main_error; ?>
</ul>
</div>
<?php } ?>

<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
<ul>
        <?php echo $error; ?>
</ul>
</div>
<br />
<?php } ?>



<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_message"; ?>');
   </SCRIPT> 
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_error_message"; ?>');
   </SCRIPT>
<?php } ?>

<br />
<p class="title_conf">
   <?php echo __('USER_CONF'); ?>:
</p>
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="configform">
<table width="60%" align="center">
   <tr>
      <td width="75%"><?php echo __('CONFIGURE_LANGUAGE'); ?></td>
      <td><select name="lang">
         <?php foreach($GLOBALS['LIST_LANG'] as $value) {
            switch ($value) {
               case 'fr_FR':
                  if("${value}" == $_SESSION['LANG']) {
                     echo "<option value=\"${value}\" selected>".__('LANG_FR')."</option>";
                  } else {
                     echo "<option value=\"${value}\">".__('LANG_FR')."</option>";
                  }
               break;
               case 'en_GB':
                  if("${value}" == $_SESSION['LANG']) {
                     echo "<option value=\"${value}\" selected>".__('LANG_EN')."</option>";
                   } else {
                     echo "<option value=\"${value}\">".__('LANG_EN')."</option>";
                  }
               break;
            }
         }
         ?>
      </select></td>
   </tr>
   <tr>
      <td><?php echo __('CONFIGURE_HUMIDITY'); ?></td>
      <td><select name="color_humidity">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
                              }
               break;
            case 'red':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
               break;
            case 'green':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
               break;
            case 'black':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
               break;
         }
      } ?></select></td>
   </tr>
   <tr>
      <td><?php echo __('CONFIGURE_TEMPERATURE'); ?></td>
      <td><select name="color_temperature">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;
            case 'red':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'green':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
         }
      }
      ?></select></td>
   </tr>
   <tr>
      <td><?php echo __('CONFIGURE_TEMP_AXIS'); ?></td>
         <td><select name="temp_axis">
                <?php foreach($GLOBALS['LIST_MAX_AXIS'] as $value) {
            if("$value"=="$temp_axis") {
               echo "<option value=\"${value}\" selected>${value}°C</option>";
            } else {
               echo "<option value=\"${value}\">${value}°C</option>";
            }
                } ?></select></td>
        </tr>
   <tr>
      <td><?php echo __('CONFIGURE_HYGRO_AXIS'); ?></td>
      <td><select name="hygro_axis">
         <?php foreach($GLOBALS['LIST_MAX_AXIS'] as $value) {
           if("$value"=="$hygro_axis") {
                   echo "<option value=\"${value}\" selected>${value}%</option>";
           } else {
                   echo "<option value=\"${value}\">${value}%</option>";
           }
      } ?></select></td>
   </tr>
   <tr>
         <td><?php echo __('CONFIGURE_POPUP'); ?> <img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POPUP'); ?>" /></td>
         <td><select name="pop_up">
            <option value="True" <?php if(strcmp("$pop_up","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$pop_up","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
   </tr>
</table>
<br />
<p class="title_conf">
   <?php echo __('SYSTEM_CONF'); ?>:
</p>
<table width="60%" align="center">
<tr>
<td width="75%">
   <?php echo __('CONFIGURE_FREQUENCY'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_RECORD_FREQ'); ?>" />
</td>
<td>
   <select name="record_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$record_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
</tr>
<tr>
<td width="75%">
   <?php echo __('CONFIGURE_POWER_FREQUENCY'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER_FREQ'); ?>" />
</td>
<td>
   <select name="power_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$power_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
</tr>
<tr>
<td>
   <?php echo __('CONFIGURE_NB_PLUGS'); ?>
</td>
<td>
   <select name="nb_plugs">
      <?php
      foreach($GLOBALS['LIST_NB_PLUGS'] as $value) {
         if(!strcmp ("$value","$nb_plugs")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
</select>
</td>
</tr>
<tr>
<td>
   <?php echo __('CONFIGURE_PLUGS_FREQUENCY'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_FREQ'); ?>" />
</td>
<td>
   <select name="update_frequency">
      <?php
      foreach($GLOBALS['LIST_UPDATE_FREQUENCY'] as $value) {
         if(strcmp ("$value","-1")==0) { 
            $val=__('ALWAYS_RECORD');
         } else {
            $val=$value;
         }
         if(!strcmp ("$value","$update_frequency")) {
            echo "<option value=\"${value}\" selected>${val}</option>";
         } else {
            echo "<option value=\"${value}\">${val}</option>";
         }
      }
      ?>
      </select>
</td>
</tr>
</table>
<br />
<p class="title_conf">
   <?php echo __('CONFIGURE_ALARM'); ?>:
</p>
<table width="60%" align="center">
   <tr>
      <td width="75%"><?php echo __('CONFIGURE_ALARM_ACTIV'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_ALARM'); ?>" /></td>
      <td><select name="alarm_enable" onChange="getAlarm(this.selectedIndex);" onLoad="getAlarm(this.selectedIndex);">
           <?php if("$alarm_enable"=="0001") {
                     echo "<option value='0001' selected>".__('YES')."</option>";
                     echo "<option value='0000'>".__('NO')."</option>";
                  } else {
		     echo "<option value='0001'>".__('YES')."</option>";
                     echo "<option value='0000' selected>".__('NO')."</option>";
                  }
           ?>
      </select></td>
   </tr>
<tr>
      <td width="75%"><div id="label_alarm_senso" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_SENSO'); ?></div></td>
      <td><div id="div_alarm_senso" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><select name="alarm_senso" onChange="getUnity(this.selectedIndex);" onLoad="getUnity(this.selectedIndex);">
           <?php if("$alarm_senso"=="000T") {
                     echo "<option value='000T' selected>".__('ALARM_TEMP')."</option>";
                     echo "<option value='000H'>".__('ALARM_HUMI')."</option>";
                  } else {
                     echo "<option value='000T'>".__('ALARM_TEMP')."</option>";
                     echo "<option value='000H' selected>".__('ALARM_HUMI')."</option>";
                  }
           ?>
      </select></div></td>
   </tr>
   <tr>
      <td width="75%"><div id="label_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_VALUE'); ?></div></td>
      <td><div id="div_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo "$alarm_value"; ?>" name="alarm_value" onKeypress="return verifDigit(event);"><label id="label_degree" style="<?php if("$alarm_senso"=="000H") echo "display:none"; ?>">°C</label><label id="label_pourcent" style="<?php if("$alarm_senso"=="000T") echo "display:none"; ?>">%</label></div></td>
   </tr>
   <tr>
      <td width="75%"><div id="label_alarm_senss" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_SENSS'); ?></div></td>
      <td><div id="div_alarm_senss" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><select name="alarm_senss">
           <?php if("$alarm_senss"=="000+") {
                     echo "<option value='000+' selected>".__('ALARM_ABOVE')."</option>";
                     echo "<option value='000-'>".__('ALARM_UNDER')."</option>";
                  } else {
                     echo "<option value='000+'>".__('ALARM_ABOVE')."</option>";
                     echo "<option value='000-' selected>".__('ALARM_UNDER')."</option>";
                  }
           ?>
      </select></div></td>
   </tr>
</table>

<br /><p align="center">
   <INPUT type="submit" value="<?php echo __('VALIDATION_CONF'); ?>">
</p>
   <INPUT type="hidden" name="menu" value="configuration">
</form>
