<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_message"); ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_error_message"); ?>
       </div>
<?php } ?>



<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<img src="main/libs/img/informations.png" alt=""><b><?php echo __("INFORMATIONS").":"; ?></b>
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<img src="main/libs/img/warning.png" alt=""><b><?php echo __("ERROR_MESSAGE").":"; ?></b>
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<br /><br />


<?php switch($_SESSION['LANG']) {
	    case 'fr_FR': 
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-fr.js"></script>'; 
		        break;
        case 'it_IT':
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-it.js"></script>';
                break;
        case 'de_DE':
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-de.js"></script>';
                break;
        case 'es_ES':
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-es.js"></script>';
                break;
        }
?>

<script>
$(function() {
   $("#datepicker").datepicker({ 
dateFormat: "yy-mm-dd",
showButtonPanel: true,
showOn: "both",
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT_LOG')."',"; ?>
}).val()
});
</script>


<label class="title_conf"><?php echo __('SELECT_LOG_TITLE'); ?></label>
<br />
<div id="label_select_type">
<label id="anchor-logs"></label>
<form>
<table>
    <tr>
        <td class="log-marge-day-main"></td>
        <td class="log-marge-day-title"><b><?php echo __('SELECT_DISPLAYED_DAY'); ?>:</b></td>
        <td class="log-marge-day-field"><input type= "radio" id="select_day" name="type_select" value="day" <?php if(strcmp($type,"days")==0) echo "checked"; ?> onChange="getType(0);" onLoad="getType(0);" ><?php echo __('ONE_DAY'); ?><input type= "radio" id="select_month" name="type_select" value="month" <?php if(strcmp($type,"month")==0) echo "checked"; ?> onChange="getType(1);" onLoad="getType(1);" ><?php echo __('ONE_MONTH'); ?>
        </td>
        <td></td>
    </tr>
</table>   
</form>
</div>
<br />
<div id="label_select_day" style="<?php if(strcmp($type,"days")!=0) echo "display:none"; ?>">
<form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>" method="post">
<table class="table_width">
   <tr>
      <td class="log-marge-day"></td>
      <td class="log-marge-day-title"><?php echo __('SELECT_DAY'); ?>:</td>
      <td class="log-marge-day-field"><input id="datepicker" name="startday" type="text" class="whitefield" size="10" value="<?php echo $startday; ?>"></td>
      <td><?php if((isset($error['startday']))&&(!empty($error['startday']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['startday']."</div>"; ?></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_PROGRAM_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_LOG_PROGRAM'); ?>" />:</td>
      <td> <select name="select_plug">
            <option value="">---</option>
            <?php foreach($active_plugs as $plugs) {  ; ?>
               <option value="<?php echo $plugs['id']; ?>" <?php if(strcmp($select_plug,$plugs['id'])==0) echo "selected"; ?>><?php echo $plugs_infos[$plugs['id']-1]["PLUG_NAME"]; ?></option>
            <?php } ?>
         </select>
      </td>
      <td></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_POWER_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER_LOG'); ?>" />:</td>
      <td> <select name="select_power">
            <option value="">---</option>
            <?php foreach($active_plugs as $plugs) {  ?>
               <option value="<?php echo  $plugs['id']; ?>" <?php if(strcmp($select_power,$plugs["id"])==0) echo "selected"; ?>><?php echo $plugs_infos[$plugs['id']-1]["PLUG_NAME"]; ?></option>
            <?php } ?>
               <option value="9990" <?php if(strcmp($select_power,9990)==0) echo "selected"; ?>><?php echo __('SELECT_ALL_PLUGS'); ?></option>
         </select>
      </td>
     <td></td>
   </tr>
    <tr>
      <td></td>
      <td><?php echo __('SELECT_SENSOR_NB'); ?>:</td>
      <td> <select name="select_sensor">
            <?php for($i=1;$i<=$GLOBALS['NB_MAX_SENSOR'];$i++) { ?>
               <option value="<?php echo $i; ?>" <?php if(strcmp($select_sensor,$i)==0) echo "selected"; ?>><?php echo __('SELECT_SENSOR')." ".$i; ?></option>
            <?php } ?>
             <option value="<?php echo 'all'; ?>" <?php if(strcmp($select_sensor,"all")==0) echo "selected"; ?>><?php echo __('ALL_SENSOR'); ?></option> 
         </select>
      </td>
      <td></td>
   </tr>
</table>

<table class="table_width">
<tr>
    <td></td>
    <td class="program-valid-right"><br /><INPUT type="submit" value=<?php echo __('VIEW'); ?> onKeypress="return verifDigit(event);"></td>
    <td></td>
</tr>
</table>
    <input type="hidden" name="anchor" value="anchor-logs">
</form>
<br />
</div>
<div id="label_select_month" style="<?php if(strcmp($type,"days")==0) echo "display:none"; ?>">
<form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>" method="post">
<table class="table_width">
   <tr>
      <td class="log-marge-month"></td>
      <td class="log-marge-month-title"><?php echo __('MONTH_DATE'); ?>:</td>
      <td class="log-marge-month-field">
            <select name="startmonth">
               <option <?php if("$startmonth" == "1") { echo 'selected';} ?> value="01"><?php echo __('MONTH01'); ?></option>
               <option <?php if("$startmonth" == "2") { echo 'selected';} ?> value="02"><?php echo __('MONTH02'); ?></option>
               <option <?php if("$startmonth" == "3") { echo 'selected';} ?> value="03"><?php echo __('MONTH03'); ?></option>
               <option <?php if("$startmonth" == "4") { echo 'selected';} ?> value="04"><?php echo __('MONTH04'); ?></option>
               <option <?php if("$startmonth" == "5") { echo 'selected';} ?> value="05"><?php echo __('MONTH05'); ?></option>
               <option <?php if("$startmonth" == "6") { echo 'selected';} ?> value="06"><?php echo __('MONTH06'); ?></option>
               <option <?php if("$startmonth" == "7") { echo 'selected';} ?> value="07"><?php echo __('MONTH07'); ?></option>
               <option <?php if("$startmonth" == "8") { echo 'selected';} ?> value="08"><?php echo __('MONTH08'); ?></option>
               <option <?php if("$startmonth" == "9") { echo 'selected';} ?> value="09"><?php echo __('MONTH09'); ?></option>
               <option <?php if("$startmonth" == "10") { echo 'selected';} ?> value="10"><?php echo __('MONTH10'); ?></option>
               <option <?php if("$startmonth" == "11") { echo 'selected';} ?> value="11"><?php echo __('MONTH11'); ?></option>
               <option <?php if("$startmonth" == "12") { echo 'selected';} ?> value="12"><?php echo __('MONTH12'); ?></option>
            </select>
            <?php if($GLOBALS['FIRST_LOG_YEAR']==$last_year) {
                  echo '<input type="text" name="startyear" value="'.$last_year.'" size="4" readonly="readonly">';
            }

            if($GLOBALS['FIRST_LOG_YEAR']!=$last_year) {
                 echo '<select name="startyear">';
                 $first=$GLOBALS['FIRST_LOG_YEAR'];
                 for($i=$first;$i<=$last_year;$i++) { ?>
                     <option <?php if("$startyear" == "$i") { echo 'selected';} ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
                  <?php }
                  echo "</select>";
            } ?>
      </td>
	  <td><?php if((isset($error['startmonth']))&&(!empty($error['tartmonth']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['startmonth']."</div>"; ?></td> 
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_SENSOR_NB'); ?>:</td>
      <td> <select name="select_sensor">
            <?php for($i=1;$i<=$GLOBALS['NB_MAX_SENSOR'];$i++) { ?>
               <option value="<?php echo $i; ?>" <?php if(strcmp($select_sensor,$i)==0) echo "selected"; ?>><?php echo __('SELECT_SENSOR')." ".$i; ?></option>
            <?php } ?>
         </select>
      </td>
      <td></td>
   </tr>
</table>

<table class="table_width">
<tr>
    <td></td>
    <td class="program-valid-right"><br /><input type="submit" value=<?php echo __('VIEW'); ?>></td>
    <td></td>
</tr>
</table>
        <input type="hidden" name="anchor" value="anchor-logs">
</form>
</div>
<br />
<hr />

<?php if($check_format) { ?>
<script type="text/javascript">

Highcharts.setOptions({
lang: {
<?php echo "resetZoom : '".__('RESET_ZOOM','highchart')."',"; ?>
<?php echo "resetZoomTitle : '".__('RESET_ZOOM_TITLE','highchart')."'"; ?>
}
});

$(function () {
   var chart;
   $(document).ready(function() {
      chart = new Highcharts.Chart({
         chart: {
            backgroundColor: '#F7F7F9',
            borderWidth: 3,
            borderColor: '#959891',
            borderRadius: 20,
            renderTo: 'container',
            zoomType: 'x',
            alignTicks: false,
            spacingRight: 20,
            events: {
               load: function() {
                  <?php if($fake_log) echo "this.renderer.image('http://localhost:".$GLOBALS['SOFT_PORT']."/cultibox/main/libs/img/fake_log_".__('LANG').".png', 350, 60, 130, 50)"; ?>
                  <?php if($fake_log)  echo ".add();"; ?>
               }
            }
         },
         title: {
             text: <?php echo "'<b>".__('HISTO_GRAPH','highchart')." (".$legend_date.")*</b>'"; ?>,
         },
         subtitle: {
             text: document.ontouchstart === undefined ?
               <?php echo "'".__('DRAG_PLOT','highchart')."'"; ?>:
               <?php echo "'".__('DRAG_PLOT','highchart')."'"; ?>
         },
         lang: {
            printButtonTitle: <?php echo "'".__('PRINT_HIGHCHART','highchart')."',"; ?>
            exportButtonTitle: <?php echo "'".__('EXPORT_HIGHCHART','highchart')."',"; ?>
            downloadPNG : <?php echo "'".__('EXPORT_PNG','highchart')."',"; ?>
            downloadJPEG : <?php echo "'".__('EXPORT_JPEG','highchart')."',"; ?>
            downloadPDF : <?php echo "'".__('EXPORT_PDF','highchart')."',"; ?>
            downloadSVG : <?php echo "'".__('EXPORT_SVG','highchart')."',"; ?>
            resetZoom : <?php echo "'".__('RESET_ZOOM','highchart')."',"; ?>
            resetZoomTitle : <?php echo "'".__('RESET_ZOOM_TITLE','highchart')."'"; ?>
         },
         xAxis: {
            type: 'datetime',
            endOnTick: false,
            showFirstLabel: true,
            <?php if("$type"=="month") { echo "tickInterval: 5 * 24 * 3600 * 1000,"; } ?>
            title: {
               text: <?php echo "'".__("$xlegend",'highchart')."'"; ?>
            }
         },
         yAxis: [
            {
               title: {
                  text: <?php echo "'".__('YAXIS_LEGEND','highchart')."'"; ?>,
                  style: {
                     color: <?php echo "'".$color_humidity."'"; ?>
                  }
               },
               min: 0,
               max: 100,
               startOnTick: false,
               endOnTick: false,
               events: {
                afterSetExtremes: function() {
                    if (this.min <= this.dataMin && this.max >= this.dataMax) {
                        chart.hideResetZoom();
                    }
                }
               },
               labels: {
                  formatter: function() {
                     if(this.value<=100) return this.value;
                  }
               }
            }, {
               title: {
                  text: <?php echo "'".__('Y2AXIS_LEGEND','highchart')."'"; ?>,
                  style: {
                     color: <?php echo "'".$color_temperature."'"; ?>
                  }
               },
               min: 0,
               max: 100,
               opposite: true,
               startOnTick: false,
               endOnTick: false,
               labels: {
                  formatter: function() {
                     if(this.value<=100) return this.value;
                  }
               }
            }
            <?php if((isset($datap))&&(!empty($datap))) { ?>
            ,{
               title: {
                  text: <?php echo "'".__('Y3AXIS_LEGEND')."'"; ?>,
                  style: {
                     color: <?php echo "'".$color_power."'"; ?>
                  }
               },
               min: 0
            }
            <?php } ?>

         ],
         tooltip: {
            formatter: function() {
               var tab=new Array;
               <?php if("$type"=="month") { ?>
                  var val="<p align='left'><b><?php echo __('XAXIS_LEGEND_DAY','highchart'); ?>:  </b>"+Highcharts.dateFormat('%H:%M:%S %Y/%m/%d', this.x)+"</p>";
               <?php } else { ?>
                  var val="<p align='left'><b><?php echo __('XAXIS_LEGEND_DAY','highchart'); ?>:  </b>"+Highcharts.dateFormat('%H:%M:%S', this.x)+"</p>"; 
               <?php } ?>
                  var unit = {
                     <?php for($i=1;$i<=$GLOBALS['NB_MAX_SENSOR'];$i++) { 
                     echo "'".__('LEGEND_HUMI','highchart')." (".__('SENSOR','highchart')." ".$i.")': '%',";
                     echo "'".__('LEGEND_TEMP','highchart')." (".__('SENSOR','highchart')." ".$i.")': '°C',";
               } ?>
               <?php echo "'".__('LEGEND_POWER','highchart')."'"; ?>: 'W'
               <?php if((isset($select_plug))&&(!empty($select_plug))) {
                     echo ",'".clean_highchart_message($plugs_infos[$select_plug-1]["PLUG_NAME"])."': ''"; 
               } ?>
            }[this.series.name];
            if(unit=='') { 
               if(this.y==100) {
                     behaviour='<?php echo __("VALUE_ON","highchart"); ?>';
                     nounity=true; 
               } else if(this.y==0){
                     behaviour='<?php echo __("VALUE_OFF","highchart"); ?>';
                     nounity=true;
               } else {
                     behaviour=(this.y)*100/100;
                     behaviour=behaviour.toFixed(1);
               }
                  <?php
                   $unity="";
                   if((isset($select_plug))&&(!empty($select_plug))) {
                        switch($plugs_infos[$select_plug-1]["PLUG_TYPE"]) {
                            case 'lamp': $unity="";
                                 break;
                            case 'other': $unity="";
                                break;
                            case 'ventilator': $unity="°C";
                                break;
                            case 'heating': $unity="°C";
                                break;
                            case 'humidifier': $unity="%";
                                break;
                            case 'deshumidifier': $unity="%";
                                break;
                        } 
               } ?>
               if(!nounity) {
                var unit="<?php echo $unity; ?>";
               } else {
                    var unit="";
               }
               return val+"<p align='left'><b>"+this.series.name+":</b>"+behaviour+unit+"</p>";
            } else {
               return val+"<p align='left'><b>"+this.series.name+":</b>"+this.y+unit+"</p>";
            }
          }
         },
         legend: {
            layout: 'horizontal',
            verticalAlign: 'bottom',
            navigation: {
                activeColor: '#3E576F',
                animation: true,
                arrowSize: 12,
                inactiveColor: '#CCC',
                style: {
                    fontWeight: 'bold',
                    color: '#333',
                    fontSize: '12px'    
                }
            }
         },
         credits: {
            enabled: false
         },
         plotOptions: {
            series: {
                events: {
                    legendItemClick: function () {
                        return false;
                    }
                }
            },
            area: {
               fillColor: {
                  linearGradient: { x1: 3, y1: 0, x2: 0, y2: 1}, 
                  stops: [
                      [0, Highcharts.getOptions().colors[0]],
                      [1, 'rgba(2,0,0,0)']
                  ]
               
               },
               lineWidth: 1,
               marker: {
                  enabled: false,
                  states: {
                      hover: {
                          enabled: true,
                          radius: 5
                      }
                  }
               },
               shadow: false,
               states: {
                  hover: {
                      lineWidth: 1
                  }
               }
            },
            spline: {
            lineWidth: 2,
            states: {
               hover: {
                  lineWidth: 5
               }
            },
            marker: {
               enabled: false,
               states: {
                  hover: {
                     enabled: true,
                     symbol: 'circle',
                     radius: 5,
                     lineWidth: 1
                  }
               }
            },
            pointInterval: 3600000, // one hour
            pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
         }
         },
         series: [
              <?php if((isset($select_sensor))&&(strcmp("$select_sensor","all")==0)) { $count=0; ?>
              <?php for($i=0;$i<$GLOBALS['NB_MAX_SENSOR'];$i++) { $nb=$i+1;  ?>
                <?php if($i>0) { echo ","; $count=$count+2; } ?>
              {
              type: 'area',
               showCheckbox: true,
               name: <?php echo "'".__('LEGEND_HUMI','highchart')." (".__('SENSOR','highchart')." ".$nb.")'"; ?>,
               pointInterval:  <?php echo "$next"; ?> * 60 * 1000,
               pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
               <?php switch($color_humidity) {
                         case 'blue': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_BLUE'][$i]."',"; 
                            break;
                         case 'black': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_BLACK'][$i]."',"; 
                            break;
                        case 'green': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_GREEN'][$i]."',"; 
                            break;
                        case 'red': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_RED'][$i]."',"; 
                            break;
                        case 'purple': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_PURPLE'][$i]."',"; 
                            break;
                } ?>   
               selected: true,
               data: [
                  <?php if((isset($data_humi))&&(!empty($data_humi))) echo "$data_humi[$i]"; ?>
               ],
               events: {
                    checkboxClick: function(event) {
                        var series = chart.series[<?php echo $count; ?>];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
            }, {
               type: 'area',
               showCheckbox: true,
               name: <?php echo "'".__('LEGEND_TEMP','highchart')." (".__('SENSOR','highchart')." ".$nb.")'"; ?>,
               pointInterval: <?php echo "$next"; ?> * 60 * 1000,
               pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
                   <?php switch($color_temperature) {
                         case 'blue': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_BLUE'][$i]."',"; 
                            break;
                         case 'black': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_BLACK'][$i]."',"; 
                            break;
                        case 'green': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_GREEN'][$i]."',"; 
                            break;
                        case 'red': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_RED'][$i]."',"; 
                            break;
                        case 'purple': echo "color: '".$GLOBALS['LIST_GRAPHIC_COLOR_SENSOR_PURPLE'][$i]."',"; 
                            break;
                } ?>   
               yAxis: 1,
               selected: true,
               data: [
                  <?php if((isset($data_temp))&&(!empty($data_temp))) echo "$data_temp[$i]"; ?>
               ],
               events: {
                    checkboxClick: function(event) {
                        var series = chart.series[<?php echo $count+1; ?>];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
              }
               <?php } ?>

                <?php if((isset($datap))&&(!empty($datap))) { ?>
                 , {
                  type: 'spline',
                  showCheckbox: true,
                  pointInterval:  <?php echo "$next"; ?> * 60 * 1000,
                  pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
                  name: <?php echo "'".__('LEGEND_POWER','highchart')."'"; ?>,
                  yAxis: 2,
                  color: <?php echo "'".$color_power."'"; ?>,
                  selected: true,
                  data: [
                    <?php if((isset($datap))&&(!empty($datap))) echo "$datap"; ?>
                  ],
                  events: {
                    checkboxClick: function(event) {
                        var series = chart.series[<?php echo $count+2; ?>];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
              }
               <?php } ?>

               <?php if((isset($data))&&(!empty($data))) { ?>
               , {
                  name: <?php echo "'".clean_highchart_message($plugs_infos[$select_plug-1]["PLUG_NAME"])."'"; ?>,
                  showCheckbox: true,
                  color: <?php echo "'".$GLOBALS["LIST_GRAPHIC_COLOR_PROGRAM"][$select_plug-1]."'"; ?>,
                  <?php switch($plugs_infos[$select_plug-1]["PLUG_TYPE"]) {
                            case 'other': break;
                            case 'ventilator': echo "yAxis: 1,"; break;
                            case 'heating': echo "yAxis: 1,"; break;
                            case 'deshumidifier':  echo "yAxis: 0,"; break;
                            case 'humidifier':  echo "yAxis: 0,"; break;
                            case 'lamp'; break;
                        }
                  ?>
                  selected: true,
                  data: [
                    <?php if((isset($data))&&(!empty($data))) echo "$data"; ?>
                  ],
                  events: {
                    checkboxClick: function(event) {
                        <?php if((isset($datap))&&(!empty($datap))) { ?>
                        var series = chart.series[<?php echo $count+3; ?>];
                        <?php } else { ?>
                        var series = chart.series[<?php echo $count+2; ?>];
                        <?php } ?>
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
              }
            <?php } ?>


               <?php } else { ?>
               {
               type: 'area',
               showCheckbox: true,
               name: <?php echo "'".__('LEGEND_HUMI','highchart')." (".__('SENSOR','highchart')." ".$select_sensor.")'"; ?>,
               pointInterval:  <?php echo "$next"; ?> * 60 * 1000,
               pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
               color: <?php echo "'".$color_humidity."'"; ?>,
               selected: true,
               data: [
                  <?php if((isset($data_humi))&&(!empty($data_humi))) echo "$data_humi"; ?>
               ],
               events: {
                    checkboxClick: function(event) {
                        var series = chart.series[0];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
            }, {
               type: 'area',
               showCheckbox: true,
               name: <?php echo "'".__('LEGEND_TEMP','highchart')." (".__('SENSOR','highchart')." ".$select_sensor.")'"; ?>,
               pointInterval: <?php echo "$next"; ?> * 60 * 1000,
               pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
               color: <?php echo "'".$color_temperature."'"; ?>,
               yAxis: 1,
               selected: true,
               data: [
                  <?php if((isset($data_temp))&&(!empty($data_temp))) echo "$data_temp"; ?>
               ],
               events: {
                    checkboxClick: function(event) {
                        var series = chart.series[1];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
              }
              <?php if((isset($datap))&&(!empty($datap))) { ?>
               , {
                  type: 'spline',
                  showCheckbox: true,
                  pointInterval:  <?php echo "$next"; ?> * 60 * 1000,
                  pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
                  name: <?php echo "'".__('LEGEND_POWER','highchart')."'"; ?>,
                  yAxis: 2,
                  color: <?php echo "'".$color_power."'"; ?>,
                  selected: true,
                  data: [
                    <?php if((isset($datap))&&(!empty($datap))) echo "$datap"; ?>
                  ],
                  events: {
                    checkboxClick: function(event) {
                        var series = chart.series[2];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
              }
               <?php } ?>

               <?php if((isset($data))&&(!empty($data))) { ?>
               , {
                  name: <?php echo "'".clean_highchart_message($plugs_infos[$select_plug-1]["PLUG_NAME"])."'"; ?>,
                  showCheckbox: true,
                  color: <?php echo "'".$GLOBALS["LIST_GRAPHIC_COLOR_PROGRAM"][$select_plug-1]."'"; ?>,
                  selected: true,
                  data: [
                    <?php if((isset($data))&&(!empty($data))) echo "$data"; ?>
                  ],
                  events: {
                    checkboxClick: function(event) {
                        <?php if((isset($datap))&&(!empty($datap))) { ?>
                        var series = chart.series[3];
                        <?php } else { ?>
                        var series = chart.series[2];
                        <?php } ?>
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
              }
               <?php } ?>
            <?php } ?>
            ]
        });
    });

    $('#min_y_axis').change(function() {    
        for(var i=0;i<chart.yAxis.length;i++) {
            if($(this).val()!="") {
                var extremes = chart.yAxis[i].getExtremes();
                if(extremes.max>$(this).val()) {
                    if(chart.axes[0].series[i].type=='area') {
                        chart.yAxis[i].setExtremes($(this).val(), extremes.max);
                        chart.showResetZoom();
                        //console.log(chart);
                    }
                }
            }
        }
    });

    $('#max_y_axis').change(function() {
        for(var i=0;i<chart.yAxis.length;i++) {
            if($(this).val()!="") {
                var extremes = chart.yAxis[i].getExtremes();
                if(extremes.min<$(this).val()) {
                    if(chart.axes[0].series[i].type=='area') {
                        chart.yAxis[i].setExtremes(extremes.min, $(this).val());
                        chart.showResetZoom();
                        //console.log(chart);
                    }
                }
            }
        }
    });


      $('#min_y_axis_power').change(function() {
        for(var i=0;i<chart.yAxis.length;i++) {
            if($(this).val()!="") {
                var extremes = chart.yAxis[i].getExtremes();
                if(extremes.min<$(this).val()) {
                    if(chart.axes[0].series[i].type=='spline') {
                        chart.yAxis[i].setExtremes(extremes.min, $(this).val());
                        chart.showResetZoom();
                        //console.log(chart);
                    }
                }
            }
        }
    });


      $('#max_y_axis_power').change(function() {
        for(var i=0;i<chart.yAxis.length;i++) {
            if($(this).val()!="") {
                var extremes = chart.yAxis[i].getExtremes();
                if(extremes.min<$(this).val()) {
                    if(chart.axes[0].series[i].type=='spline') {
                        chart.yAxis[i].setExtremes(extremes.min, $(this).val());
                        chart.showResetZoom();
                        //console.log(chart);
                    }
                }
            }
        }
    });

    
});


</script>
<br />
<table class="table_width">
<tr>
    <td class="left_log"></td>
    <td class="center_log"></td>
    <td class="right_log"><?php if(strcmp("$second_regul","True")==0) { if((!empty($resume_regul))&&(isset($resume_regul))) { ?><img src="main/libs/img/resume.png" alt="" class="info-bulle-css" title="<?php echo $resume_regul; ?>" /><?php } } ?></td>
</tr>
<tr>
    <td class="left_log">
        <?php if((strcmp("$type","month")!=0)||(($GLOBALS['FIRST_LOG_YEAR']!=$startyear)||($startmonth!=01))) { ?>
        <form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>#anchor-logs" method="post">
            <input type="submit" value="<" name="previous" class="button_log" title="<?php if(strcmp($type,"days")==0) echo __('PREVIOUS_BUTTON_DAY'); else echo __('PREVIOUS_BUTTON_MONTH'); ?>">
            <?php if(strcmp($type,"days")==0) { ?>
                <input type="hidden" name="startday" value="<?php echo date('Y-m-d',strtotime("-1 day", strtotime("$startday"))); ?>">
            <?php } else { ?>
                <?php 
                    if(strcmp("$startmonth","01")==0) {
                            $month="12"; 
                     } else {
                            $month=$startmonth-1;
                            if(strlen($month)<2) {
                                $month="0$month";
                            }
                    }
                ?>
                <input type="hidden" name="startmonth" value="<?php echo "$month"; ?>">
                <input type="hidden" name="startyear" value="<?php if(strcmp("$startmonth","01")==0) echo $startyear-1; else echo $startyear; ?>" >
            <?php } ?>

            <input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
            <input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
            <input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
            <input type="hidden" name="anchor" value="anchor-logs">
        </form>
        <?php } ?>
    </td>
    <td class="center_log"><div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div></td>
    <td class="right_log">
        <?php 
             $dd=date('d');    
             $yy=date('Y');
             $mm=date('m');

          if(((strcmp("$type","month")==0)&&(($startyear!=date('Y'))||($startmonth!=12)))||((strcmp("$type","days")==0)&&(strcmp("$startday","$yy-$mm-$dd")!=0))) { 
        ?>
        <form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>#anchor-logs" method="post">
            <input type="submit" value=">" name="next" class="button_log" title="<?php if(strcmp($type,"days")==0) echo __('NEXT_BUTTON_DAY'); else echo __('NEXT_BUTTON_MONTH'); ?>">
            <?php if(strcmp($type,"days")==0) { ?>
                <input type="hidden" name="startday" value="<?php echo date('Y-m-d',strtotime("+1 day", strtotime("$startday"))); ?>">
            <?php } else { ?>
                <?php 
                    if(strcmp("$startmonth","12")==0) {
                            $month="01"; 
                     } else {
                            $month=$startmonth+1;
                            if(strlen($month)<2) {
                                $month="0$month";
                            }
                    }
                ?>
                <input type="hidden" name="startmonth" value="<?php echo "$month"; ?>">
                <input type="hidden" name="startyear" value="<?php if(strcmp("$startmonth","12")==0) echo $startyear+1; else echo $startyear; ?>" >
            <?php } ?>

            <input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
            <input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
            <input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
            <input type="hidden" name="anchor" value="anchor-logs">
        </form>
        <?php } ?>
    </td>
</tr>
</table>
<br />
<table class="table_width">
<tr>
    <td></td>
    <td class="subtitle_log"><?php echo __('CONFIGURE_Y_AXIS_POWER'); ?>:</td>
    <td class="subtitle_log"><?php echo __('CONFIGURE_Y_AXIS_LOG'); ?>:</td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>
        <p class="p_center">
        <select id="min_y_axis_power">
            <option value=""><?php echo __('MIN_Y_AXIS_LOG'); ?></option>
            <?php foreach($GLOBALS['LIST_MAX_POWER'] as $val) {  ; ?>
               <option value="<?php echo $val; ?>"><?php echo $val; ?></option>
            <?php } ?>
        </select>
        &nbsp;&nbsp;
        <select id="max_y_axis_power">
            <option value=""><?php echo __('MAX_Y_AXIS_LOG'); ?></option>
            <?php foreach($GLOBALS['LIST_MAX_POWER'] as $val) {  ; ?>
               <option value="<?php echo $val; ?>"><?php echo $val; ?></option>
            <?php } ?>
        </select>
        </p>
    </td>
    <td>
        <p class="p_center">
        <select id="min_y_axis">
            <option value=""><?php echo __('MIN_Y_AXIS_LOG'); ?></option>
            <?php foreach($GLOBALS['LIST_MAX_AXIS'] as $val) {  ; ?>
               <option value="<?php echo $val; ?>"><?php echo $val; ?></option>
            <?php } ?>
        </select>
        &nbsp;&nbsp;
        <select id="max_y_axis">
            <option value=""><?php echo __('MAX_Y_AXIS_LOG'); ?></option>
            <?php foreach($GLOBALS['LIST_MAX_AXIS'] as $val) {  ; ?>
               <option value="<?php echo $val; ?>"><?php echo $val; ?></option>
            <?php } ?>
        </select>
        </p>
    </td>
    <td></td>
</tr>
</table>

<p class="precision_infos">
<?php if(strcmp($type,"days")==0)  echo "*"." ".__('PRECISION_GRAPH_DAY'); else echo "*"." ".__('PRECISION_GRAPH_MONTH'); ?>
</p>


<?php } ?>
<hr />
<br />
<br />

<label class="title_conf"><?php echo __('MANAGE_LOG_INFOS'); ?></label>
<form action="/cultibox/index.php/waiting-data" method="post" >
<table class="table_width">
<tr>
    <td class="log-manage-marge"></td>
    <td class="log-manage-title"><?php echo __('IMPORT_LOG_TITLE')." "; ?>
        <select name="log_search">
        <?php foreach($GLOBALS['LOG_SEARCH'] as $value) {
                if("$value"=="$log_search") {
                   echo "<option value=\"${value}\" selected>${value}</option>";
                } else {
                   echo "<option value=\"${value}\">${value}</option>";
                }
            } ?>
         </select>
        <?php echo __('IMPORT_LAST_MONTH'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_CONFIG_LOG_SEARCH'); ?>" />
    <td class="log-manage-field"><input type="submit" id="import_log" name="import_log" <?php if((!isset($sd_card))||(empty($sd_card))) { echo "disabled"; ?> value="<?php echo __('NO_IMPORT_LOG'); ?>" <?php } else { ?>value="<?php echo __('IMPORT_LOG'); ?>" <?php } ?>
></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
<input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
<input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
<?php if(strcmp("$type","month")==0) { ?>
<input type="hidden" name="startmonth" value="<?php echo "$startmonth"; ?>">
<input type="hidden" name="startyear" value="<?php echo "$startyear"; ?>" >
<?php } else { ?>
<input type="hidden" name="startday" value="<?php echo "$startday"; ?>">
<?php } ?>
<input type="hidden" name="anchor" value="anchor-manage">
</form>


<form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>#anchor-manage" method="post" >
<table class="table_width">
<tr>
    <td class="log-manage-marge"></td>
    <td class="log-manage-title"><?php echo __('MANAGE_RESET_TITLE'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_RESET_LOG'); ?>" /></td>
    <td class="log-manage-field"><INPUT type="submit" id="reset_log" name="reset_log" <?php if(!$empty_log) { echo 'disabled'; ?> value="<?php echo __('MANAGE_EXPORT_EMPTY_LOG_CSV'); ?>" <?php } else { ?> value="<?php echo __('MANAGE_RESET_LOG'); ?>" onclick="return DeleteForm('<?php echo __('RESET_CONFIRM','javascript'); ?>')" <?php } ?>></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="quick_load" value="True">
<input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
<input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
<input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
<?php if(strcmp("$type","month")==0) { ?>
<input type="hidden" name="startmonth" value="<?php echo "$startmonth"; ?>">
<input type="hidden" name="startyear" value="<?php echo "$startyear"; ?>" >
<?php } else { ?>
<input type="hidden" name="startday" value="<?php echo "$startday"; ?>">
<?php } ?>
</form>



<form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>#anchor-manage" method="post" >
<table class="table_width">
<tr>
    <td class="log-manage-marge"></td>
    <td class="log-manage-title"><?php echo __('MANAGE_EXPORT_LOG_CSV'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_EXPORT_LOG_CSV'); ?>" /></td>
    <td class="log-manage-field"><INPUT type="submit" id="export_log" name="export_log" <?php if(!$empty_log) { echo 'disabled'; ?> value="<?php echo __('MANAGE_EXPORT_EMPTY_LOG_CSV'); ?>" <?php } else { ?> value="<?php echo __('MANAGE_EXPORT_LOG_CSV_BUTTON'); ?>"<?php } ?>></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="quick_load" value="True">
<input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
<input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
<input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
<?php if(strcmp("$type","month")==0) { ?>
<input type="hidden" name="startmonth" value="<?php echo "$startmonth"; ?>">
<input type="hidden" name="startyear" value="<?php echo "$startyear"; ?>" >
<?php } else { ?>
<input type="hidden" name="startday" value="<?php echo "$startday"; ?>">
<?php } ?>
</form>




<label id="anchor-manage"></label>
<form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>#anchor-manage" method="post" >
<table class="table_width">
<tr>
    <td class="log-manage-marge"></td>
    <td class="log-manage-title"><?php echo __('MANAGE_RESET_TITLE_POWER'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_RESET_LOG'); ?>" /></td>
    <td class="log-manage-field"><input type="submit" id="reset_log_power" name="reset_log_power" <?php if(!$empty_power) { echo 'disabled'; ?> value="<?php echo __('MANAGE_EXPORT_EMPTY_POWER_CSV'); ?>" <?php } else { ?> value="<?php echo __('MANAGE_RESET_POWER'); ?>" onclick="return DeleteForm('<?php echo __('RESET_CONFIRM','javascript'); ?>')" <?php } ?>></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="quick_load" value="True">
<input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
<input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
<input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
<?php if(strcmp("$type","month")==0) { ?>
<input type="hidden" name="startmonth" value="<?php echo "$startmonth"; ?>">
<input type="hidden" name="startyear" value="<?php echo "$startyear"; ?>" >
<?php } else { ?>
<input type="hidden" name="startday" value="<?php echo "$startday"; ?>">
<?php } ?>
</form>


<form action="display-logs-<?php echo $_SESSION['SHORTLANG']; ?>#anchor-manage" method="post" >
<table class="table_width">
<tr>
    <td class="log-manage-marge"></td>
    <td class="log-manage-title"><?php echo __('MANAGE_EXPORT_POWER_CSV'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_EXPORT_POWER_CSV'); ?>" /></td>
    <td class="log-manage-field"><INPUT type="submit" id="export_log_power" name="export_log_power"  <?php if(!$empty_power) { echo 'disabled'; ?> value="<?php echo __('MANAGE_EXPORT_EMPTY_POWER_CSV'); ?>" <?php } else { ?>  value="<?php echo __('MANAGE_EXPORT_POWER_CSV_BUTTON'); ?>"<?php } ?>></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="quick_load" value="True">
<input type="hidden" name="select_plug" value="<?php echo $select_plug; ?>">
<input type="hidden" name="select_power" value="<?php echo $select_power; ?>">
<input type="hidden" name="select_sensor" value="<?php echo $select_sensor; ?>">
<?php if(strcmp("$type","month")==0) { ?>
<input type="hidden" name="startmonth" value="<?php echo "$startmonth"; ?>">
<input type="hidden" name="startyear" value="<?php echo "$startyear"; ?>" >
<?php } else { ?>
<input type="hidden" name="startday" value="<?php echo "$startday"; ?>">
<?php } ?>
</form>


<br />
<br />
<br />
