<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_message"; ?>');
   </script>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_error_message"; ?>');
   </script>
<?php } ?>

<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<br />
<?php } ?>

<br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="plugForm" id="plugForm">
<p class="title_conf"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('PLUG'); ?>: 
    <select name="selected_plug" onChange="getSelectedPlug(this.selectedIndex,<?php echo $nb_plugs; ?>);" onLoad="getSelectedPlug(this.selectedIndex,<?php echo $nb_plugs; ?>);">
    <?php for($i=1;$i<=$nb_plugs;$i++) { ?>
               <option <?php if($selected_plug==$i) { echo 'selected';} ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
    <?php } ?>
               <option <?php if($selected_plug=="all") { echo 'selected';} ?> value="all"><?php echo __('SELECT_ALL_PLUGS'); ?></option>
    </select>
</p>
<br />
<div id="title_infos_plug" style="<?php if(strcmp($selected_plug,"all")==0) echo 'display:none'; ?>"><p class="title_plug"><?php echo __('PLUG_INFOS'); ?>:</p></div>
   <?php for($i=1;$i<=$nb_plugs;$i++) { ?>
    <div id="title_infos_all_plugs<?php echo $i; ?>" style="<?php if(strcmp($selected_plug,"all")!=0) echo 'display:none'; ?>"><p class="title_plug"><?php echo __('PLUG_INFOS')." ".$i; ?>:</p></div>
   <div id="div_selected_plug<?php echo $i; ?>" style="<?php if(($selected_plug!=$i)&&(strcmp($selected_plug,"all")!=0)) echo 'display:none'; ?>">
<br />
<table class="table_width">
      <tr>
         <td class="plug-marge-td"></td>
         <td class="plug-marge-title">
              <?php echo __('NAME_PLUG'); ?>:
         </td>
         <td class="plug-marge-field">
            <input type="text" size="15" maxlength="15" name="plug_name<?php echo $i; ?>" value="<?php echo $plug_name{$i}; ?>">
         </td>
         <td></td>
      </tr>
      <tr>
         <td></td>
         <td>
            <?php echo __('TYPE_PLUG'); ?>:
         </td>
         <td>
            <select name="plug_type<?php echo $i; ?>" onChange="getTolerance(this.selectedIndex,<?php echo $i; ?>);" onLoad="getTolerance(this.selectedIndex,<?php echo $i; ?>);">
               <option <?php if(strcmp($plug_type{$i},"unknown")==0) { echo 'selected';} ?> value="unknown"><?php echo __('PLUG_UNKNOWN'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
            </select>
         </td>
         <td></td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div id="tolerance_label<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"unknown")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>">
               <?php echo __('TOLERANCE_PLUG'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_TOLERANCE'); ?>" />
            </div>
         </td>
         <td>
            <div id="tolerance<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"unknown")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>">
               <input type="text" id="plug_tolerance<?php echo $i; ?>" size="4" style="width: 20%;" maxlength="4" name="plug_tolerance<?php echo $i; ?>" value="<?php echo $plug_tolerance{$i}; ?>" onKeypress="return verifDigit(event);" /><label id="pourcent<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"humidifier")!=0)&&(strcmp($plug_type{$i},"dehumidifier")!=0)) { echo "display:none"; } ?>"> %</label><label id="degree<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"heating")!=0)&&(strcmp($plug_type{$i},"ventilator")!=0)) { echo "display:none"; } ?>"> °C</label>
            </div>
         </td>
         <td><?php if((isset($error[$i]['tolerance']))&&(!empty($error[$i]['tolerance']))) echo "<div class='error'>".$error[$i]['tolerance']."</div>"; ?></td>
      </tr>
   <tr>
         <td></td>
         <td>
            <?php echo __('ID_PLUG'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_ID'); ?>" />
         </td>
         <td>
            <input type="text" size="3" maxlength="3" name="plug_id<?php echo $i; ?>" value="<?php echo $plug_id{$i}; ?>" <?php if($i<=3) echo "disabled"; ?> onKeypress="return verifInt(event);">
         </td>
        <td><?php if((isset($error[$i]['plug_id']))&&(!empty($error[$i]['plug_id']))) echo "<div class='error'>".$error[$i]['plug_id']."</div>"; ?></td>
      </tr>
     <tr>
         <td></td>
         <td>
            <?php echo __('POWER_PLUG'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER'); ?>" />
         </td>
         <td>
            <input type="text" size="4" maxlength="4" name="plug_power<?php echo $i; ?>" value="<?php echo $plug_power{$i}; ?>" onKeypress="return verifInt(event);">W
         </td>
        <td><?php if((isset($error[$i]['power']))&&(!empty($error[$i]['power']))) echo "<div class='error'>".$error[$i]['power']."</div>"; ?></td>
      </tr>
<tr>
         <td></td>
         <td>
            <div id="second_regul_label<?php echo $i; ?>" <?php if(strcmp($plug_type{$i},"lamp")==0) echo 'style="display:none"'; ?>>
<?php echo __('ENABLE_REGUL_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_REGUL'); ?>" />
            </div>
         </td>
         <td>
            <div id="second_regul<?php echo $i; ?>" <?php if(strcmp($plug_type{$i},"lamp")==0) echo 'style="display:none"'; ?>>
            <select id="plug_regul<?php echo $i; ?>" name="plug_regul<?php echo $i; ?>" onChange="getRegul(this.selectedIndex,<?php echo $i; ?>);" onLoad="getRegul(this.selectedIndex,<?php echo $i; ?>);">
               <option <?php if(strcmp($plug_regul{$i},"True")==0) { echo 'selected';} ?> value="True"><?php echo __('VALUE_ON'); ?></option>
               <option <?php if(strcmp($plug_regul{$i},"False")==0) { echo 'selected';} ?> value="False"><?php echo __('VALUE_OFF'); ?></option>
            </select>
            </div>
         </td>
        <td></td>
      </tr>
</table>

<div id="second_regul_param<?php echo $i; ?>" <?php if(strcmp($plug_type{$i},"lamp")==0) echo 'style="display:none"'; ?>>
<table class="table_width">
   <tr>
      <td class="plug-regul"></td>
      <td class="regul"><div id="label_regul_senso<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},'False')==0) { echo "display:none"; } ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_SENSO'); ?>:</div></td>
         <td><div id="div_regul_senso<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><div id="unknown_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"unknown")!=0)&&(strcmp($plug_type{$i},"lamp")!=0)) { echo "display:none"; } ?>">
<select name="plug_senso<?php echo $i; ?>" onChange="getUnity(this.selectedIndex, <?php echo $i; ?>);" onLoad="getUnity(this.selectedIndex,<?php echo $i; ?>);">
           <?php 
                if(strcmp($plug_senso{$i},"H")==0) {
                     echo "<option value='T'>".__('REGUL_TEMP')."</option>";
                     echo "<option value='H' selected>".__('REGUL_HUMI')."</option>";
                  } else {
                     echo "<option value='T' selected>".__('REGUL_TEMP')."</option>";
                     echo "<option value='H'>".__('REGUL_HUMI')."</option>";
                  }
           ?>
    </select></div>
         <div id="humi_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"ventilator")!=0)&&(strcmp($plug_type{$i},"heating")!=0)) { echo "display:none"; } ?>">
               <input type="text" size="10" value="<?php echo __('REGUL_HUMI'); ?>" name="regul_humi_fake<?php echo $i; ?>" disabled>
         </div>

          <div id="temp_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"humidifier")!=0)&&(strcmp($plug_type{$i},"dehumidifier")!=0)) { echo "display:none"; } ?>">
               <input type="text" size="10" value="<?php echo __('REGUL_TEMP'); ?>" name="regul_temp_fake<?php echo $i; ?>" disabled>
         </div>
         </div>
   </td>
    <td></td>
</tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_senss<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_SENSS'); ?>:</div></td>
      <td><div id="div_regul_senss<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><select name="plug_senss<?php echo $i; ?>">
           <?php if(strcmp($plug_senss{$i},"-")==0) {
                     echo "<option value='+'>".__('REGUL_ABOVE')."</option>";
                     echo "<option value='-' selected>".__('REGUL_UNDER')."</option>";
                  } else {
                     echo "<option value='+' selected>".__('REGUL_ABOVE')."</option>";
                     echo "<option value='-'>".__('REGUL_UNDER')."</option>";
                  }
           ?>
     </select></div>

      </td>
      <td></td>
   </tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_VALUE'); ?>:</div></td>
      <td><div id="div_regul_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo $plug_regul_value{$i}; ?>" name="plug_regul_value<?php echo $i; ?>" onKeypress="return verifDigit(event);"><label id="label_degree<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"H")==0) echo "display:none"; ?>">°C</label><label id="label_pourcent<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"T")==0) echo "display:none"; ?>">%</label></div></td>
    <td><?php if((isset($error[$i]['regul_value']))&&(!empty($error[$i]['regul_value']))) echo "<div class='error'>".$error[$i]['regul_value']."</div>"; ?></td>
   </tr>
   </table>
</div>
</div>

<div id="format_style<?php echo $i; ?>" style="display:none"><br /><hr /><br /></div>
   <?php } ?>
<br /><br />
   <table>
      <tr>
         <td class="plug-marge-submit"></td>
         <td class="plug-marge-submit">
            <INPUT type="submit" name="reccord" value="<?php echo __('VALIDATION_PLUG_CONF'); ?>">
         </td>
         <td class="plug-marge-submit">
            <INPUT type="submit" name="reset" value="<?php echo __('RESET_PLUG_ID'); ?>">
         </td>
      </tr>
   </table>
</form>
