<label id="anchor-programs"></label>
<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>  
   <script>
      alert('<?php echo "$pop_up_message"; ?>');
   </script>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_error_message"; ?>');
   </script>
<?php } ?>


<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<img src="main/libs/img/informations.png" alt=""><b><?php echo __("INFORMATIONS").":"; ?></b>
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<img src="main/libs/img/warning.png" alt=""><b><?php echo __("ERROR_MESSAGE").":"; ?></b>
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<br />
<?php } ?>
<br />

<form action="<?php echo($_SERVER['PHP_SELF']); ?>#anchor-programs" method="get" name="actionprog" id="actionprog">
<p class="title_conf"><?php echo __('CONFIGURE_PROGRAM'); ?>
    <select name="selected_plug" onchange="this.form.submit()" id="selected_plug">
    <?php foreach($active_plugs as $plugs) {  ?>
               <option <?php if($selected_plug==$plugs['id']) { echo 'selected';} ?> value="<?php echo $plugs['id']; ?>" ><?php echo $plugs['id']." - ".$plugs_infos[$plugs['id']-1]['PLUG_NAME']; ?></option>
    <?php } ?>
    </select>
</p>

<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: true,
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#end_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#repeat_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>

<script type="text/javascript">

Highcharts.setOptions({
lang: {
<?php echo "resetZoom : '".__('RESET_ZOOM','highchart')."',"; ?>
<?php echo "resetZoomTitle : '".__('RESET_ZOOM_TITLE','highchart')."'"; ?>
}
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         backgroundColor: '#F7F7F9',
         borderWidth: 2,
         spacingRight: 35,
         renderTo: 'plug',
         type: 'spline',
         zoomType: 'x'
      },
      title: {
         text: <?php echo "'".__('CURRENT_PLUG_PROGRAM','highchart').": '"; ?>
      },
       subtitle: {
             text: document.ontouchstart === undefined ?
               <?php echo "'".__('DRAG_PLOT','highchart')."'"; ?>:
               <?php echo "'".__('DRAG_PLOT','highchart')."'"; ?>
      },
      lang: {
         printButtonTitle: <?php echo "'".__('PRINT_HIGHCHART','highchart')."',"; ?>
         exportButtonTitle: <?php echo "'".__('EXPORT_HIGHCHART','highchart')."',"; ?>
         downloadPNG : <?php echo "'".__('EXPORT_PNG','highchart')."',"; ?>
         downloadJPEG : <?php echo "'".__('EXPORT_JPEG','highchart')."',"; ?>
         downloadPDF : <?php echo "'".__('EXPORT_PDF','highchart')."',"; ?>
         downloadSVG : <?php echo "'".__('EXPORT_SVG','highchart')."',"; ?>
         resetZoom : <?php echo "'".__('RESET_ZOOM','highchart')."',"; ?>
         resetZoomTitle : <?php echo "'".__('RESET_ZOOM_TITLE','highchart')."'"; ?>
      },
      legend: {
            layout: 'vertical',
            verticalAlign: 'bottom',
            align: 'right',
            y: -<?php echo ($GLOBALS['NB_MAX_PLUG']-count($active_plugs))*16+15; ?>,
            navigation: {
                activeColor: '#3E576F',
                animation: true,
                arrowSize: 12,
                inactiveColor: '#CCC',
                style: {
                    fontWeight: 'bold',
                    color: '#333',
                    fontSize: '12px'    
                }
            }
         },
      xAxis: {
         type: 'datetime',
         endOnTick: true,
         showFirstLabel: false,
         showLastLabel: true,
         dateTimeLabelFormats: { // don't display the dummy year
            hours: '%H',
            minutes: '%M',
            seconds: '%S'
         },
         min: 0,
         max: 86399999,
         tickInterval: 6 * 3600 * 1000,
         labels: {
            formatter: function () {
                var tmp=Highcharts.dateFormat('%H:%M', this.value);
                if(tmp=="00:00") return "24:00";
                return tmp;
            }
         }
      },
      yAxis: {
            min: 0,
            max: 100,
            alternateGridColor: '#FDFFD5',
              labels: {
                     formatter: function() {
 if((this.value>=0)&&(this.value<=100)) {      
               <?php if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"other")==0)) { ?>
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
               if(this.value==100) return '<?php echo __("VALUE_ON"); ?>';
<?php } else if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"ventilator")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"heating")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+'°C';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';

<?php } else if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"dehumidifier")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+'%';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';

<?php } else { ?>
               return this.value;

<?php } ?>
            }
                     }
              },
         title: false
      },
      credits: {
                   enabled: false
      },
      plotOptions: {
            series: {
                events: {
                    legendItemClick: function () {
                        return false;
                    }
                }
            }
      },
      tooltip: {
         formatter: function() {
            if(this.y == 99.9) {
                return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("CHART_FORCE_ON_VALUE"); ?></b></p>';
            } else if(this.y == 0) {
                return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("VALUE_OFF"); ?></b></p>';
            } else { 
                return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'°C</b></p>';
                //+this.series.index;
            } 
         }
      },
      
      series: [
            <?php 
            $count=0;
            foreach($active_plugs as $plugs) {  
            ?>

        {
         <?php if($plugs['id']==$selected_plug) { ?>
            name: <?php echo "'<b>".clean_popup_message($plugs_infos[$plugs['id']-1]['PLUG_NAME'])." (".clean_popup_message($plugs_infos[$plugs['id']-1]['translate']).")</b>',"; ?>
         <?php } else { ?>
            name: <?php echo "'".clean_popup_message($plugs_infos[$plugs['id']-1]['PLUG_NAME'])." (".clean_popup_message($plugs_infos[$plugs['id']-1]['translate']).")',"; ?>
         <?php } ?>
         color: <?php echo "'".$GLOBALS['LIST_GRAPHIC_COLOR_PROGRAM'][$plugs['id']-1]."'"; ?>,
         <?php if($plugs['id']!=$selected_plug) { ?>
         showCheckbox: true,
         <?php } ?>
         
         <?php if($plugs['id']!=$selected_plug) { echo "visible: false,"; } else { echo "selected: true,"; } ?>
         data: [
            <?php echo $plugs_infos[$plugs['id']-1]["data"]; ?>
         ]
         ,events: {
                    checkboxClick: function(event) {
                        var series = chart.series[<?php echo $count; ?>];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
      }
     <?php 
     $count=$count+1;
     if($count!=count($active_plugs)) echo ","; 
    } ?>
] 
   });
});

</script>

<table class="table_width">
<tr>
   <td class="program-marge"></td>
   <td class="program-td-title"><?php echo __('PROGRAM_NEW_ACTION'); ?>:</td>
   <td class="program-field"><input type="radio" id="ponctual" name="ponctual" value="<?php echo __('PROGRAM_PONCTUAL'); ?>"  onclick="getProgramType('ponctual')" <?php if(empty($cyclic)) echo "checked"; ?> ><?php echo __('PROGRAM_PONCTUAL'); ?><input type="radio" name="cyclic" id="cyclic" value="<?php echo __('PROGRAM_CYCLIC'); ?>" onclick="getProgramType('cyclic')" <?php if(!empty($cyclic)) echo "checked"; ?>><?php echo __('PROGRAM_CYCLIC'); ?></td>
    <td></td>
</tr>
<tr>
   <td></td>
   <td><?php echo __('START_TIME_PROGRAM'); ?>:</td>
   <td><input type="text" size="10" name="start_time" id="start_time" <?php if(!empty($start_time)) { ?> value="<?php echo $start_time;?>" <?php } else { ?> value="00:00:00" <?php } ?> /></td>
   <td><?php if((isset($error['start_time']))&&(!empty($error['start_time']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['start_time']."</div>"; ?></td>
</tr>
<tr>
    <td></td>
    <td><?php echo __('END_TIME_PROGRAM'); ?>:</td>
    <td><input type="text" size="10" name="end_time" id="end_time" <?php if(!empty($end_time)) { ?>value="<?php echo $end_time;?>" <?php } else { ?>value="00:00:00" <?php } ?> /></td>
    <td><?php if((isset($error['end_time']))&&(!empty($error['end_time']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['end_time']."</div>"; ?></td>
</tr>
<tr>
    <td></td>
    <td><div id="time_cyclic" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('REPEAT_EVERY'); ?>:</div></td>
    <td> <div id="time_cyclic_field" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="repeat_time" id="repeat_time" <?php if(!empty($repeat_time)) { ?>value="<?php echo $repeat_time;?>" <?php } else { ?>value="00:00:00" <?php } ?> /></div> </td>
    <td><?php if((isset($error['repeat_time']))&&(!empty($error['repeat_time']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['repeat_time']."</div>"; ?></td>
</tr>
<tr>
     <td></td>
     <td><?php echo __('VALUE_ON_OFF'); ?>:</td>
     <td><?php if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"other")==0)) { ?>
            <select id="regul_program" name="regul_program"> 
                <option value="on" <?php if(strcmp("$regul_program","on")==1) { ?>selected<?php } ?>><?php echo __('VALUE_ON'); ?></option>
                <option value="off" <?php if(strcmp("$regul_program","off")==0) { ?>selected<?php } ?>><?php echo __('VALUE_OFF'); ?></option>
            </select>
            <?php } else { ?>
             <select id="regul_program" name="regul_program" onChange="getRegulation(this.selectedIndex);" onLoad="getRegulation(this.selectedIndex);">
                 <option value="regul" <?php if(strcmp("$regul_program","regul")==0) { ?>selected<?php } ?>><?php echo __('VALUE_REGUL'); ?></option>
			     <option value="on" <?php if(strcmp("$regul_program","on")==0) { ?>selected<?php } ?>><?php echo __('VALUE_ON'); ?></option>
                 <option value="off" <?php if(strcmp("$regul_program","off")==0) { ?>selected<?php } ?>><?php echo __('VALUE_OFF'); ?></option>
            </select>
            <?php } ?>
    </td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td><div id="regul_label" style="<?php if(strcmp("$regul_program","regul")!=0) echo "display:none"; ?>"><?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"ventilator")==0)) { 
                            echo __('TEMP_WISHED').":"; 
                            } elseif((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"dehumidifier")==0)) {
                                    echo __('HUMI_WISHED').":"; 
                            } ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_VALUE'); ?>" /></div></td>
    <td><div id="regul_value" style="<?php if(strcmp("$regul_program","regul")!=0) echo "display:none"; ?>">
                       <input type="text" id="value_program" name="value_program" size="4" maxlength="4" 
                       <?php if(!empty($value_program)) { 
                               ?>value="<?php echo $value_program;?>" <?php 
                        } else { 
                              if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"ventilator")==0))  { 
                                      echo 'value="22"'; 
                               } elseif((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"dehumidifier")==0)) { 
                                      echo 'value="55"'; 
                              } 
                        } ?> />
                                                <?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"ventilator")==0)) echo "°C"; ?>
                  <?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"dehumidifier")==0)) echo "%"; ?>
               </div>
    </td>
    <td><?php if((isset($error['value']))&&(!empty($error['value']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['value']."</div>"; ?></td>
</tr>
<?php if(strcmp("$second_regul","True")==0) { ?>
<tr>
    <td></td>
    <td><?php echo __('VALUE_REGUL_SECOND'); ?>:</td>
    <td><input type="text" name="second_regul_plug" value="<?php if(strcmp($plugs_infos[$selected_plug-1]['PLUG_REGUL'],"False")==0) { echo __('SECOND_REGUL_OFF'); } else { echo __('SECOND_REGUL_ON'); } ?>" readonly size="10" /></td>
    <td></td>
</tr>
<?php } ?>
<tr>
    <td></td>
    <td><?php echo __('RESET_OLD_PROGRAM'); ?>:</td>
    <td><input type="checkbox" name="reset_old_program" value="Yes" <?php if((isset($plugs_infos[$selected_plug-1]['RESET']))&&(!empty($plugs_infos[$selected_plug-1]['RESET']))) echo "checked"; ?> /></td>
    <td></td>
</tr>
</table>

<table class="table_width">
<tr>
    <td></td>
    <td class="program-valid-right"><br /><input type="submit" name="apply" value="<?php echo __('APPLY_PROGRAM'); ?>"></td>
    <td></td>
</tr>
</table>
</form>

<br /><hr /><br />

<table class="table_width">
<tr>
    <td class="program-div-margin"></td><td class="program-div"></td><td><img src="main/libs/img/resume.png" alt="" class="info-bulle-css" title="<?php echo $resume; ?>" /></td>
</tr>
<tr>
    <td></td><td><div id="plug" style="width: 100%; height: 350px; margin: 0 auto"></div></td><td></td>
</tr>
</table>
<br /><hr /><br />


<label id="anchor-manage"></label>
<label class="title_conf"><?php echo __('MANAGE_PROGRAM_INFOS'); ?></label>
<form action="<?php echo($_SERVER['PHP_SELF']); ?>#anchor-manage" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_ADD_PLUG'); ?>:</td>
    <td class="program-manage-field">
          <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
          <input type="hidden" name="add_plug" value="add_plug">
          <input type="submit" name="add" class="submit_plug" <?php if($nb_plugs>=$GLOBALS['NB_MAX_PLUG']) { ?> disabled value="<?php echo __('MAX_PLUG_REACHED'); ?>" <?php } else { ?>value="<?php echo __('ADD_PLUG'); ?>" <?php } ?>>
    </td>
    <td></td>
</tr>
</table>
</form>

<form action="<?php echo($_SERVER['PHP_SELF']); ?>#anchor-manage" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_REMOVE_PLUG'); ?>:</td>
    <td class="program-manage-field">
          <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
          <input type="hidden" name="remove_plug" value="remove_plug">
          <input type="submit" name="remove" class="submit_plug" <?php if($nb_plugs<=$GLOBALS['NB_MIN_PLUG']) { ?> disabled value="<?php echo __('MIN_PLUG_REACHED'); ?>" <?php } else { ?>value="<?php echo __('REMOVE_PLUG'); ?>"<?php } ?>>
    </td>
    <td></td>
</tr>
</table>
</form>


<form action="<?php echo($_SERVER['PHP_SELF']); ?>#anchor-manage" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_RESET_PROGRAM'); ?>:</td>
    <td class="program-manage-field">
                  <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
                  <input type="hidden" name="action_prog" value="action_prog">
                  <input type="submit" value="<?php echo __('RESET_PROGRAM'); ?>" name="reset" class="submit_plug">
    </td>
    <td></td>
</tr>
</table>
</form>


<?php if($GLOBALS['MODULE_IMPORT_EXPORT']) { ?>
<form action="<?php echo($_SERVER['PHP_SELF']); ?>#anchor-manage" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_EXPORT_PROGRAM'); ?>:</td>
    <td class="program-manage-field">
                        <input type="submit" value="<?php echo __('EXPORT_PROGRAM'); ?>" name="export" class="submit_plug">
                        <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
    </td>
    <td></td>
</tr>
</table>
</form>

<form action="<?php echo($_SERVER['PHP_SELF']); ?>#anchor-manage" method="post" enctype="multipart/form-data">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_IMPORT_PROGRAM'); ?>:</td>
    <td class="program-manage-field">
                     <input type="file" name="upload_file">
                     <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
                     <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
    </td>
    <td><input type="submit" name="import" value="<?php echo __('IMPORT_PROGRAM'); ?>" class="submit_plug"></td>
</table>
</form>
<?php } ?>

