<script type="text/javascript">
   function getRegul(i,j) {
      var divValueRegul = document.getElementById('regul_value'+j);
      var divLabelRegul = document.getElementById('regul_label'+j);

      switch(i) {
         case 0 : divLabelRegul.style.display = ''; divValueRegul.style.display = ''; break;
         default: divLabelRegul.style.display = 'none'; divValueRegul.style.display = 'none'; break;
      }
   }
</script>

<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>

<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
<ul>
        <?php echo $error; ?>
</ul>
</div>
<br />
<?php } ?>

<?php for($i=1;$i<=$nb_plugs;$i++) { ?>

<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))&&("$i"=="$selected_plug")) { ?> 
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_message"; ?>');
   </SCRIPT>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))&&("$i"=="$selected_plug")) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_error_message"; ?>');
   </SCRIPT>
<?php } ?>

<script type="text/javascript">
$(document).ready(function(){
$('#start_time<?php echo "$i"; ?>').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: true,
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#end_time<?php echo "$i"; ?>').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>


<script type="text/javascript">

Highcharts.setOptions({
lang: {
<?php echo "resetZoom : '".__('RESET_ZOOM')."',"; ?>
<?php echo "resetZoomTitle : '".__('RESET_ZOOM_TITLE')."'"; ?>
}
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         backgroundColor: '#F7F7F9',
         renderTo: 'plug<?php echo "$i";?>',
         type: 'spline',
                   zoomType: 'x'
      },
      title: {
         text: <?php echo "'".__('CURRENT_PLUG_PROGRAM')." ".$plugs_infos[$i-1]["PLUG_NAME"]."'"; ?>
      },
      lang: {
         printButtonTitle: <?php echo "'".__('PRINT_HIGHCHART')."',"; ?>
         exportButtonTitle: <?php echo "'".__('EXPORT_HIGHCHART')."',"; ?>
         downloadPNG : <?php echo "'".__('EXPORT_PNG')."',"; ?>
         downloadJPEG : <?php echo "'".__('EXPORT_JPEG')."',"; ?>
         downloadPDF : <?php echo "'".__('EXPORT_PDF')."',"; ?>
         downloadSVG : <?php echo "'".__('EXPORT_SVG')."'"; ?>
      },
      xAxis: {
         type: 'datetime',
         dateTimeLabelFormats: { // don't display the dummy year
            hours: '%H',
            minutes: '%M',
            seconds: '%S'
         },
         min: 0,
         max: 86399999
      },
      yAxis: {
            <?php if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"unknown")==0)) { ?>
            min: 0,
            max: 110,
            <?php } else { ?>
            min: 0,
            max: 100,
            <?php }?>
              labels: {
                     formatter: function() {
            if((this.value>=0)&&(this.value<=100)) {      
               <?php if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"unknown")==0)) { ?>
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
               if(this.value==100) return '<?php echo __("VALUE_ON"); ?>';
<?php } else if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"ventilator")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"heating")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+'°C';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';

<?php } else if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"humidifier")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"dehumidifier")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+'%';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';

<?php } else { ?>
               return this.value;

<?php } ?>
            }
                     }
              },
         title: false
      },
               credits: {
                        enabled: false
                },
      tooltip: {
         formatter: function() {

  <?php if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"unknown")==0)) { ?>
      if(this.y == 99.9) {
         return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("VALUE_ON"); ?></b></p>';
      } else {
         return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("VALUE_OFF"); ?></b></p>';
      }
<?php } else if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"ventilator")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"heating")==0)) { ?>
      if(this.y == 99.9) {
         return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("CHART_FORCE_ON_VALUE"); ?></b></p>';
       } else if(this.y == 0) {
         return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("VALUE_OFF"); ?></b></p>';
            } else { 
         return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'°C</b></p>';
      }   

<?php } else if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"humidifier")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"dehumidifier")==0)) { ?>
       if(this.y == 99.9) {
      return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("CHART_FORCE_ON_VALUE"); ?></b></p>';
       } else if(this.y == 0) {
      return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __("VALUE_OFF"); ?></b></p>';
       } else { 
      return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'%</b></p>';
       }
<?php } else { ?>
      return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'</b></p>';
<?php } ?>

         }
      },
      
      series: [{
         name: <?php echo "'".__('BEHAVIOUR_PLUG_PROGRAM_TITLE')." (".$plugs_infos[$i-1]['translate'].")',"; ?>
         color: <?php echo "'".$GLOBALS['LIST_GRAPHIC_COLOR_PROGRAM'][$i-1]."'"; ?>,
         data: [
            <?php echo $plugs_infos[$i-1]["data"]; ?>
         ]
      }]
   });
});

</script>
<br />

<form action="<?php echo($_SERVER['PHP_SELF']); ?>#conf<?php echo $i; ?>" method="post">
<table width="100%" id="conf<?php echo $i; ?>" >
   <tr>
      <td width="40%"><p class="title_conf"><?php if(isset($plugs_infos[$i-1]['PLUG_NAME'])) echo __('CONFIGURE_PROGRAM').": ".$plugs_infos[$i-1]['PLUG_NAME']; else echo __('CONFIGURE_PROGRAM'); ?></p></td>
      <td></td>
   </tr>
   <tr>
      <td>
         <table>
            <tr>
               <td width="10%"></td>
               <td width="53%"><?php echo __('START_TIME_PROGRAM'); ?></td>
               <td width="37%">
                  <input type="text" size="10" name="start_time<?php echo $i; ?>" id="start_time<?php echo $i; ?>" <?php if(($i==$selected_plug)&&(!empty($start_time))) { ?> value="<?php echo $start_time;?>" <?php } else { ?> value="00:00:00" <?php } ?> />
            </tr>
            <tr>
               <td></td>
               <td><?php echo __('END_TIME_PROGRAM'); ?></td>
               <td>
                  <input type="text" size="10" name="end_time<?php echo $i; ?>" id="end_time<?php echo $i; ?>" <?php if(($i==$selected_plug)&&(!empty($end_time))) { ?>value="<?php echo $end_time;?>" <?php } else { ?>value="00:00:00" <?php } ?> />
               </td>
            </tr>
            <tr>
               <td></td>
               <td><?php echo __('VALUE_ON_OFF'); ?></td>
               <td>
		<?php if((strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$i-1]["PLUG_TYPE"],"unknown")==0)) { ?>
                  <select id="value_program<?php echo $i; ?>" name="value_program<?php echo $i; ?>">
                     <option value="on" <?php if(($i==$selected_plug)&&($value_program==1)) { ?>selected<?php } ?>><?php echo __('VALUE_ON'); ?></option>
                          <option value="off" <?php if(($i==$selected_plug)&&($value_program==0)) { ?>selected<?php } ?>><?php echo __('VALUE_OFF'); ?></option>
                       </select>
               <?php } else { ?>
                       <select id="regul_program<?php echo $i; ?>" name="regul_program<?php echo $i; ?>" onChange="getRegul(this.selectedIndex,<?php echo $i; ?>);" onLoad="getRegul(this.selectedIndex,<?php echo $i; ?>);">
                             <option value="regul" <?php if(($i==$selected_plug)&&(strcmp("$regul_program","regul")==0)) { ?>selected<?php } ?>><?php echo __('VALUE_REGUL'); ?></option>
			     <option value="on" <?php if(($i==$selected_plug)&&(strcmp("$regul_program","on")==0)) { ?>selected<?php } ?>><?php echo __('VALUE_ON'); ?></option>
                             <option value="off" <?php if(($i==$selected_plug)&&(strcmp("$regul_program","off")==0)) { ?>selected<?php } ?>><?php echo __('VALUE_OFF'); ?></option>
                       </select></td>
			<tr><td></td><td><div id="regul_label<?php echo $i; ?>" style="<?php if(($i==$selected_plug)&&(strcmp("$regul_program","regul")!=0)) echo "display:none"; ?>"><?php if((strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"ventilator")==0)) { 
                            echo __('TEMP_WISHED'); 
                            } elseif((strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"deshumidifier")==0)) {
                                    echo __('HUMI_WISHED'); 
                            } ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_VALUE'); ?>" /></div></td><td><div id="regul_value<?php echo $i; ?>" style="<?php if(($i==$selected_plug)&&(strcmp("$regul_program","regul")!=0)) echo "display:none"; ?>">
                       <input type="text" id="value_program<?php echo $i; ?>" name="value_program<?php echo $i; ?>" size="4" maxlength="4" 
                       <?php if(($i==$selected_plug)&&(!empty($value_program))) { 
                               ?>value="<?php echo $value_program;?>" <?php 
                        } else { 
                              if((strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"ventilator")==0))  { 
                                      echo 'value="22"'; 
                               } elseif((strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"dehumidifier")==0)) { 
                                      echo 'value="55"'; 
                              } 
                        } ?> />
                                                <?php if((strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"ventilator")==0)) echo "°C"; ?>
                  <?php if((strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$i-1]['PLUG_TYPE'],"dehumidifier")==0)) echo "%"; ?>
               </div><?php } ?>
               </td>
            </tr>
            <tr>
               <td></td>
               <td align="right"><br /><input type="hidden" name="selected_plug" value="<?php echo $i; ?>">
                  <input type="submit" name="apply" value="<?php echo __('APPLY_PROGRAM'); ?>">
               </td>
               <td></td>
            </tr>
         </table>
      </td>
      <td width="40%">
         <div id="plug<?php echo $i; ?>" style="width: 100%; height: 300px; margin: 0 auto">
         </div>
      </td>
   </tr>
   <tr>
      <td></td>
      <td>
         <table width="100%">
            <tr>
               <td width="10%"></td>
               <td width="15%">
                  <!--
                     <a href="tmp/program<?php echo $î; ?>.txt" name="export" target="_blank"><?php echo __('EXPORT_PROGRAM'); ?></a></td>
                  -->
               <td width="30%">
                  <!--
                  <form action="<?php echo($_SERVER['PHP_SELF']); ?>#conf<?php echo $i; ?>" method="post">
                     <input type="submit" name="import" value="<?php echo __('IMPORT_PROGRAM'); ?>">
                     <input type="hidden" name="action_prog" value="<?php echo $i; ?>">
                  </form>
                  -->
               </td>
               <td>
                  <a href="<?php echo($_SERVER['PHP_SELF']); ?><?php echo '?action_prog='.$i.'&reset=reset'; ?>#conf<?php echo $i; ?>" name="reset"><?php echo __('RESET_PROGRAM'); ?></a>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
</form>

<?php if((isset($info_plug[$i]))&&(!empty($info_plug[$i]))) { ?>
<div id="info">
   <ul>
      <?php echo $info_plug[$i]; ?>
   </ul>
</div>
<?php } ?>


<?php if((isset($ret_plug[$i]))&&(!empty($ret_plug[$i]))) { ?>
<div id="error">
   <ul>
      <?php echo $ret_plug[$i]; ?>
   </ul>
</div>
<?php } ?>

<br />
<hr />


<?php } ?>

