<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_message"; ?>');
   </script>
<?php } else if((isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_error_message"; ?>');
   </script>
<?php } ?>


<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<img src="main/libs/img/informations.png" alt=""><b><?php echo __("INFORMATIONS").":"; ?></b>
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<img src="main/libs/img/warning.png" alt=""><b><?php echo __("ERROR_MESSAGE").":"; ?></b>
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<br /><br />

<?php if(!$compat) { ?>
<script>
$(document).ready(
function(){
    $("#compat").fadeIn(4000);
});
</script>
<?php } ?>
<br />

<div class="welcome"> 
<p class="welcome_title"><?php echo __('WELCOME_TITLE'); ?></p>
<br />
<p class="text_info"><?php echo __('WELCOME_MESSAGE'); ?></p>
<br />
<?php if($wizard) { ?>
    <div class="text_info"><?php echo __('WELCOME_TUTO'); ?>:<br /><?php echo __('WELCOME_REQUIEREMENT'); ?></div>
    <br />
    <p class="text_info"><?php echo __('WELCOME_FOLLOW_LINK'); ?>:</p>
<form action="<?php echo($_SERVER['PHP_SELF'])."/wizard"; ?>" method="post"><p class="p_center"><input type="submit" name="go_wizard" value="<?php echo __('WELCOME_WIZARD'); ?>"></p></form>
<?php } else { ?>
<hr />
<br />
<table class="table_width">
<tr>
<td class="welcome-link"><a href="index.php/display-logs"><img src="main/libs/img/logs.png" title="<?php echo __('WELCOME_LOGS'); ?>" alt="<?php echo __('WELCOME_LOGS'); ?>" /><br /></a></td><td class="welcome-link"><a href="index.php/programs"><img src="main/libs/img/program.png" title="<?php echo __('WELCOME_PROGRAM'); ?>" alt="<?php echo __('WELCOME_PROGRAM'); ?>" /><br /></a></td>
<td class="welcome-link"><a href="index.php/calendar"><img src="main/libs/img/calendar.png" title="<?php echo __('WELCOME_CALENDAR'); ?>" alt="<?php echo __('WELCOME_CALENDAR'); ?>"/><br /></a></td></tr>
<tr>
<td class="welcome-link">
<a href="index.php/display-logs">
<?php echo __('WELCOME_LOGS'); ?>
</a>
</td>
<td class="welcome-link"><a href="index.php/programs">
<?php echo __('WELCOME_PROGRAM'); ?>
</a>
</td>
<td class="welcome-link">
<a href="index.php/calendar">
<?php echo __('WELCOME_CALENDAR'); ?>
</a>
</td>
</tr>
</table>
<br />
<hr />
<?php } ?>
</div>
<?php if((isset($stats))&&(!empty($stats))&&(strcmp("$stats","True")==0)) { ?>
<script>
    var xhr=getXMLHttpRequest();
    setTimeout(function() {
    sendXMLHttpRequest(xhr, "<?php echo $informations['id_computer']; ?>","<?php echo get_configuration('VERSION'); ?>","<?php echo $informations['nb_reboot']; ?>","<?php echo $informations['last_reboot']; ?>","<?php echo $informations['cbx_id']; ?>","<?php echo $informations['firm_version']; ?>","<?php echo $informations['emeteur_version']; ?>","<?php echo $informations['sensor_version']; ?>","<?php echo $informations['log']; ?>","<?php echo $user_agent; ?>");
},500);
</script>
<?php } ?>

<br />
<div id="compat" style="display:none" class="text_info"><?php echo __('ERROR_COMPAT_BROWSER'); ?></div>
