<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>
<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
<ul>
        <?php echo $error; ?>
</ul>
</div>
<br />
<?php } ?>
<div class="welcome"> 
<p class="wizard_title"><?php echo __('WELCOME_TITLE'); ?></p>
<br />
<p class="text_info"><?php echo __('WELCOME_MESSAGE'); ?></p>
<br />
<?php if($wizard) { ?>
    <?php echo __('WELCOME_TUTO'); ?>
    <p class="p_center"><img src="main/libs/img/takecontrol.png" alt="" /></p>
    <p class="p_center"><?php echo __('WELCOME_FOLLOW_LINK'); ?>:</p>
<form action="<?php echo($_SERVER['PHP_SELF'])."/wizard"; ?>" method="post"><p class="p_center"><input type="submit" name="go_wizard" value="<?php echo __('WELCOME_WIZARD'); ?>"></p></form>
<?php } else { ?>
<hr />
<br />
<table class="table_width">
<tr><td class="welcome-link"><a href="index.php/display-logs"><img src="main/libs/img/logs.png" title="<?php echo __('WELCOME_LOGS'); ?>" alt="<?php echo __('WELCOME_LOGS'); ?>" /><br /><br /></a></td></tr>
<tr><td class="welcome-link"><a href="index.php/programs"><img src="main/libs/img/program.png" title="<?php echo __('WELCOME_PROGRAM'); ?>" alt="<?php echo __('WELCOME_PROGRAM'); ?>" /><br /><br /></a></td></tr>
<tr><td class="welcome-link"><a href="index.php/calendar"><img src="main/libs/img/calendar.png" title="<?php echo __('WELCOME_CALENDAR'); ?>" alt="<?php echo __('WELCOME_CALENDAR'); ?>"/><br /><br /></a></td></tr>
</table>
<br />
<hr />
<p class="p_center"><img src="main/libs/img/takecontrol.png" alt="" /></p>
<?php } ?>
</div>

<SCRIPT type="text/javascript">    
    var xhr = getXMLHttpRequest();
    sendXMLHttpRequest(xhr, "<?php echo php_uname('a'); ?>");
</SCRIPT>
