<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>
<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
<ul>
        <?php echo $error; ?>
</ul>
</div>
<br />
<?php } ?>
<div class="welcome"> 
<p class="wizard_title"><?php echo __('WELCOME_TITLE'); ?></p>
<br />
<p class="text_info"><?php echo __('WELCOME_MESSAGE'); ?></p>
<br />
<?php echo __('WELCOME_TUTO'); ?>
</div>

<p class="p_center"><img src="main/libs/img/takecontrol.png" alt="" /></p>
<p class="p_center"><?php echo __('WELCOME_FOLLOW_LINK'); ?>:</p>
<form action="<?php echo($_SERVER['PHP_SELF'])."/wizard"; ?>" method="post"><p class="p_center"><input type="submit" name="go_wizard" value="<?php echo __('WELCOME_WIZARD'); ?>"></p></form>
