<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>

<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
<ul>
        <?php echo $error; ?>
</ul>
</div>
<br />
<?php } ?>

<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: true,
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#end_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
showSecond: true,
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>

<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_message"; ?>');
   </SCRIPT>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_error_message"; ?>');
   </SCRIPT>
<?php } ?>

<br />
<p class="wizard_title"><?php echo __('WIZARD_INTRO'); ?></p>
<br /><br />
<form action="<?php echo($_SERVER['PHP_SELF']);?>" method="post">
<table width="100%">
<tr>
<?php if($step>1) { ?><td width="10%"><p class="step"><?php echo __('WIZARD_STEP'); echo " ".$step-1;?>/3:</p></td><?php } ?>
</tr>
<tr>
<td></td>
<td>
<p class="step_info">
<?php if($step==1) {
	echo __('WIZARD_FIRST_USE');
} ?>
<?php if($step==2) { 
   if($selected_plug==1) {
      echo __('WIZARD_PLUG_NUMBER'); 
   } else { 
      echo __('WIZARD_CONFIGURE_OTHER_PLUG')." $selected_plug.".__('WIZARD_OTHER_PLUG_NUMBER');
   }
} else if($step==3) { 
  if($selected_plug==1) {
      echo __('WIZARD_PLUG_TYPE'); 
  } else {
      echo __('WIZARD_OTHER_PLUG_TYPE');
  }
} else if($step==4) { 
    echo __('WIZARD_PLUG_PROGRAM'); 
 } ?>
</p>
</td>
<td width="10%"></td>
</tr>
</table>
<br />
<hr />
<br />
<?php if($step==3) { 
        if($selected_plug!=1) { ?>
        <table width="100%"><tr><td width="25%"><?php echo __('TYPE_PLUG')." $selected_plug:"; ?></td>
        <td>
           <select name="plug_type">
               <option <?php if(strcmp($plug_type,"unknown")==0) { echo 'selected';} ?> value="unknown"><?php echo __('PLUG_UNKNOWN'); ?></option>
               <option <?php if(strcmp($plug_type,"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
               <option <?php if(strcmp($plug_type,"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
               <option <?php if(strcmp($plug_type,"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
               <option <?php if(strcmp($plug_type,"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
               <option <?php if(strcmp($plug_type,"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
            </select>
	</td></tr>
	</table>
        <?php } ?>
<?php } ?>

<?php if($step==4) {?>
<table width="100%">
   <tr>
      <td width="10%"></td>
      <td width="30%">
         <table width="100%">
         <tr>
         <td>
            	<input type="hidden" name="program" value="program">
             <?php echo __('START_TIME_PROGRAM'); ?></td><td><input type="text" size="10" name="start_time" id="start_time" value="<?php echo $start_time ?>"/></td></tr><tr><td><?php echo __('END_TIME_PROGRAM'); ?></td><td><input type="text" size="10" name="end_time" id="end_time" value="<?php echo $end_time ?>"/></td></tr>
         <?php if(strcmp($plug_type,"lamp")!=0) { ?>
	<tr><td><?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"unknown")==0)) { echo __('VALUE_ON_OFF'); } 
                         else if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) { echo __('TEMP_WISHED'); }
                         else { echo __('HUMI_WISHED'); } 

               ?></td><td><input type="text" maxlength="4" size="4" name="value_program" id="value_program" value="<?php echo $value_program ?>"/><?php if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) { echo " °C"; } else { echo " %"; } ?></td></tr>
        <?php } ?>
      </table>
      </td>
      <td width="80%"><div id="plug" style="width: 80%; height: 300px; margin: 0 auto"></div></td>
      
</tr>
<tr>
<td>

</td>
</tr>
</table>
<?php } ?>

<br /><br />
<input type=hidden name="step" value="<?php echo $step; ?>">

<?php if((isset($plug_type))&&(!empty($plug_type))&&($step==4)) { ?>
      <input type="hidden" name="plug_type" value="<?php echo "$plug_type"; ?>">
       <?php if(strcmp($plug_type,"lamp")==0) { ?>
                <input type="hidden" name="value_program" value="99.9" />
       <?php } ?>
<?php } ?>



<input type="hidden" name="selected_plug" value="<?php echo "$selected_plug"; ?>">

<table width="100%">
<tr>
<td width="20%"></td>
<td width="50%"><?php if($step>2) { ?><input type=submit name="previous" value="<?php echo __('WIZARD_PREVIOUS_STEP'); ?>"><?php } ?><?php if($step==1) { ?><input type=submit name="close" value="<?php echo __('CLOSE_WIZARD'); ?>"<?php } ?></td>
<td width="20%"><?php if($step<4) { ?><input type=submit name="next" value="<?php echo __('WIZARD_NEXT_STEP'); ?>"> <?php } else { ?>
   <?php if(($selected_plug<$nb_plugs)&&($step>1)) {?><input type=submit name="next_plug" value="<?php echo __('WIZARD_NEXT_PLUG'); ?>"></td><td><?php } ?><?php if($step>1) { ?><input type=submit name="finish" value="<?php echo __('WIZARD_FINISH_STEP'); ?>"> <?php } } ?></td>
<td></td>
</tr>
</table>
</form>
