.menu,
.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu a,
.menu span { display: block; }
.menu a { text-decoration: none; }

.menu-dropdown li { position: relative; }
.menu-dropdown,
.menu-dropdown .level1,
.menu-dropdown .level1 > span { float: left; }
.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span {
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
}

.menu-dropdown .dropdown {
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 100;
    width: 300px; /* Default */
}

.menu-dropdown li:hover .dropdown,
.menu-dropdown li.remain .dropdown { visibility: visible; }

.menu-dropdown .dropdown-bg > div { overflow: hidden; }

.menu-dropdown a,
.menu-dropdown span.level1,
.menu-dropdown .level1 span > span.title,
.menu-dropdown a:hover,
.menu-dropdown li.level1:hover .level1,
.menu-dropdown .level1:hover .level1 span.title,

.menu-dropdown li.level1 { 
	margin-right: 6px;
	margin-right: 0px;
	color: #555554; 
}

.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	border-radius: 12px;
	background: url(../images/menu_dropdown_level1.png) 0 0 no-repeat; 
	background: green;
	background: none;
	font-size: 15px;
	text-transform:none;
}

.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span {
	padding: 0 12px 0 12px;
}


.menu-dropdown li.active .level1 {
	border-top-color: rgba(0,0,2,0.25);
	border-right-color: rgba(0,0,2,0.12);
	border-bottom-color: rgba(0,0,2,0.12);
	border-left-color: rgba(0,0,2,0.25);
	background-position: 0 -100px;
	background-repeat: repeat-x;
	box-shadow: 1px 1px 0 rgba(253,253,255,0.05);
}

span.active {
    color: white;
}

.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1 {
	background-color: #525254;
	background-color: red;
	background: #e3ddd1; 
	background-position: 0 -50px;
	background-repeat: repeat-x;
	cursor:pointer;
}

.menu-dropdown li.level1.parent a.level1 > span {
	padding-right: 25px;
	background: url(../images/menu_dropdown_level1_parent.png) 100% 50% no-repeat;
}

.menu-dropdown li.level1.parent:hover .level1,
.menu-dropdown li.remain.parent .level1 {
	height: 31px;
	border-radius: 4px 4px 0 0;
	background: #d4d600; 
}

.menu-dropdown .dropdown {
	top: 30px;
	left: -2px;
}

.menu-dropdown .dropdown-bg { margin: 2px; }

.menu-dropdown .dropdown-bg > div {
	border-top: none;
	background: #525254;
	background: green;
	background: #d4d600; /* li */
	border-radius: 0 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0,0,2,0.45);
}

