Package: cultitime
Version: 1.0.0-debian
Section: Utilities
Maintainer: Yann Genevois <yann.genevois@cultibox.fr>
Homepage: http://www.cultibox.fr
Priority: extra
Architecture: armhf
Description: Cultitime manage time of the Cultipi
