Package: cultipi
Version: 1.0.0-ubuntu
Section: net
Maintainer: Yann Genevois <yann.genevois@cultibox.fr>
Homepage: http://www.cultibox.fr
Priority: extra
Architecture: noarch
Description: Cultipi network server

