<script>
   $("[title]").tooltip({ position: { my: "left+15 center", at: "right center" } });
</script>

<br />
<label class="title_conf"><?php echo __('COST_PRICE_COMPUTE'); ?> <img src="main/libs/img/infos_title.png" alt="" title="<?php echo __('TOOLTIP_DEFINE_COST'); ?>" /></label>
<br /><br />
<form action="/cultibox/index.php?menu=cost" method="post" name="display-cost" id="display-cost">

<table class="table_width">
   <tr>
      <td class="cost-marge"></td>
      <td class="cost-title"><?php echo __('SELECT_START_DAY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_START_TIME'); ?>" /></td>
      <td class="cost-field"><input id="datepicker_start" name="startday" type="text" class="whitefield" size="10" value="<?php echo $startday; ?>"></td>
      <td><div id="error_start_cost" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_DATE_DAY_START'); ?></div><div id="error_start_interval" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_DATE_INTERVAL'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_END_DAY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_STOP_TIME'); ?>" /></td>
      <td><input id="datepicker_end" name="endday" type="text" class="whitefield" size="10" value="<?php echo $endday; ?>"></td>
      <td><div id="error_end_cost" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_DATE_DAY_END'); ?></div><div id="error_end_interval" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_DATE_INTERVAL'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_PRICE_PLUG'); ?>:</td>
      <td><select name="select_plug" id="select_plug">
            <option value="all"><?php echo __('PRICE_ALL_PLUG'); ?></option>
            <option value="distinct_all" <?php if(strcmp($select_plug,"distinct_all")==0) { echo "selected"; } ?>><?php echo __('PRICE_DISTINCT_ALL_PLUG'); ?></option>
            <?php for($plugs=1;$plugs<=$nb_plugs;$plugs++) {  ?>
                    <option value="<?php echo $plugs; ?>" <?php if(strcmp("$select_plug","$plugs")==0) echo "selected"; ?>><?php echo __('PRICE_FOR_PLUG').": ".$plugs_infos[$plugs-1]["PLUG_NAME"]; ?></option>
            <?php } ?> 
         </select></td>
     <td></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('CONFIGURE_COST_TYPE'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_TYPE'); ?>" /></td>
      <td>
            <select name="cost_type" id="cost_type" onChange="getCostType(this.selectedIndex);" onLoad="getCostType(this.selectedIndex);">
               <option value="standard" <?php if(strcmp($cost_type,"standard")==0) echo "selected"; ?>><?php echo __('COST_STANDARD'); ?></option>
               <option value="hpc" <?php if(strcmp($cost_type,"hpc")==0) echo "selected"; ?>><?php echo __('COST_HPC'); ?></option>
            </select>
      </td>
      <td></td>
   </tr>
   <tr>
      <td></td>
      <td><label id="cost_label_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_PRICE'); ?>" /></label><label id="cost_label_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HP'); ?>:</label></td>
      <td><label id="cost_input_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>">
        <input type="text" size="6" maxlength="6" name="cost_price" id="cost_price" value="<?php echo "$cost_price"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp($cost_type,'standard')==0) { if(strcmp("$lang","en_GB")!=0) { echo "&euro;"; } else { echo "&#163;"; }} ?></label>
        <label id="cost_input_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="6" maxlength="6" id="cost_price_hp" name="cost_price_hp" value="<?php echo "$cost_price_hp"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","en_GB")!=0) { echo "&euro;"; } else { echo "&#163;"; } ?></label>
      </td>
    <td><div id="error_cost_price" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_PRICE_VALUE'); ?></div><div id="error_cost_price_hp" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_PRICE_VALUE_HP'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><label id="cost_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HC'); ?>:</label></td>
      <td><label id="cost_input_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="6" maxlength="6" id="cost_price_hc" name="cost_price_hc" value="<?php echo "$cost_price_hc"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","en_GB")!=0) { echo "&euro;"; } else { echo "&#163;"; } ?></label></td>
     <td><div id="error_cost_price_hc" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_PRICE_VALUE_HC'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><label id="start_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_START_HC'); ?></label></td>
      <td>
            <label id="start_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="start_hc" id="start_hc" <?php if((isset($start_hc))&&(!empty($start_hc))) { ?> value="<?php echo $start_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
      <td><div id="error_start_hc" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_TIME_VALUE'); ?></div></td>
   </tr>
    <tr>
      <td></td>
      <td><label id="stop_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_STOP_HC'); ?></label></td>
      <td>
            <label id="stop_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="stop_hc" id="stop_hc" <?php if((isset($stop_hc))&&(!empty($stop_hc))) { ?> value="<?php echo $stop_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
     <td><div id="error_stop_hc" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_TIME_VALUE'); ?></div></td>
   </tr>
</table>
<br />
<input type="hidden" name="submit_cost" id="submit_cost" value="submit_cost">
<p class="p_center"><input type="submit" name="view-cost" id="view-cost" value=<?php echo __('VIEW'); ?> onKeypress="return verifDigit(event);"></p>
</form>
<hr />
<br />

<div id="progress_cost" title="<?php echo __('COMPUTE_COST'); ?>" style="display:none">
    <?php if(strcmp($select_plug,"distinct_all")!=0) { ?>
    <p><?php echo __('PROGRESS_COST_THEORICAL'); ?>:</p>
    <div id="progress_bar_cost_theorical"></div>
    <p class="p_center">
        <label class="format_error" id="error_cost_compute_theorical" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
        <label class="format_success" id="valid_cost_compute_theorical" style="display:none"><?php echo __('VALID_THEORICAL_COST_COMPUTE'); ?></label>
    </p>
    <br />
   
    <p><?php echo __('PROGRESS_COST_REAL'); ?>:</p> 
    <div id="progress_bar_cost_real"></div>
    <p class="p_center">
        <label class="format_error" id="error_cost_compute_real" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
        <label class="format_success" id="valid_cost_compute_real" style="display:none"><?php echo __('VALID_REAL_COST_COMPUTE'); ?></label>
    </p>
    <?php } else { ?>
        <table class="table_width">
        <?php for($nb=1; $nb<=$nb_plugs; $nb++) { ?>
            <?php if ($nb % 2 != 0) echo '<tr>'; ?>
            <?php if ($nb % 2 == 0) echo '<td class="cost-marge"></td>'; ?>
            <td>
            <p><?php echo __('COMPUTE_COST_PLUG_THEORICAL')." ".$nb; ?>:</p>
            <div id="progress_bar_cost_theorical<?php echo $nb; ?>"></div>
            <p class="p_center">
                <label class="format_error" id="error_cost_compute_theorical<?php echo $nb; ?>" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
                <label class="format_success" id="valid_cost_compute_theorical<?php echo $nb; ?>" style="display:none"><?php echo __('VALID_THEORICAL_COST_COMPUTE'); ?></label>
            </p>
            <p><?php echo __('COMPUTE_COST_PLUG_REAL')." ".$nb; ?>:</p> 
            <div id="progress_bar_cost_real<?php echo $nb; ?>"></div>
            <p class="p_center">
                <label class="format_error" id="error_cost_compute_real<?php echo $nb; ?>" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
                <label class="format_success" id="valid_cost_compute_real<?php echo $nb; ?>" style="display:none"><?php echo __('VALID_REAL_COST_COMPUTE'); ?></label>
            </p>
            <hr />
            <br />
            </td>
            <?php if ($nb % 2 == 0) echo '</tr>'; ?>
    <?php } echo '</table>';  } ?>
</div>

<label id="anchor-cost"></label>
<table class="table_width">
<tr>
    <td></td><td><img src="main/libs/img/resume.png" alt="" title="<?php echo $resume; ?>" /></td>
</tr>
<tr>
<td><div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div></td><td></td></tr>
</table>
