<script>
   $("[title]").tooltip({ position: { my: "left+15 center", at: "right center" } });
</script>

<br />
<div class="welcome"> 
    <p class="welcome_title"><?php echo __('WELCOME_TITLE'); ?></p>
    <br />
    <p class="text_info"><?php echo __('WELCOME_MESSAGE'); ?></p>
    <br />
    <?php if($wizard) { ?>
        <div class="text_info"><?php echo __('WELCOME_TUTO'); ?>:<br /><?php echo __('WELCOME_REQUIEREMENT'); ?></div>
        <br />
        <p class="text_info"><?php echo __('WELCOME_FOLLOW_LINK'); ?>:</p>
        <form action="/cultibox/index.php?menu=wizard" method="post">
            <p class="p_center"><input type="submit" name="go_wizard" id="go_wizard" value="<?php echo __('WELCOME_WIZARD'); ?>"></p>
        </form>
    <?php } else { ?>
    <hr />
    <br />
    <table class="table_width">
        <tr>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>><a href="/cultibox/index.php?menu=logs" id="welcome-log-img">
                <img src="main/libs/img/logs.png" title="<?php echo __('WELCOME_LOGS'); ?>" alt="<?php echo __('WELCOME_LOGS'); ?>" />
                <br /></a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=programs" id="welcome-prog-img"><img src="main/libs/img/program.png" title="<?php echo __('WELCOME_PROGRAM'); ?>" alt="<?php echo __('WELCOME_PROGRAM'); ?>" />
                <br />
                </a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=calendar" id="welcome-cal-img"><img src="main/libs/img/calendar.png" title="<?php echo __('WELCOME_CALENDAR'); ?>" alt="<?php echo __('WELCOME_CALENDAR'); ?>"/><br /></a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'style="display:none"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=cultipi" id="welcome-synop-img"><img src="main/libs/img/synoptic.png" title="<?php echo __('WELCOME_SYNOP'); ?>" alt="<?php echo __('WELCOME_SYNOP'); ?>"/><br /></a>
            </td>
        </tr>
        <tr>
            <td  <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=logs" id="welcome-log-txt">
                <?php echo __('WELCOME_LOGS'); ?>
                </a>
            </td>
            <td  <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>><a href="/cultibox/index.php?menu=programs" id="welcome-prog-txt">
                <?php echo __('WELCOME_PROGRAM'); ?>
                </a>
            </td>
            <td  <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=calendar" id="welcome-cal-txt">
                <?php echo __('WELCOME_CALENDAR'); ?>
                </a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'style="display:none"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=synoptic" id="welcome-synop-txt">
                <?php echo __('WELCOME_SYNOP'); ?>
                </a>
            </td>
        </tr>
    </table>
    <br />
    <hr />
    <?php } ?>
</div>

<br /><div id="compat" style="display:none" class="text_info"><?php echo __('ERROR_COMPAT_BROWSER'); ?></div>

<?php if((count($notes)>0)&&(!$wizard)) { ?>
<br />
<p class="welcome_title"><?php echo __('DID_YOU_KNOW'); ?></p>
  <?php foreach($notes as $note) { ?>
<br />
<table class="table_width">
        <tr>
            <td class="border_note_title"></td>
            <td class="title_note"><?php echo $note['title']; ?></td>
            <td></td>
        </tr>
</table>
<table class="table_width">
        <tr>
            <td class="border_note_desc"></td>
            <td><?php echo $note['desc']; ?></td>
            <td class="border_note_desc"></td>
        </tr>
</table>
        <?php if((!empty($note['image']))||(!empty($note['link']))) { ?>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><?php if((!empty($note['image']))&&(!empty($note['link']))) { ?><?php if(strcmp($note['type_link'],"mail")==0) { ?><a href="mailto:<?php echo $note['link']; ?>" <?php if(strcmp($note['type_link'],"external")==0) { ?>target="_blank" <?php } ?> class="note_link"><img src="main/libs/img/<?php echo $note['image']; ?>" alt="<?php echo $note['title']; ?>" /></a> <?php } else { ?><a href="<?php echo $note['link']; ?>" <?php if(strcmp($note['type_link'],"external")==0) { ?>target="_blank" <?php } ?> class="note_link"><img src="main/libs/img/<?php echo $note['image']; ?>" alt="<?php echo $note['title']; ?>" /></a><?php } ?>
                               <?php } elseif((!empty($note['image']))&&(empty($note['link']))) { ?><img src="main/libs/img/<?php echo $note['image']; ?>" alt="<?php echo $note['title']; ?>" /></td>
                                <?php } else { ?><?php if(strcmp($note['type_link'],"mail")==0) { ?><a href="mailto:<?php echo $note['link']; ?>" class="note_link"><?php echo $note['link']; ?></a> <?php } else { ?><a href="<?php echo $note['link']; ?>" <?php if(strcmp($note['type_link'],"external")==0) { ?>target="_blank" <?php } ?> class="note_link"><?php echo $note['link']; ?></a><?php } ?>

                                <?php } ?>
        <td class="border_note_desc"></td>
    </tr>
</table>
        <?php 
        }
    }
} 
?>

<?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) {
<button id="wifi_wizard">wifi wizard</button>
<div id="wifi_wizard_step1" style="display:none" title="Assistant de migration vers le module wifi">
    Bienvenu dans l'assistant de migration vers le module Wifi cultipii.
    Avant de commencer, assurez d'avoir à disposition:
    <ul>
        <li>Une cultibox et ses équipements</li>
        <li>Un Cultipi et ses équipements</li>
    </ul>
    Si cela est le cas, vous pouvez passer à l'étape suivante en cliquant sur le bouton associé.
</div>

<div id="wifi_wizard_step2" style="display:none" title="Assistant de migration vers le module wifi">
    Etape 2, copie du nouveau firmware pour la cultibox.
    Branchez la carte SD de votre cultibox dans votre ordinateur et passez à l'étape suivante.
</div>

<div id="wifi_wizard_step3" style="display:none" title="Assistant de migration vers le module wifi">
    Etape 3: export conf

</div>

<div id="error_wifi_sd" style="display:none">
    Pas de carte SD, branchez en une puis passez à l'étape suivante
</div>
<?php } ?>



