<?php 
    // Include javascript functions
    include('main/libs/js/page_welcome.js');
?>
<br />

<div class="welcome"> 
    <p class="welcome_title"><?php echo __('WELCOME_TITLE'); ?></p>
    <br />
    <p class="text_info"><?php echo __('WELCOME_MESSAGE'); ?></p>
    <br />
    <?php if($wizard) { ?>
        <div class="text_info"><?php echo __('WELCOME_TUTO'); ?>:<br /><?php echo __('WELCOME_REQUIEREMENT'); ?></div>
        <br />
        <p class="text_info"><?php echo __('WELCOME_FOLLOW_LINK'); ?>:</p>
        <form action="<?php echo($_SERVER['PHP_SELF'])."wizard-".$_SESSION['SHORTLANG']; ?>" method="post">
            <p class="p_center"><input type="submit" name="go_wizard" value="<?php echo __('WELCOME_WIZARD'); ?>"></p>
        </form>
    <?php } else { ?>
    <hr />
    <br />
    <table class="table_width">
        <tr>
            <td class="welcome-link"><a href="index.php/display-logs-<?php echo $_SESSION['SHORTLANG']; ?>">
                <img src="main/libs/img/logs.png" title="<?php echo __('WELCOME_LOGS'); ?>" alt="<?php echo __('WELCOME_LOGS'); ?>" />
                <br /></a>
            </td>
            <td class="welcome-link">
                <a href="index.php/programs-<?php echo $_SESSION['SHORTLANG']; ?>"><img src="main/libs/img/program.png" title="<?php echo __('WELCOME_PROGRAM'); ?>" alt="<?php echo __('WELCOME_PROGRAM'); ?>" />
                <br />
                </a>
            </td>
            <td class="welcome-link"><a href="index.php/calendar-<?php echo $_SESSION['SHORTLANG']; ?>">
                <img src="main/libs/img/calendar.png" title="<?php echo __('WELCOME_CALENDAR'); ?>" alt="<?php echo __('WELCOME_CALENDAR'); ?>"/><br /></a>
            </td>
        </tr>
        <tr>
            <td class="welcome-link">
                <a href="index.php/display-logs-<?php echo $_SESSION['SHORTLANG']; ?>">
                <?php echo __('WELCOME_LOGS'); ?>
                </a>
            </td>
            <td class="welcome-link"><a href="index.php/programs-<?php echo $_SESSION['SHORTLANG']; ?>">
                <?php echo __('WELCOME_PROGRAM'); ?>
                </a>
            </td>
            <td class="welcome-link">
                <a href="index.php/calendar-<?php echo $_SESSION['SHORTLANG']; ?>">
                <?php echo __('WELCOME_CALENDAR'); ?>
                </a>
            </td>
        </tr>
    </table>
    <br />
    <hr />
    <?php } ?>
</div>

<!-- To check that javascript is enable: -->
<noscript>
<br />
<div id="compat-js" class="text_info">
<p><?php echo __('ENABLE_JAVASCRIPT'); ?></p>
</div>
</noscript>

<br /><div id="compat" style="display:none" class="text_info"><?php echo __('ERROR_COMPAT_BROWSER'); ?></div>

<?php if((count($notes)>0)&&(!$wizard)) { ?>
<br />
<p class="welcome_title"><?php echo __('DID_YOU_KNOW'); ?></p>
  <?php foreach($notes as $note) { ?>
<br />
<table class="table_width">
        <tr>
            <td class="border_note_title"></td>
            <td class="title_note"><?php echo $note['title']; ?></td>
            <td></td>
        </tr>
</table>
<table class="table_width">
        <tr>
            <td class="border_note_desc"></td>
            <td><?php echo $note['desc']; ?></td>
            <td class="border_note_desc"></td>
        </tr>
</table>
        <?php if((!empty($note['image']))||(!empty($note['link']))) { ?>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><?php if((!empty($note['image']))&&(!empty($note['link']))) { ?><?php if(strcmp($note['type_link'],"mail")==0) { ?><a href="mailto:<?php echo $note['link']; ?>" <?php if(strcmp($note['type_link'],"external")==0) { ?>target="_blank" <?php } ?> class="note_link"><img src="main/libs/img/<?php echo $note['image']; ?>" alt="<?php echo $note['title']; ?>" /></a> <?php } else { ?><a href="<?php echo $note['link']; ?>" <?php if(strcmp($note['type_link'],"external")==0) { ?>target="_blank" <?php } ?> class="note_link"><img src="main/libs/img/<?php echo $note['image']; ?>" alt="<?php echo $note['title']; ?>" /></a><?php } ?>
                               <?php } elseif((!empty($note['image']))&&(empty($note['link']))) { ?><img src="main/libs/img/<?php echo $note['image']; ?>" alt="<?php echo $note['title']; ?>" /></td>
                                <?php } else { ?><?php if(strcmp($note['type_link'],"mail")==0) { ?><a href="mailto:<?php echo $note['link']; ?>" class="note_link"><?php echo $note['link']; ?></a> <?php } else { ?><a href="<?php echo $note['link']; ?>" <?php if(strcmp($note['type_link'],"external")==0) { ?>target="_blank" <?php } ?> class="note_link"><?php echo $note['link']; ?></a><?php } ?>

                                <?php } ?>
        <td class="border_note_desc"></td>
    </tr>
</table>
        <?php 
        }
    }
} 
?>



