<script>
$(document).ready(function(){
$('#start_hc').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: false,
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#stop_hc').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: false,
timeFormat: 'hh:mm',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_NOW')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>


<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<br />
<?php } ?>

<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_message"; ?>');
   </script> 
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_error_message"; ?>');
   </script>
<?php } ?>

<p class="wizard_title"><?php echo __('CONFIGURE_TITLE_CULTIBOX'); ?></p>
<br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="configform">
<table class="table_width">
<tr>    
    <td class="conf-menu-marge"></td>
    <td><button id="div_user_label" class="menu_h1" onclick="expand('user_interface'); return false;"><?php echo __('USER_CONF'); ?></button></td>
    <td><button id="div_system_label" class="menu_h1" onclick="expand('system_interface'); return false;"><?php echo __('SYSTEM_CONF'); ?></button></td>
    <td><button id="div_alarm_label" class="menu_h1" onclick="expand('alarm_interface'); return false;"><?php echo __('CONFIGURE_ALARM'); ?></button></td>
    <td><button id="div_cost_label" class="menu_h1" onclick="expand('cost_interface'); return false;"><?php echo __('CONFIGURE_COST'); ?></button></td>
    <td><button id="div_card_label" class="menu_h1" onclick="expand('card_interface'); return false;"><?php echo __('CONFIGURE_CARD'); ?></button></td>
    <td class="conf-menu-marge"></td>
</tr>
</table>    
<br />
<hr />
<br />
    

<div id="div_user_interface" style="display:none">
<table class="conf-table">
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_LANGUAGE'); ?>:</td>
      <td><select name="lang">
         <?php foreach($GLOBALS['LIST_LANG'] as $value) {
            switch ($value) {
               case 'fr_FR':
                  if("${value}" == $_SESSION['LANG']) {
                     echo "<option value=\"${value}\" selected>".__('LANG_FR')."</option>";
                  } else {
                     echo "<option value=\"${value}\">".__('LANG_FR')."</option>";
                  }
               break;
               case 'en_GB':
                  if("${value}" == $_SESSION['LANG']) {
                     echo "<option value=\"${value}\" selected>".__('LANG_EN')."</option>";
                   } else {
                     echo "<option value=\"${value}\">".__('LANG_EN')."</option>";
                  }
               break;
            }
         }
         ?>
      </select></td>
      <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_HUMIDITY'); ?>:</td>
      <td><select name="color_humidity">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
                              }
               break;
            case 'red':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
               break;
            case 'green':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
               break;
            case 'black':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
               break;
            case 'purple':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      } ?></select></td>
        <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_TEMPERATURE'); ?>:</td>
      <td><select name="color_temperature">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;
            case 'red':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'green':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
      <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_POWER'); ?>:</td>
      <td><select name="color_power">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'red':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'blue':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;

            case 'green':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
        <td></td>
   </tr>
     <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_COST_COLOR'); ?>:</td>
      <td><select name="color_cost">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'red':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'blue':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;

            case 'green':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
        <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_POWER_AXIS'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER_AXIS'); ?>" /></td>
      <td><select name="power_axis">
         <?php foreach($GLOBALS['LIST_MAX_POWER'] as $value) {
           if("$value"=="$power_axis") {
                   echo "<option value=\"${value}\" selected>${value}W</option>";
           } else {
                   echo "<option value=\"${value}\">${value}W</option>";
           }
      } ?></select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CONFIGURE_POPUP'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POPUP'); ?>" /></td>
         <td><select name="pop_up">
            <option value="True" <?php if(strcmp("$pop_up","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$pop_up","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
    <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CHECK_UPDATE'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_CHECK_UPDATE'); ?>" /></td>
         <td><select name="update">
            <option value="True" <?php if(strcmp("$update","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$update","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
    <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CONFIG_LOG_SEARCH'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_MAX_LOG_IMPORT'); ?>" /></td>
         <td><select name="log_search">
            <?php foreach($GLOBALS['LOG_SEARCH'] as $value) {
                if("$value"=="$log_search") {
                   echo "<option value=\"${value}\" selected>${value}</option>";
                } else {
                   echo "<option value=\"${value}\">${value}</option>";
                }
            } ?>
         </select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CHECK_STATISTICS'); ?>:</td>
         <td><select name="stats">
            <option value="True" <?php if(strcmp("$stats","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$stats","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>

</table>
</div>
<div id="div_system_interface" style="display:none">
<table class="conf-table">
<tr>
<td class="conf-marge"></td>
<td class="conf-marge-td">
   <?php echo __('CONFIGURE_FREQUENCY'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_RECORD_FREQ'); ?>" />
</td>
<td>
   <select name="record_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$record_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_POWER_FREQUENCY'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER_FREQ'); ?>" />
</td>
<td>
   <select name="power_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$power_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td><?php echo __('CONFIGURE_NB_PLUGS'); ?>:</td>
<td>
   <select name="nb_plugs">
      <?php
      for($i=$GLOBALS['NB_MIN_PLUG'];$i<=$GLOBALS['NB_MAX_PLUG'];$i++) {
         if(!strcmp ("$i","$nb_plugs")) {
            echo "<option value=\"${i}\" selected>${i}</option>";
         } else {
            echo "<option value=\"${i}\">${i}</option>";
         }
      }
      ?>
</select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_PLUGS_FREQUENCY'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_FREQ'); ?>" />
</td>
<td>
   <select name="update_frequency">
      <?php
      foreach($GLOBALS['LIST_UPDATE_FREQUENCY'] as $value) {
         if(strcmp ("$value","-1")==0) { 
            $val=__('ALWAYS_RECORD');
         } else {
            $val=$value;
         }
         if(!strcmp ("$value","$update_frequency")) {
            echo "<option value=\"${value}\" selected>${val}</option>";
         } else {
            echo "<option value=\"${value}\">${val}</option>";
         }
      }
      ?>
      </select>
</td>
<td></td>
</tr>
</table>
</div>

<div id="div_alarm_interface" style="display:none">
<table class="conf-table">
   <tr>  
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_ALARM_ACTIV'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_ALARM'); ?>" /></td>
      <td><select name="alarm_enable" onChange="getAlarm(this.selectedIndex);" onLoad="getAlarm(this.selectedIndex);">
           <?php if("$alarm_enable"=="0001") {
                     echo "<option value='0001' selected>".__('YES')."</option>";
                     echo "<option value='0000'>".__('NO')."</option>";
                  } else {
		     echo "<option value='0001'>".__('YES')."</option>";
                     echo "<option value='0000' selected>".__('NO')."</option>";
                  }
           ?>
      </select></td>
      <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><div id="label_alarm_senso" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_SENSO'); ?>:</div></td>
      <td><div id="div_alarm_senso" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><select name="alarm_senso" onChange="getUnity(this.selectedIndex,'');" onLoad="getUnity(this.selectedIndex,'');">
           <?php if("$alarm_senso"=="000T") {
                     echo "<option value='000T' selected>".__('ALARM_TEMP')."</option>";
                     echo "<option value='000H'>".__('ALARM_HUMI')."</option>";
                  } else {
                     echo "<option value='000T'>".__('ALARM_TEMP')."</option>";
                     echo "<option value='000H' selected>".__('ALARM_HUMI')."</option>";
                  }
           ?>
      </select></div></td>
    <td></td>
   </tr>
   <tr>
   <td class="conf-marge"></td>
      <td><div id="label_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_VALUE'); ?>:</div></td>
      <td><div id="div_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo "$alarm_value"; ?>" name="alarm_value" onKeypress="return verifDigit(event);"><label id="label_degree" style="<?php if("$alarm_senso"=="000H") echo "display:none"; ?>">°C</label><label id="label_pourcent" style="<?php if("$alarm_senso"=="000T") echo "display:none"; ?>">%</label></div></td>
      <td><?php if((isset($error['alarm']))&&(!empty($error['alarm']))) echo "<div class='error'>".$error['alarm']."</div>"; ?></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td ><div id="label_alarm_senss" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_SENSS'); ?>:</div></td>
      <td><div id="div_alarm_senss" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><select name="alarm_senss">
           <?php if("$alarm_senss"=="000+") {
                     echo "<option value='000+' selected>".__('ALARM_ABOVE')."</option>";
                     echo "<option value='000-'>".__('ALARM_UNDER')."</option>";
                  } else {
                     echo "<option value='000+'>".__('ALARM_ABOVE')."</option>";
                     echo "<option value='000-' selected>".__('ALARM_UNDER')."</option>";
                  }
           ?>
      </select></div></td>
      <td></td>
   </tr>
</table>
</div>

<div id="div_cost_interface" style="display:none">
<table class="conf-table">
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_COST_TYPE'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_COST_TYPE'); ?>" /></td>
      <td>
            <select name="cost_type" onChange="getCostType(this.selectedIndex);" onLoad="getCostType(this.selectedIndex);">
               <option value="standard" <?php if(strcmp($cost_type,"standard")==0) echo "selected"; ?>><?php echo __('COST_STANDARD'); ?></option>
               <option value="hpc" <?php if(strcmp($cost_type,"hpc")==0) echo "selected"; ?>><?php echo __('COST_HPC'); ?></option>
            </select>
      </td>
      <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="cost_label_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_COST_PRICE'); ?>" /></label><label id="cost_label_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HP'); ?>:</label></td> 
      <td><label id="cost_input_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>">
        <input type="text" size="6" maxlength="6" name="cost_price" value="<?php echo "$cost_price"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp($cost_type,'standard')==0) { if(strcmp("$lang","fr_FR")==0) { echo "&euro;"; } else { echo "&#163;"; }} ?></label>
        <label id="cost_input_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="6" maxlength="6" name="cost_price_hp" value="<?php echo "$cost_price_hp"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","fr_FR")==0) { echo "&euro;"; } else { echo "&#163;"; } ?></label>
      </td>
    <td><?php if((isset($error['cost']))&&(!empty($error['cost']))) echo "<div class='error'>".$error['cost']."</div>"; ?><?php if((isset($error['price_hp']))&&(!empty($error['price_hp']))) echo "<div id='error'>".$error['price_hp']."</div>"; ?></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="cost_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HC'); ?>:</label></td>
      <td><label id="cost_input_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="6" maxlength="6" name="cost_price_hc" value="<?php echo "$cost_price_hc"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","fr_FR")==0) { echo "&euro;"; } else { echo "&#163;"; } ?></label></td>
     <td><?php if((isset($error['price_hc']))&&(!empty($error['price_hc']))) echo "<div class='error'>".$error['price_hc']."</div>"; ?></td>
   </tr> 
   <tr>
       <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="start_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_START_HC'); ?></label></td>
      <td>
            <label id="start_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="start_hc" id="start_hc" <?php if((isset($start_hc))&&(!empty($start_hc))) { ?> value="<?php echo $start_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
      <td><?php if((isset($error['start_hc']))&&(!empty($error['start_hc']))) echo "<div class='error'>".$error['start_hc']."</div>"; ?></td>
   </tr>
     <tr>
       <td class="conf-marge"></td>
      <td class="conf-marge-td"><label id="stop_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_STOP_HC'); ?></label></td>
      <td>
            <label id="stop_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="stop_hc" id="stop_hc" <?php if((isset($stop_hc))&&(!empty($stop_hc))) { ?> value="<?php echo $stop_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
     <td><?php if((isset($error['stop_hc']))&&(!empty($error['stop_hc']))) echo "<div class='error'>".$error['stop_hc']."</div>"; ?></td>
   </tr>
</table>
</div>

<div id="div_submit_interface" style="display:none">
<br />
<hr />
<input type="hidden" id="submenu" name="submenu" value="<?php echo $submenu; ?>" />
<br /><p class="p_center">
   <input type="submit" value="<?php echo __('VALIDATION_CONF'); ?>">
</p>
</div>
</form>

<div id="div_card_interface" style="display:none">
<form action="/cultibox/index.php/display-logs" method="post">
<table class="conf-table">
<tr>
    <td class="conf-marge"></td>
    <td class="conf-marge-td"><?php echo __('MANAGE_RESET_SD_CARD'); ?>:<img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_FORMAT_SD'); ?>" /></td>
    <td ><?php if((isset($hdd_list))&&(count($hdd_list)>0)) { ?><select name="selected_hdd"><?php  foreach($hdd_list as $hdd) { ?><option value="<?php echo "$hdd"; ?>"><?php echo "$hdd"; ?></option><?php } ?></select><?php  } ?><input type="submit" id="reset_sd_card" <?php if((isset($hdd_list))&&(count($hdd_list)>0)) { ?> value="<?php echo __('MANAGE_RESET_CARD'); ?>" onclick="return DeleteForm('<?php echo __('RESET_CONFIRM_SD_CARD','javascript'); ?>')" <?php } else { ?>disabled value="<?php echo __('MANAGE_RESET_CARD_NOT_FOUND'); ?>"<?php } ?>></td>
    <td></td>
</tr>
</table>
<br />
<hr />
</form>
</div>


<?php 
      echo "<script>expand('".$submenu."');</script>";
?>
