<?php if((((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)))||((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0))) { ?>
<div class="message" style="display:none">
        <?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<img src="main/libs/img/informations.png" alt="" /><label class="info_title"><?php echo __('INFORMATION'); ?>:</label>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
<br />
</div>
    <?php } ?>
    <?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<img src="main/libs/img/warning.png" alt="" /><label class="error_title"><?php echo __('WARNING'); ?>:</label>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
    <?php } ?>
</div>
<?php } ?>
<br />

<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message" style="display:none">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_message"); ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error" style="display:none">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_error_message"); ?>
       </div>
<?php } ?>

<script type="text/javascript">
$(document).ready(function(){
    $('#reset_min_max').timepicker({
    <?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
    showOn: 'both',
    buttonImage: "../../main/libs/img/datepicker.png",
    buttonImageOnly: 'true',
    <?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
    timeFormat: 'hh:mm',
    <?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
    <?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
    <?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
    <?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
    <?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
    <?php echo "closeText: '".__('TIMEPICKER_CLOSE')."',"; ?>
});
});
</script>


<p class="title_conf"><?php echo __('CONFIGURE_TITLE_CULTIBOX'); ?></p>
<br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="configform">
<table class="table_width">
<tr>    
    <td class="conf-menu-marge"></td>
    <td><button id="div_user_label" class="menu_h1" onclick="expand('user_interface'); return false;"><?php echo __('USER_CONF'); ?></button></td>
    <td><button id="div_system_label" class="menu_h1" onclick="expand('system_interface'); return false;"><?php echo __('SYSTEM_CONF'); ?></button></td>
    <td><button id="div_alarm_label" class="menu_h1" onclick="expand('alarm_interface'); return false;"><?php echo __('CONFIGURE_ALARM'); ?></button></td>
    <td><button id="div_card_label" class="menu_h1" onclick="expand('card_interface'); return false;"><?php echo __('CONFIGURE_CARD'); ?></button></td>
    <td class="conf-menu-marge"></td>
</tr>
</table>    
<br />
<div id="div_alarm_description" style="display:none">
<br />
<table class="table_width">
<tr>
    <td class="conf-menu-marge"></td>
    <td><?php echo __('ALARM_DESCRIPTION'); ?></td>
    <td class="conf-menu-marge"></td>
</tr>
</table>
<br />
</div>
<hr />
<br />
    

<div id="div_user_interface" style="display:none">
<table class="conf-table">
   <tr>
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_HUMIDITY'); ?>:</td>
      <td><select name="color_humidity">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
                              }
               break;
            case 'red':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
               break;
            case 'green':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
               break;
            case 'black':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
               break;
            case 'purple':
               if("${value}" == "${color_humidity}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      } ?></select></td>
        <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_TEMPERATURE'); ?>:</td>
      <td><select name="color_temperature">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'blue':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;
            case 'red':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'green':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_temperature}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
      <td></td>
   </tr>
   <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_POWER'); ?>:</td>
      <td><select name="color_power">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'red':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'blue':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;

            case 'green':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_power}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
        <td></td>
   </tr>
     <tr>
      <td class="conf-marge"></td>
      <td><?php echo __('CONFIGURE_COST_COLOR'); ?>:</td>
      <td><select name="color_cost">
      <?php foreach($GLOBALS['LIST_GRAPHIC_COLOR'] as $value) {
         switch ($value) {
            case 'red':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_RED')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_RED')."</option>";    
               }
            break;
            case 'blue':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLUE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLUE')."</option>";    
               }
               break;

            case 'green':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_GREEN')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_GREEN')."</option>";    
               }
            break;
            case 'black':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_BLACK')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_BLACK')."</option>";    
               }
            break;
            case 'purple':
               if("${value}" == "${color_cost}") {
                  echo "<option value=\"${value}\" selected>".__('COLOR_PURPLE')."</option>";
               } else {
                  echo "<option value=\"${value}\">".__('COLOR_PURPLE')."</option>";    
               }
               break;
         }
      }
      ?></select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CONFIGURE_POPUP'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_POPUP'); ?>" /></td>
         <td><select name="pop_up">
            <option value="True" <?php if(strcmp("$pop_up","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$pop_up","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
    <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CHECK_UPDATE'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_CHECK_UPDATE'); ?>" /></td>
         <td><select name="update">
            <option value="True" <?php if(strcmp("$update","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$update","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('CHECK_STATISTICS'); ?>:</td>
         <td><select name="stats">
            <option value="True" <?php if(strcmp("$stats","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$stats","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('SECOND_REGUL_ENABLE'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_SECOND_REGUL_ENABLE'); ?>" /></td>
         <td><select name="second_regul">
            <option value="True" <?php if(strcmp("$second_regul","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$second_regul","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('MULTIPLE_REGUL_SENSOR'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_REGUL_SEVERAL_SENSOR'); ?>" /></td>
         <td><select name="several_sensor">
            <option value="True" <?php if(strcmp("$several_sensor","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$several_sensor","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
    <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('SHOW_COST'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_SHOW_COST'); ?>" /></td>
         <td><select name="show_cost">
            <option value="True" <?php if(strcmp("$show_cost","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$show_cost","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
   <tr>
         <td class="conf-marge"></td>
         <td><?php echo __('SHOW_HISTORIC'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_SHOW_HISTORIC'); ?>" /></td>
         <td><select name="show_historic">
            <option value="True" <?php if(strcmp("$show_historic","True")==0) echo "selected"; ?>><?php echo __('YES'); ?></option>
            <option value="False" <?php if(strcmp("$show_historic","False")==0) echo "selected"; ?>><?php echo __('NO'); ?></option>
         </select></td>
        <td></td>
   </tr>
</table>
</div>
<div id="div_system_interface" style="display:none">
<table class="conf-table">
<tr>
<td class="conf-marge"></td>
<td class="conf-marge-td">
   <?php echo __('CONFIGURE_FREQUENCY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_RECORD_FREQ'); ?>" />
</td>
<td>
   <select name="record_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$record_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_POWER_FREQUENCY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_POWER_FREQ'); ?>" />
</td>
<td>
   <select name="power_frequency">
      <?php
      foreach($GLOBALS['LIST_RECORD_FREQUENCY'] as $value) {
         if(!strcmp ("$value","$power_frequency")) {
            echo "<option value=\"${value}\" selected>${value}</option>";
         } else {
            echo "<option value=\"${value}\">${value}</option>";
         }
      }
      ?>
   </select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td><?php echo __('CONFIGURE_NB_PLUGS'); ?>:</td>
<td>
   <select name="nb_plugs">
      <?php
      for($i=$GLOBALS['NB_MIN_PLUG'];$i<=$GLOBALS['NB_MAX_PLUG'];$i++) {
         if(!strcmp ("$i","$nb_plugs")) {
            echo "<option value=\"${i}\" selected>${i}</option>";
         } else {
            echo "<option value=\"${i}\">${i}</option>";
         }
      }
      ?>
</select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('CONFIGURE_PLUGS_FREQUENCY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_PLUG_FREQ'); ?>" />
</td>
<td>
   <select name="update_frequency">
      <?php
      foreach($GLOBALS['LIST_UPDATE_FREQUENCY'] as $value) {
         if(strcmp ("$value","-1")==0) { 
            $val=__('ALWAYS_RECORD');
         } else {
            $val=$value;
         }
         if(!strcmp ("$value","$update_frequency")) {
            echo "<option value=\"${value}\" selected>${val}</option>";
         } else {
            echo "<option value=\"${value}\">${val}</option>";
         }
      }
      ?>
      </select>
</td>
<td></td>
</tr>
<tr>
<td class="conf-marge"></td>
<td>
   <?php echo __('RESET_MINMAX'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_RESET_MINMAX'); ?>" />
</td>
<td>
   <input type="text" size="5" name="minmax" id="reset_min_max" <?php if(!empty($minmax)) { ?> value="<?php echo $minmax;?>" <?php } else { ?> value="00:00" <?php } ?> />
</td>
<td><?php if((isset($error['minmax']))&&(!empty($error['minmax']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['minmax']."</div>"; ?></td>
</tr>
</table>
</div>

<div id="div_alarm_interface" style="display:none">
<table class="conf-table">
   <tr>  
      <td class="conf-marge"></td>
      <td class="conf-marge-td"><?php echo __('CONFIGURE_ALARM_ACTIV'); ?>:</td>
      <td><select name="alarm_enable" onChange="getAlarm(this.selectedIndex);" onLoad="getAlarm(this.selectedIndex);">
           <?php if("$alarm_enable"=="0001") {
                     echo "<option value='0001' selected>".__('YES')."</option>";
                     echo "<option value='0000'>".__('NO')."</option>";
                  } else {
		     echo "<option value='0001'>".__('YES')."</option>";
                     echo "<option value='0000' selected>".__('NO')."</option>";
                  }
           ?>
      </select></td>
      <td></td>
   </tr>
   <tr>
   <td class="conf-marge"></td>
      <td><div id="label_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><?php echo __('CONFIGURE_ALARM_VALUE'); ?>:</div></td>
      <td><div id="div_alarm_value" style="<?php if("$alarm_enable"=="0000") echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo "$alarm_value"; ?>" name="alarm_value" onKeypress="return verifDigit(event);"><label id="label_degree">°C</label></div></td>
      <td><?php if((isset($error['alarm']))&&(!empty($error['alarm']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['alarm']."</div>"; ?></td>
   </tr>
</table>
</div>

<div id="div_submit_interface" style="display:none">
<br />
<hr />
<input type="hidden" id="submenu" name="submenu" value="<?php echo $submenu; ?>" />
<br /><p class="p_center">
   <input type="submit" value="<?php echo __('VALIDATION_CONF'); ?>" id="submit_conf" name="submit_conf">
</p>
</div>
</form>

<div id="div_card_interface" style="display:none">
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" id="format_sd_form">
<table class="conf-table">
<tr>
    <td class="conf-marge"></td>
    <td class="conf-marge-td"><?php echo __('MANAGE_RESET_SD_CARD'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_FORMAT_SD'); ?>" /></td>
    <td >

<?php if((isset($hdd_list))&&(count($hdd_list)>0)) { ?><select name="selected_hdd" id="selected_hdd"><?php  foreach($hdd_list as $hdd) { ?><option value="<?php echo "$hdd"; ?>"><?php echo "$hdd"; ?></option><?php } ?></select><?php  } ?>
        <button id="reset_sd_card_submit" name="reset_sd_card_submit" 
                <?php if((isset($hdd_list))&&(count($hdd_list)>0)) { ?> 
                    class="delete"><?php echo __('MANAGE_RESET_CARD'); ?>
                <?php } else { ?>
                    disabled class="inputDisable"><?php echo __('MANAGE_RESET_CARD_NOT_FOUND'); ?>
                <?php } ?>
        </button>

    </td>
    <td></td>
</tr>
</table>
<div id="format_dialog_sd" title="<?php echo __('CONFIRMATION'); ?>" style="display:none">
<p><?php echo __('RESET_CONFIRM_SD_CARD'); ?></p>
</div>
<br />
<hr />
</form>

<div id="progress" title="<?php echo __('FORMAT_PROGRESS'); ?>" style="display:none">
    <div id="progress_bar"></div>
    <br />
    <p class="p_center">
        <label class="format_success" id="success_format" style="display:none"><?php echo __('SUCCESS_FORMAT'); ?></label>
        <label class="format_error" id="error_format" style="display:none"><?php echo __('ERROR_FORMAT'); ?></label>
    </p>
</div>
</div>

<?php 
      echo "<script>expand('".$submenu."');</script>";
?>
