<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_message"; ?>');
   </script>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_error_message"; ?>');
   </script>
<?php } ?>

<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<br />
<?php } ?>


<?php switch($lang) {

   case 'fr_FR': 
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-fr.js"></script>'; 
      break;
        }
?>

<script type="text/javascript">
$(function() {
   $("#datepicker_start").datepicker({ 
dateFormat: "yy-mm-dd",
showButtonPanel: true,
showOn: "both",
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT_LOG')."',"; ?>
}).val()
});
</script>

<script type="text/javascript">
$(function() {
   $("#datepicker_end").datepicker({ 
dateFormat: "yy-mm-dd",
showButtonPanel: true,
showOn: "both",
buttonImage: "../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT_LOG')."',"; ?>
}).val()
});
</script>

<script type="text/javascript">
$(function () {
   var chart;
   $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
         backgroundColor: '#F7F7F9',
         renderTo: 'container',
         borderWidth: 3,
         spacingRight: 20,
         type: 'column'
      },
      title: {
         text: <?php if(strcmp("$startday","$endday")!=0) { echo "'".__('COST_PRICE_COMPUTE_GRAPH','highchart')." ".__('COST_PRICE_TIME','highchart')." ".$startday." ".__('COST_PRICE_TO','highchart')." ".$endday."'"; } else {
                    echo "'".__('COST_PRICE_COMPUTE_GRAPH','highchart')." ".__('COST_PRICE_FOR_DAY','highchart')." ".$startday."'"; } ?>
      },
      subtitle: {
         text: ''
      },
      lang: {
            printButtonTitle: <?php echo "'".__('PRINT_HIGHCHART')."',"; ?>
            exportButtonTitle: <?php echo "'".__('EXPORT_HIGHCHART')."',"; ?>
            downloadPNG : <?php echo "'".__('EXPORT_PNG')."',"; ?>
            downloadJPEG : <?php echo "'".__('EXPORT_JPEG')."',"; ?>
            downloadPDF : <?php echo "'".__('EXPORT_PDF')."',"; ?>
            downloadSVG : <?php echo "'".__('EXPORT_SVG')."',"; ?>
            resetZoom : <?php echo "'".__('RESET_ZOOM')."',"; ?>
            resetZoomTitle : <?php echo "'".__('RESET_ZOOM_TITLE')."'"; ?>
      },
      xAxis: {
         categories: [
            '<?php echo __('REAL_PRICE','highchart'); ?>',
            '<?php echo __('THEORICAL_PRICE','highchart'); ?>'
         ]
      },
      yAxis: {
         min: 0,
         alternateGridColor: '#FDFFD5',
         title: {
            text: '<?php echo __('INSTALLATION_PRICE','highchart'); ?>'
         }
      },
      credits: {
            enabled: false
      },
      tooltip: {
         formatter: function() {
            return ''+ this.y +'<?php if(strcmp("$lang","fr_FR")==0) { echo "€"; } else { echo "£"; } ?>';
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
        series: [
        <?php foreach($data_price as $data) { ?>
         {
                name: <?php echo "'".html_entity_decode($data['title'])."'," ?>
                color: <?php echo "'".$data['color']."'"; ?>,
                data: [<?php echo $data['real']; ?>,<?php echo $data['theorical']; ?>]
                },
         <?php } ?> 
      ]
   });
});
});
</script>

<label class="title_conf"><?php echo __('COST_PRICE_COMPUTE'); ?>:</label>
<br /><br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">

<table class="table_width">
   <tr>
      <td class="cost-marge"></td>
      <td class="cost-title"><?php echo __('SELECT_START_DAY'); ?>:</td>
      <td class="cost-field"><input id="datepicker_start" name="startday" type="text" class="whitefield" size="10" value="<?php echo $startday; ?>"></td>
      <td><?php if((isset($error['startday']))&&(!empty($error['startday']))) echo "<div class='error'>".$error['startday']."</div>"; ?><?php if((isset($error['interval']))&&(!empty($error['interval']))) echo "<div class='error'>".$error['interval']."</div>"; ?></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_END_DAY'); ?>:</td>
      <td><input id="datepicker_end" name="endday" type="text" class="whitefield" size="10" value="<?php echo $endday; ?>"></td>
      <td><?php if((isset($error['endday']))&&(!empty($error['endday']))) echo "<div class='error'>".$error['endday']."</div>"; ?></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_PRICE_PLUG'); ?>:</td>
      <td><select name="select_plug">
            <option value="all"><?php echo __('PRICE_ALL_PLUG'); ?></option>
            <option value="distinct_all" <?php if(strcmp($select_plug,"distinct_all")==0) { echo "selected"; } ?>><?php echo __('PRICE_DISTINCT_ALL_PLUG'); ?></option>
            <?php foreach($active_plugs as $plugs) {  ; ?>
               <option value="<?php echo $plugs['id']; ?>" <?php if(strcmp($select_plug,$plugs['id'])==0) echo "selected"; ?>><?php echo __('PRICE_FOR_PLUG').": ".$plugs_infos[$plugs['id']-1]["PLUG_NAME"]; ?></option>
            <?php } ?>
         </select></td>
     <td></td>
   </tr>
</table>
<br />
<p class="p_center"><INPUT type="submit" value=<?php echo __('VIEW'); ?> onKeypress="return verifDigit(event);"></p>
</form>
<hr />
<br />

<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
