<?php if((((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)))||((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0))) { ?>
<div class="message" style="display:none">
        <?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<img src="main/libs/img/informations.png" alt="" /><label class="info_title"><?php echo __('INFORMATION'); ?>:</label>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
<br />
</div>
    <?php } ?>
    <?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<img src="main/libs/img/warning.png" alt="" /><label class="error_title"><?php echo __('WARNING'); ?>:</label>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
    <?php } ?>
</div>
<?php } ?>
<br />


<?php switch($_SESSION['LANG']) {
        case 'fr_FR': 
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-fr.js"></script>'; 
                break;
        case 'it_IT':
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-it.js"></script>';
                break;
        case 'de_DE':
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-de.js"></script>';
                break;
        case 'es_ES':
                echo '<script type="text/javascript" src="main/libs/js/jquery.ui.datepicker-es.js"></script>';
                break;
        }
?>

<script type="text/javascript">
$(function() {
   $("#datepicker_start").datepicker({ 
dateFormat: "yy-mm-dd",
showButtonPanel: true,
showOn: "both",
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT_LOG')."',"; ?>
}).val()
});
</script>

<script type="text/javascript">
$(function() {
   $("#datepicker_end").datepicker({ 
dateFormat: "yy-mm-dd",
showButtonPanel: true,
showOn: "both",
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT_LOG')."',"; ?>
}).val()

    $('#start_hc').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."',"; ?>
    });

    $('#stop_hc').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."',"; ?>
    });
});
</script>

<script type="text/javascript">
submit_cost = <?php echo json_encode($submit) ?>;
nb_plugs = <?php echo json_encode($nb_plugs) ?>;
default_cost=<?php echo json_encode($cost_price) ?>;
default_cost_hp=<?php echo json_encode($cost_price_hp) ?>;
default_cost_hc=<?php echo json_encode($cost_price_hc) ?>;
default_start_hc=<?php echo json_encode($start_hc) ?>;
default_stop_hc=<?php echo json_encode($stop_hc) ?>;
</script>

<script type="text/javascript">
$(function () {
   $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
         backgroundColor: '#F7F7F9',
         renderTo: 'container',
         borderWidth: 3,
         borderColor: '#959891',
         borderRadius: 20,
         spacingRight: 20,
         type: 'column'
      },
      title: {
         useHTML: true,
         text: <?php if(strcmp("$startday","$endday")!=0) { echo "'".__('COST_PRICE_COMPUTE_GRAPH')." ".__('COST_PRICE_TIME')." ".$startday." ".__('COST_PRICE_TO')." ".$endday."'"; } else {
                    echo "'".__('COST_PRICE_COMPUTE_GRAPH')." ".__('COST_PRICE_FOR_DAY')." ".$startday."'"; } ?>
      },
      subtitle: {
         text: ''
      },
      lang: {
            useHTML: true,
            printChart: <?php echo "'".__('PRINT_HIGHCHART')."',"; ?>
            exportButtonTitle: <?php echo "'".__('EXPORT_HIGHCHART')."',"; ?>
            downloadPNG : <?php echo "'".__('EXPORT_PNG')."',"; ?>
            downloadJPEG : <?php echo "'".__('EXPORT_JPEG')."',"; ?>
            downloadPDF : <?php echo "'".__('EXPORT_PDF')."',"; ?>
            downloadSVG : <?php echo "'".__('EXPORT_SVG')."',"; ?>
            resetZoom : <?php echo "'".__('RESET_ZOOM')."',"; ?>
            resetZoomTitle : <?php echo "'".__('RESET_ZOOM_TITLE')."'"; ?>,
            contextButtonTitle: <?php echo "'".__('CONTEXT_MENU')."'"; ?>
      },
      xAxis: {
         categories: [
            '<?php echo __('REAL_PRICE'); ?>',
            '<?php echo __('THEORICAL_PRICE'); ?>'
         ],
	 labels: {
		useHTML: true
         },
      },
      yAxis: {
         min: 0,
         title: {
            useHTML: true,
            text: '<?php echo __('INSTALLATION_PRICE'); ?>'
         }
      },
      credits: {
            enabled: false
      },
      tooltip: {
         useHTML: true,
         formatter: function() {
            return ''+ this.y +'<?php if(strcmp("$lang","en_GB")!=0) { echo "€"; } else { echo "£"; } ?>';
         }
      },
      legend: {
        useHTML: true
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
        series: [
        <?php foreach($data_price as $data) { ?>
         {
		useHTML: true,
                name: <?php echo "'".html_entity_decode($data['title'])."'," ?>
                color: <?php echo "'".$data['color']."'"; ?>,
                data: [<?php echo $data['real']; ?>,<?php echo $data['theorical']; ?>]
                },
         <?php } ?> 
      ]
   });


    if((typeof(submit_cost)!='undefined')&&(submit_cost)) {
        $("#progress_cost").dialog({
            resizable: false,
            <?php if(strcmp($select_plug,"distinct_all")==0) { ?>
                width: 750,
            <?php } else { ?> 
                width: 550,
            <?php } ?>
            modal: true,
            <?php if(strcmp($select_plug,"distinct_all")==0) { ?>
                position: 'top',
            <?php } ?>
            dialogClass: "popup_message",
            buttons: [{
                    text: CANCEL_button,
                    "id": "btnClose",
                    click: function () {
                        $( this ).dialog( "close" );  
                    }
            }],
            open: function( event, ui ) {
                var myArray = $("#datepicker_start").val().split('-');
                var myArray2 = $("#datepicker_end").val().split('-');
                var Date1 = new Date(myArray[0],myArray[1]-1,myArray[2]);
                var Date2 = new Date(myArray2[0],myArray2[1]-1,myArray2[2]);
                var nb_jours=diffdate(Date1,Date2);

                if($("#select_plug").val()!="distinct_all") {
                    compute_cost("theorical",$("#datepicker_start").val(),$("#select_plug").val(), nb_jours,nb_jours,"0",chart,0,0);
                    compute_cost("real",$("#datepicker_start").val(),$("#select_plug").val(), nb_jours,nb_jours,"0",chart,0,0);
                    $("#progress_bar_cost_theorical").progressbar({value:0});
                    $("#progress_bar_cost_real").progressbar({value:0});
                } else {
                    for(plugs=1;plugs<=nb_plugs;plugs++) {
                        compute_cost("theorical",$("#datepicker_start").val(),plugs, nb_jours,nb_jours,"0",chart,plugs-1,nb_plugs);
                        compute_cost("real",$("#datepicker_start").val(),plugs, nb_jours,nb_jours,"0",chart,plugs-1,nb_plugs);
                    }
                    
                }
            }
        });
    }
});
});
</script>

<label class="title_conf"><?php echo __('COST_PRICE_COMPUTE'); ?>:</label>
<br /><br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?><?php if(strcmp($select_plug,'distinct_all')!=0) { echo '#anchor-cost'; } ?>" method="post" name="display-cost" id="display-cost">

<table class="table_width">
   <tr>
      <td class="cost-marge"></td>
      <td class="cost-title"><?php echo __('SELECT_START_DAY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_START_TIME'); ?>" /></td>
      <td class="cost-field"><input id="datepicker_start" name="startday" type="text" class="whitefield" size="10" value="<?php echo $startday; ?>"></td>
      <td><div id="error_start_cost" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_DATE_DAY_START'); ?></div><div id="error_start_interval" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_DATE_INTERVAL'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_END_DAY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_STOP_TIME'); ?>" /></td>
      <td><input id="datepicker_end" name="endday" type="text" class="whitefield" size="10" value="<?php echo $endday; ?>"></td>
      <td><div id="error_end_cost" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_DATE_DAY_END'); ?></div><div id="error_end_interval" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_DATE_INTERVAL'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('SELECT_PRICE_PLUG'); ?>:</td>
      <td><select name="select_plug" id="select_plug">
            <option value="all"><?php echo __('PRICE_ALL_PLUG'); ?></option>
            <option value="distinct_all" <?php if(strcmp($select_plug,"distinct_all")==0) { echo "selected"; } ?>><?php echo __('PRICE_DISTINCT_ALL_PLUG'); ?></option>
            <?php for($plugs=1;$plugs<=$nb_plugs;$plugs++) {  ?>
                <?php if(strcmp($plugs_infos[$plugs-1]['PLUG_ENABLED'],"False")==0) { ?>
                    <option value="<?php echo $plugs; ?>" disabled><?php echo __('PRICE_FOR_PLUG').": ".$plugs_infos[$plugs-1]["PLUG_NAME"]; ?></option>
                <?php } else { ?>
                    <option value="<?php echo $plugs; ?>" <?php if(strcmp("$select_plug","$plugs")==0) echo "selected"; ?>><?php echo __('PRICE_FOR_PLUG').": ".$plugs_infos[$plugs-1]["PLUG_NAME"]; ?></option>
                <?php } ?>
            <?php } ?> 
         </select></td>
     <td></td>
   </tr>
   <tr>
      <td></td>
      <td><?php echo __('CONFIGURE_COST_TYPE'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_TYPE'); ?>" /></td>
      <td>
            <select name="cost_type" id="cost_type" onChange="getCostType(this.selectedIndex);" onLoad="getCostType(this.selectedIndex);">
               <option value="standard" <?php if(strcmp($cost_type,"standard")==0) echo "selected"; ?>><?php echo __('COST_STANDARD'); ?></option>
               <option value="hpc" <?php if(strcmp($cost_type,"hpc")==0) echo "selected"; ?>><?php echo __('COST_HPC'); ?></option>
            </select>
      </td>
      <td></td>
   </tr>
   <tr>
      <td></td>
      <td><label id="cost_label_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_COST_PRICE'); ?>" /></label><label id="cost_label_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HP'); ?>:</label></td>
      <td><label id="cost_input_standard" style="<?php if(strcmp($cost_type,'standard')!=0) echo 'display:none'; ?>">
        <input type="text" size="6" maxlength="6" name="cost_price" id="cost_price" value="<?php echo "$cost_price"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp($cost_type,'standard')==0) { if(strcmp("$lang","en_GB")!=0) { echo "&euro;"; } else { echo "&#163;"; }} ?></label>
        <label id="cost_input_hp" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="6" maxlength="6" id="cost_price_hp" name="cost_price_hp" value="<?php echo "$cost_price_hp"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","en_GB")!=0) { echo "&euro;"; } else { echo "&#163;"; } ?></label>
      </td>
    <td><div id="error_cost_price" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_PRICE_VALUE'); ?></div><div id="error_cost_price_hp" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_PRICE_VALUE_HP'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><label id="cost_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_COST_PRICE_HC'); ?>:</label></td>
      <td><label id="cost_input_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" size="6" maxlength="6" id="cost_price_hc" name="cost_price_hc" value="<?php echo "$cost_price_hc"; ?>" onKeypress="return verifDigit(event);"><?php if(strcmp("$lang","en_GB")!=0) { echo "&euro;"; } else { echo "&#163;"; } ?></label></td>
     <td><div id="error_cost_price_hc" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_PRICE_VALUE_HC'); ?></div></td>
   </tr>
   <tr>
      <td></td>
      <td><label id="start_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_START_HC'); ?></label></td>
      <td>
            <label id="start_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="start_hc" id="start_hc" <?php if((isset($start_hc))&&(!empty($start_hc))) { ?> value="<?php echo $start_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
      <td><div id="error_start_hc" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_TIME_VALUE'); ?></div></td>
   </tr>
    <tr>
      <td></td>
      <td><label id="stop_label_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><?php echo __('CONFIGURE_STOP_HC'); ?></label></td>
      <td>
            <label id="stop_value_hc" style="<?php if(strcmp($cost_type,'hpc')!=0) echo 'display:none'; ?>"><input type="text" maxlength="5" size="5" name="stop_hc" id="stop_hc" <?php if((isset($stop_hc))&&(!empty($stop_hc))) { ?> value="<?php echo $stop_hc; ?>" <?php } else { ?> value="00:00" <?php } ?> /></label>
      </td>
     <td><div id="error_stop_hc" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_TIME_VALUE'); ?></div></td>
   </tr>
</table>
<br />
<input type="hidden" name="submit_cost" id="subit_cost" value="submit_cost">
<p class="p_center"><input type="submit" name="view-cost" id="view-cost" value=<?php echo __('VIEW'); ?> onKeypress="return verifDigit(event);"></p>
</form>
<hr />
<br />

<div id="progress_cost" title="<?php echo __('COMPUTE_COST'); ?>" style="display:none">
    <?php if(strcmp($select_plug,"distinct_all")!=0) { ?>
    <p><?php echo __('PROGRESS_COST_THEORICAL'); ?>:</p>
    <div id="progress_bar_cost_theorical"></div>
    <p class="p_center">
        <label class="format_error" id="error_cost_compute_theorical" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
        <label class="format_success" id="valid_cost_compute_theorical" style="display:none"><?php echo __('VALID_THEORICAL_COST_COMPUTE'); ?></label>
    </p>
    <br />
   
    <p><?php echo __('PROGRESS_COST_REAL'); ?>:</p> 
    <div id="progress_bar_cost_real"></div>
    <p class="p_center">
        <label class="format_error" id="error_cost_compute_real" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
        <label class="format_success" id="valid_cost_compute_real" style="display:none"><?php echo __('VALID_REAL_COST_COMPUTE'); ?></label>
    </p>
    <?php } else { ?>
        <table class="table_width">
        <?php for($nb=1; $nb<=$nb_plugs; $nb++) { ?>
            <?php if ($nb % 2 != 0) echo '<tr>'; ?>
            <?php if ($nb % 2 == 0) echo '<td class="cost-marge"></td>'; ?>
            <td>
            <p><?php echo __('COMPUTE_COST_PLUG_THEORICAL')." ".$nb; ?>:</p>
            <div id="progress_bar_cost_theorical<?php echo $nb; ?>"></div>
            <p class="p_center">
                <label class="format_error" id="error_cost_compute_theorical<?php echo $nb; ?>" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
                <label class="format_success" id="valid_cost_compute_theorical<?php echo $nb; ?>" style="display:none"><?php echo __('VALID_THEORICAL_COST_COMPUTE'); ?></label>
            </p>
            <p><?php echo __('COMPUTE_COST_PLUG_REAL')." ".$nb; ?>:</p> 
            <div id="progress_bar_cost_real<?php echo $nb; ?>"></div>
            <p class="p_center">
                <label class="format_error" id="error_cost_compute_real<?php echo $nb; ?>" style="display:none"><?php echo __('ERROR_COMPUTE_COST'); ?></label>
                <label class="format_success" id="valid_cost_compute_real<?php echo $nb; ?>" style="display:none"><?php echo __('VALID_REAL_COST_COMPUTE'); ?></label>
            </p>
            <hr />
            <br />
            </td>
            <?php if ($nb % 2 == 0) echo '</tr>'; ?>
    <?php } echo '</table>';  } ?>
</div>

<label id="anchor-cost"></label>
<table class="table_width">
<tr>
    <td></td><td><img src="main/libs/img/resume.png" alt="" title="<?php echo $resume; ?>" /></td>
</tr>
<tr>
<td><div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div></td><td></td></tr>
</table>
