<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_message"; ?>');
   </script>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <script>
      alert('<?php echo "$pop_up_error_message"; ?>');
   </script>
<?php } ?>


<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<img src="main/libs/img/informations.png" alt=""><b><?php echo __("INFORMATIONS").":"; ?></b>
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<img src="main/libs/img/warning.png" alt=""><b><?php echo __("ERROR_MESSAGE").":"; ?></b>
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<br />
<?php } ?>
<br />

<p class="title_conf"><?php echo __('TITLE_HISTORIC'); ?>:</p>

<table class="table_width">
<tr>
    <td class="subtitle_right">
        <form action="/cultibox/index.php/historic" method="post">
            <input type="submit" name="reset_historic" value="<?php echo __('RESET_HISTORIC'); ?>" onclick="return DeleteForm('<?php echo clean_popup_message(__('RESET_CONFIRM_HISTORIC','javascript')); ?>')" />
        </form>
    </td>
</tr>
</table>
<br />

<?php if(count($historic)>0) { ?>
<div class="div_code">
    <?php foreach($historic as $hist) { ?>
      <?php echo "<b>".$hist['timestamp']."</b>&nbsp;&nbsp;&nbsp;<label class='".$hist['type']."'>".$hist['action']."</label>"; ?><br />
    <?php } ?>
</div>
<?php } else { ?>
<div class="div_code">
    <ul>
        <li><?php echo __('NO_HISTORIC_VALUE'); ?></li>
    </ul>
</div>
<?php } ?>
