<script type="text/javascript">
function verifDigit(e) {
   if((e.keyCode < 48 || e.keyCode > 57)&&(e.keyCode != 46 && e.keyCode != 44 && e.keyCode != 08 && e.keyCode != 10 && e.keyCode != 13)) e.returnValue = false;
   if((e.which < 48 || e.which > 57)&&(e.which != 46 && e.which != 44 && e.which != 08 && e.which != 10 && e.which != 13)) return false;
}
</script>

<script type="text/javascript">
function verifInt(e) {
   if((e.keyCode < 48 || e.keyCode > 57)&&(e.keyCode != 08 && e.keyCode != 10 && e.keyCode != 13)) e.returnValue = false;
   if((e.which < 48 || e.which > 57)&&(e.which != 08 && e.which != 10 && e.which != 13)) return false;
}
</script>

<script type="text/javascript">
   function getRegul(i,j) {
      var divRval = document.getElementById('div_regul_value'+j);
      var divRsenso = document.getElementById('div_regul_senso'+j);
      var divRsenss = document.getElementById('div_regul_senss'+j);
      var labelRsenss = document.getElementById('label_regul_senss'+j);
      var labelRsenso = document.getElementById('label_regul_senso'+j);
      var labelRvalue = document.getElementById('label_regul_value'+j);

      switch(i) {
         case 0 : divRval.style.display = ''; divRsenso.style.display = ''; divRsenss.style.display = ''; labelRvalue.style.display = ''; labelRsenso.style.display = ''; labelRsenss.style.display = '';break;
         case 1 : divRval.style.display = 'none'; divRsenso.style.display = 'none'; divRsenss.style.display = 'none'; labelRvalue.style.display = 'none'; labelRsenso.style.display = 'none'; labelRsenss.style.display = 'none'; break;
         default: divRval.style.display = ''; divRsenso.style.display = ''; divRsenss.style.display = ''; labelRvalue.style.display = ''; labelRsenso.style.display = ''; labelRsenss.style.display = ''; break;
      }
   }
</script>

<script type="text/javascript">
   function getUnity(i,j) {
      var divDegree = document.getElementById('label_degree'+j);
      var divPourcent = document.getElementById('label_pourcent'+j);

      switch(i) {
         case 0 : divDegree.style.display = ''; divPourcent.style.display = 'none'; break;
         case 1 : divDegree.style.display = 'none'; divPourcent.style.display = ''; break;
         default: divDegree.style.display = ''; divPourcent.style.display = ''; break;
      }
   }
</script>

<script type="text/javascript">
   function getTolerance(i,j) {
      var divTolerance = document.getElementById('tolerance'+j);
      var divToleranceLabel = document.getElementById('tolerance_label'+j);
      var firstdivToleranceLabel = document.getElementById('first_tolerance_label'+j);
      var firstTolerance = document.getElementById('first_tolerance'+j);
      var pDegree = document.getElementById('degree'+j);
      var pPourcent = document.getElementById('pourcent'+j);
      var divHumiRegul = document.getElementById('humi_regul_senso'+j);
      var divTempRegul = document.getElementById('temp_regul_senso'+j);
      var divUnknownRegul = document.getElementById('unknown_regul_senso'+j);
      var labelDeg = document.getElementById('label_degree'+j);
      var labelPct = document.getElementById('label_pourcent'+j);

      switch(i) {
         case 0 : divTolerance.style.display = 'none'; divToleranceLabel.style.display = 'none'; pDegree.style.display = 'none'; pPourcent.style.display = 'none'; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = 'none'; divTempRegul.style.display = 'none'; divUnknownRegul.style.display = ''; labelDeg.style.display = ''; labelPct.style.display = 'none'; break; 
         case 1 : divTolerance.style.display = 'none'; divToleranceLabel.style.display = 'none'; pDegree.style.display = 'none'; pPourcent.style.display = 'none'; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = 'none'; divTempRegul.style.display = 'none'; divUnknownRegul.style.display = ''; labelDeg.style.display = ''; labelPct.style.display = 'none'; break;
         case 2 : divTolerance.style.display = ''; divToleranceLabel.style.display = ''; pDegree.style.display = ''; pPourcent.style.display = 'none'; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = ''; divTempRegul.style.display = 'none'; divUnknownRegul.style.display = 'none'; labelDeg.style.display = 'none'; labelPct.style.display = ''; break;
         case 3 : divTolerance.style.display = ''; divToleranceLabel.style.display = ''; pDegree.style.display = ''; pPourcent.style.display = 'none'; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = ''; divTempRegul.style.display = 'none'; divUnknownRegul.style.display = 'none'; labelDeg.style.display = 'none'; labelPct.style.display = '';break;
         case 4 : divTolerance.style.display = ''; divToleranceLabel.style.display = ''; pDegree.style.display = 'none'; pPourcent.style.display = ''; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = 'none'; divTempRegul.style.display = ''; divUnknownRegul.style.display = 'none'; labelDeg.style.display = ''; labelPct.style.display = 'none'; break;
         case 5 : divTolerance.style.display = ''; divToleranceLabel.style.display = ''; pDegree.style.display = 'none'; pPourcent.style.display = ''; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = 'none'; divTempRegul.style.display = ''; divUnknownRegul.style.display = 'none'; labelDeg.style.display = ''; labelPct.style.display = 'none'; break;         
         default: divTolerance.style.display = 'none'; divToleranceLabel.style.display = 'none'; pDegree.style.display = 'none'; pPourcent.style.display = 'none'; firstdivToleranceLabel.style.display = 'none'; firstTolerance.style.display = 'none'; divHumiRegul.style.display = 'none'; divTempRegul.style.display = 'none'; divUnknownRegul.style.display = ''; labelDeg.style.display = ''; labelPct.style.display = 'none'; break;
      }
   }
</script>

<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_message"; ?>');
   </SCRIPT>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
   <SCRIPT LANGUAGE="JavaScript">
      alert('<?php echo "$pop_up_error_message"; ?>');
   </SCRIPT>
<?php } ?>

<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
   <ul>
      <?php echo $info; ?>
   </ul>
</div>
<?php } ?>

<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
   <ul>
      <?php echo $error; ?>
   </ul>
</div>
<br />
<?php } ?>

<br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="plugForm" id="plugForm">
   <?php for($i=1;$i<=$nb_plugs;$i++) { ?>
   <table width="100%">
      <tr>
         <td width="20%">
            <p class="title_conf"><img src="main/libs/img/arrow.png" /><?php echo __('PLUG')." $i:"; ?></p>
         </td>
      </tr>
      <tr>
         <td></td>
         <td>
              <?php echo __('NAME_PLUG'); ?>
         </td>
         <td>
            <input type="text" size="20" maxlength="20" name="plug_name<?php echo $i; ?>" value="<?php echo $plug_name{$i}; ?>">
         </td>
      </tr>
      <tr>
         <td></td>
         <td width="25%">
            <?php echo __('TYPE_PLUG'); ?>
         </td>
         <td>
            <select name="plug_type<?php echo $i; ?>" onChange="getTolerance(this.selectedIndex,<?php echo $i; ?>);" onLoad="getTolerance(this.selectedIndex,<?php echo $i; ?>);">
               <option <?php if(strcmp($plug_type{$i},"unknown")==0) { echo 'selected';} ?> value="unknown"><?php echo __('PLUG_UNKNOWN'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
            </select>
         </td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div id="tolerance_label<?php echo $i; ?>" style="display:none">
               <?php echo __('TOLERANCE_PLUG'); ?>
            </div>
            <?php if((strcmp($plug_type{$i},"ventilator")==0)||(strcmp($plug_type{$i},"heating")==0)||(strcmp($plug_type{$i},"humidifier")==0)||(strcmp($plug_type{$i},"dehumidifier")==0)) { ?>
            <div id="first_tolerance_label<?php echo $i; ?>">
               <?php echo __('TOLERANCE_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_TOLERANCE'); ?>" />
            </div>
            <?php } ?>
         </td>
         <td>
            <div id="tolerance<?php echo $i; ?>" style="display:none">
               <input type="text" id="plug_tolerance<?php echo $i; ?>" size="4" style="width: 10%;" maxlength="4" name="plug_tolerance<?php echo $i; ?>" value="<?php echo $plug_tolerance{$i}; ?>" onKeypress="return verifDigit(event);" /><label id="pourcent<?php echo $i; ?>" style="display:none"> %</label><label id="degree<?php echo $i; ?>" style="display:none"> °C</label>
            </div>
            <?php if((strcmp($plug_type{$i},"ventilator")==0)||(strcmp($plug_type{$i},"heating")==0)||(strcmp($plug_type{$i},"humidifier")==0)||(strcmp($plug_type{$i},"dehumidifier")==0)) { ?>
            <div id="first_tolerance<?php echo $i; ?>">
               <input type="text" size="4" style="width: 10%;" maxlength="4" name="plug_tolerance<?php echo $i; ?>" value="<?php echo $plug_tolerance{$i}; ?>" onKeypress="return verifDigit(event);"><?php if((strcmp($plug_type{$i},"humidifier")==0)||(strcmp($plug_type{$i},"dehumidifier")==0)) { ?><label id="pourcent<?php echo $i; ?>"> %</label><?php } else { ?><label id="degree<?php echo $i; ?>"> °C</label><?php } ?>
            </div>
            <?php } ?>
         </td>
      </tr>
   <tr>
         <td></td>
         <td>
            <?php echo __('ID_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_ID'); ?>" />
         </td>
         <td>
            <input type="text" size="3" maxlength="3" name="plug_id<?php echo $i; ?>" value="<?php echo $plug_id{$i}; ?>" <?php if($i<=3) echo "disabled"; ?> onKeypress="return verifInt(event);">
         </td>
      </tr>
     <tr>
         <td></td>
         <td>
            <?php echo __('POWER_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_POWER'); ?>" />
         </td>
         <td>
            <input type="text" size="3" maxlength="3" name="plug_power<?php echo $i; ?>" value="<?php echo $plug_power{$i}; ?>" onKeypress="return verifInt(event);">
         </td>
      </tr>
</table>




<table width="100%">
<tr>
         <td width="20%"></td>
         <td width="25%">
            <?php echo __('ENABLE_REGUL_PLUG'); ?><img src="main/libs/img/infos.png" alt="" class="info-bulle-css" title="<?php echo __('TOOLTIP_PLUG_REGUL'); ?>" />
         </td>
         <td>
            <select id="plug_regul<?php echo $i; ?>" name="plug_regul<?php echo $i; ?>" onChange="getRegul(this.selectedIndex,<?php echo $i; ?>);" onLoad="getRegul(this.selectedIndex,<?php echo $i; ?>);">
               <option <?php if(strcmp($plug_regul{$i},"True")==0) { echo 'selected';} ?> value="True"><?php echo __('VALUE_ON'); ?></option>
               <option <?php if(strcmp($plug_regul{$i},"False")==0) { echo 'selected';} ?> value="False"><?php echo __('VALUE_OFF'); ?></option>
            </select>
         </td>
      </tr>
</table>

<table width="100%">
   <tr>
      <td width="23%"></td>
      <td width="28%" class="regul"><div id="label_regul_senso<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},'False')==0) { echo "display:none"; } ?>"><img src="main/libs/img/arrow.png" /><?php echo __('CONFIGURE_REGUL_SENSO'); ?></div></td>
         <td><div id="div_regul_senso<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><div id="unknown_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"unknown")!=0)&&(strcmp($plug_type{$i},"lamp")!=0)) { echo "display:none"; } ?>">
<select name="plug_senso<?php echo $i; ?>" onChange="getUnity(this.selectedIndex, <?php echo $i; ?>);" onLoad="getUnity(this.selectedIndex,<?php echo $i; ?>);">
           <?php 
                if(strcmp($plug_senso{$i},"H")==0) {
                     echo "<option value='T'>".__('REGUL_TEMP')."</option>";
                     echo "<option value='H' selected>".__('REGUL_HUMI')."</option>";
                  } else {
                     echo "<option value='T' selected>".__('REGUL_TEMP')."</option>";
                     echo "<option value='H'>".__('REGUL_HUMI')."</option>";
                  }
           ?>
    </select></div>
         <div id="humi_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"ventilator")!=0)&&(strcmp($plug_type{$i},"heating")!=0)) { echo "display:none"; } ?>">
               <input type="text" size="10" value="<?php echo __('REGUL_HUMI'); ?>" name="regul_humi_fake<?php echo $i; ?>" disabled>
         </div>

          <div id="temp_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"humidifier")!=0)&&(strcmp($plug_type{$i},"dehumidifier")!=0)) { echo "display:none"; } ?>">
               <input type="text" size="10" value="<?php echo __('REGUL_TEMP'); ?>" name="regul_temp_fake<?php echo $i; ?>" disabled>
         </div>
         </div>
   </td>
</tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_senss<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" /><?php echo __('CONFIGURE_REGUL_SENSS'); ?></div></td>
      <td><div id="div_regul_senss<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><select name="plug_senss<?php echo $i; ?>">
           <?php if(strcmp($plug_senss{$i},"-")==0) {
                     echo "<option value='+'>".__('REGUL_ABOVE')."</option>";
                     echo "<option value='-' selected>".__('REGUL_UNDER')."</option>";
                  } else {
                     echo "<option value='+' selected>".__('REGUL_ABOVE')."</option>";
                     echo "<option value='-'>".__('REGUL_UNDER')."</option>";
                  }
           ?>
     </select></div>

      </td>
   </tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" /><?php echo __('CONFIGURE_REGUL_VALUE'); ?></div></td>
      <td><div id="div_regul_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo $plug_regul_value{$i}; ?>" name="plug_regul_value<?php echo $i; ?>" onKeypress="return verifDigit(event);"><label id="label_degree<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"H")==0) echo "display:none"; ?>">°C</label><label id="label_pourcent<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"T")==0) echo "display:none"; ?>">%</label></div></td>
   </tr>
   </table>

<?php if((isset($error_plug[$i]))&&(!empty($error_plug[$i]))) { ?>
<div id="error">
   <ul>
      <?php echo $error_plug[$i]; ?>
   </ul>
</div>
<?php } else if((isset($info_plug[$i]))&&(!empty($info_plug[$i]))) { ?>
<div id="info">
   <ul>
      <?php echo $info_plug[$i]; ?>
   </ul>
</div>
<?php } ?>


<br />
<hr />
   <?php } ?>
<br /><br />
   <table width="100%">
      <tr>
         <td width="20%"></td>
         <td>
            <INPUT type="submit" name="reccord" value="<?php echo __('VALIDATION_PLUG_CONF'); ?>">
         </td>
         <td>
            <INPUT type="submit" name="reset" value="<?php echo __('RESET_PLUG_ID'); ?>">
         </td>
      </tr>
   </table>
</form>
