<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message" style="display:none">
            <?php echo "$pop_up_message"; ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error" style="display:none">
            <?php echo "$pop_up_error_message"; ?>
       </div>
<?php } ?>

<?php if((((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)))||((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0))) { ?>
<div class="message" style="display:none">
        <?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<img src="main/libs/img/informations.png" alt="" /><label class="info_title"><?php echo __('INFORMATION'); ?>:</label>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
<br />
</div>
    <?php } ?>
    <?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<img src="main/libs/img/warning.png" alt="" /><label class="error_title"><?php echo __('WARNING'); ?>:</label>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
    <?php } ?>
</div>
<?php } ?>
<br />
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="plugForm" id="plugForm">
<p class="title_conf"><?php echo __('PLUG'); ?> 
    <select name="selected_plug" onChange="getSelectedPlug(this.selectedIndex,<?php echo $nb_plugs; ?>);" onLoad="getSelectedPlug(this.selectedIndex,<?php echo $nb_plugs; ?>);">
    <?php for($i=1;$i<=$nb_plugs;$i++) { ?>
               <option <?php if($selected_plug==$i) { echo 'selected';} ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
    <?php } ?>
               <option <?php if($selected_plug=="all") { echo 'selected';} ?> value="all"><?php echo __('SELECT_ALL_PLUGS'); ?></option>
    </select>
</p>
<br />
<div id="title_infos_plug" style="<?php if(strcmp($selected_plug,"all")==0) echo 'display:none'; ?>"><p class="title_plug"><?php echo __('PLUG_INFOS'); ?>:</p></div>
   <?php for($i=1;$i<=$nb_plugs;$i++) { ?>
    <div id="title_infos_all_plugs<?php echo $i; ?>" style="<?php if(strcmp($selected_plug,"all")!=0) echo 'display:none'; ?>"><p class="title_plug"><?php echo __('PLUG_INFOS')." ".$i; ?>:</p></div>
   <div id="div_selected_plug<?php echo $i; ?>" style="<?php if(($selected_plug!=$i)&&(strcmp($selected_plug,"all")!=0)) echo 'display:none'; ?>">
<br />
<table class="table_width">
      <tr>
         <td class="plug-marge-td"></td>
         <td class="plug-marge-title"><?php echo __('STATE_PLUG'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_STATE_PLUG'); ?>" /></td>
         <td class="plug-marge-field">
            <select name="plug_enable<?php echo $i; ?>" onChange="getEnable(this.selectedIndex,<?php echo $i; ?>);" onLoad="getEnable(this.selectedIndex,<?php echo $i; ?>);">
               <option <?php if(strcmp($plug_enable{$i},"True")==0) { echo "selected";} ?> value="True"><?php echo __('PLUG_ENABLED'); ?></option>
               <option <?php if(strcmp($plug_enable{$i},"False")==0) { echo "selected";} ?> value="False"><?php echo __('PLUG_DISABLED'); ?></option>
            </select>
         </td>
         <td></td>
      </tr>
</table>

<div id="state_plug<?php echo $i; ?>" style="<?php if((strcmp($plug_enable{$i},"False")==0)) { echo "display:none"; } ?>">
<table class="table_width">
      <tr>
         <td class="plug-marge-td"></td>
         <td class="plug-marge-title">
              <?php echo __('NAME_PLUG'); ?>:
         </td>
         <td class="plug-marge-field">
            <input type="text" size="15" maxlength="15" name="plug_name<?php echo $i; ?>" value="<?php echo $plug_name{$i}; ?>">
         </td>
         <td></td>
      </tr>
      <tr>
         <td></td>
         <td><?php echo __('PLUG_MAX_POWER'); ?>:</td>
         <td>
            <?php if($i <= $GLOBALS['NB_MIN_PLUG']) { ?>
                <label class="readonly" id="plug_power_maximal<?php echo $i; ?>"><?php echo $plug_power_max{$i}; ?>W</label> 
                <?php if($plug_power_max{$i}==3500) { ?>
                    <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_3500'); ?>" />
                <?php } else { ?>
                    <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_1000'); ?>" /> 
                <?php } ?>
            <?php } else { ?>
                <input type= "radio" name="plug_power_max<?php echo $i; ?>" value="1000" <?php if(strcmp($plug_power_max{$i},"1000")==0) { echo "checked"; } ?>>1000W<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_1000'); ?>" />
                <input type= "radio" name="plug_power_max<?php echo $i; ?>" value="3500" <?php if(strcmp($plug_power_max{$i},"3500")==0) { echo "checked"; } ?>>3500W<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_3500'); ?>" />
            <?php } ?>
         </td>
         <td></td>
      </tr>
      <tr>
         <td></td>
         <td>
            <?php echo __('TYPE_PLUG'); ?>:
         </td>
         <td>
            <select name="plug_type<?php echo $i; ?>" onChange='getTolerance(this.selectedIndex,<?php echo $i; ?>,<?php echo "\"$second_regul\""; ?>);' onLoad='getTolerance(this.selectedIndex,<?php echo $i; ?>,<?php echo "\"$second_regul\""; ?>);'>
               <option <?php if(strcmp($plug_type{$i},"other")==0) { echo 'selected';} ?> value="other"><?php echo __('PLUG_UNKNOWN'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"lamp")==0) { echo 'selected';} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
               <option <?php if(strcmp($plug_type{$i},"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
            </select>
         </td>
         <td></td>
      </tr>
      <tr>
         <td></td>
         <td>
            <?php echo __('POWER_PLUG'); ?>:<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_POWER'); ?>" />
         </td>
         <td>
            <input type="text" size="4" maxlength="4" name="plug_power<?php echo $i; ?>" value="<?php echo $plug_power{$i}; ?>" onKeypress="return verifInt(event);">W
         </td>
        <td><?php if((isset($error[$i]['power']))&&(!empty($error[$i]['power']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error[$i]['power']."</div>"; ?></td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div id="tolerance_label<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>">
               <?php echo __('TOLERANCE_PLUG'); ?>:<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_PLUG_TOLERANCE'); ?>" />
            </div>
         </td>
         <td>
            <div id="tolerance<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>">
               <input type="text" id="plug_tolerance<?php echo $i; ?>" size="4" style="width: 20%;" maxlength="4" name="plug_tolerance<?php echo $i; ?>" value="<?php echo $plug_tolerance{$i}; ?>" onKeypress="return verifDigit(event);" /><label id="pourcent<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"humidifier")!=0)&&(strcmp($plug_type{$i},"dehumidifier")!=0)) { echo "display:none"; } ?>"> %</label><label id="degree<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"heating")!=0)&&(strcmp($plug_type{$i},"ventilator")!=0)) { echo "display:none"; } ?>"> °C</label>
            </div>
         </td>
         <td><?php if((isset($error[$i]['tolerance']))&&(!empty($error[$i]['tolerance']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error[$i]['tolerance']."</div>"; ?></td>
      </tr>
      <tr>
         <td></td>
         <td><div id="label_sensor<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>"><?php echo __('CONFIGURE_REGUL_SENSOR'); ?>:<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_REGUL_SENSOR'); ?>" /></div></td>
         <td>
           <div id="sensor<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>">
               <table class="table_width">
               <tr>
                    <?php for($j=1;$j<=$GLOBALS['NB_MAX_SENSOR'];$j++) { ?>
                        <td><?php echo __('SENSOR')." ".$j; ?></td>
                    <?php } ?>
               </tr>
               <tr>
                    <?php if(strcmp("$advanced_regul","True")==0) { ?>
                        <?php for($j=1;$j<=$GLOBALS['NB_MAX_SENSOR'];$j++) { ?> 
                            <td>
                            <select name="plug_sensor<?php echo $i; ?><?php echo $j; ?>" id="plug_sensor<?php echo $i; ?><?php echo $j; ?>">
                                <option <?php if(strcmp($plug_sensor[$i][$j],"True")==0) { echo 'selected'; }?> value="True"><?php echo __('YES'); ?></option> 
                                <option <?php if(strcmp($plug_sensor[$i][$j],"False")==0) { echo 'selected'; }?> value="False"><?php echo __('NO'); ?></option> 
                            </select>
                            </td>
                        <?php } ?>
                    <?php } else { ?>
                          <?php for($j=1;$j<=$GLOBALS['NB_MAX_SENSOR'];$j++) { ?>
                            <td>
                            <select name="plug_sensor<?php echo $i; ?><?php echo $j; ?>" id="plug_sensor<?php echo $i; ?><?php echo $j; ?>" disabled>
                                 <?php if($j==1) { ?>
                                <option value="True"><?php echo __('YES'); ?></option>
                                 <?php } else { ?>
                                <option value="False"><?php echo __('NO'); ?></option>
                                <?php } ?>
                            </select>
                            </td>
                        <?php } ?>
                <?php } ?>
               </tr>
              </table>
            </div>
         </td>
         <td></td>
      </tr>
      <tr>
         <td></td>
         <td><div id="label_regul_compute<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>"><?php echo __('COMPUTE_REGUL_METHOD'); ?>:<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_REGUL_COMPUTE_METHOD'); ?>" /></div></td>
         <td>
           <div id="regul_compute<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")==0)||(strcmp($plug_type{$i},"lamp")==0)) { echo "display:none"; } ?>">
                <select name="plug_compute_method<?php echo $i; ?>" id="plug_compute_method<?php echo $i; ?>">
                   <option <?php if(strcmp($plug_compute_method{$i},"M")==0) { echo 'selected'; }?> value="M"><?php echo __('AVERAGE'); ?></option>
                   <option <?php if(strcmp($plug_compute_method{$i},"I")==0) { echo 'selected'; }?> value="I"><?php echo __('MINIMUM'); ?></option>
                   <option <?php if(strcmp($plug_compute_method{$i},"A")==0) { echo 'selected'; }?> value="A"><?php echo __('MAXIMUM'); ?></option>
                </select>
         </td>
            </div>
         <td></td>
      </tr>
        <?php if(strcmp("$second_regul","True")==0) { ?>
      <tr>
         <td></td>
         <td>
            <div id="second_regul_label<?php echo $i; ?>" <?php if((strcmp($plug_type{$i},"lamp")==0)||(strcmp($plug_type{$i},"other")==0)) echo 'style="display:none"'; ?>>
<?php echo __('ENABLE_REGUL_PLUG'); ?>:<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_PLUG_REGUL'); ?>" />
            </div>
         </td>
         <td>
            <div id="second_regul<?php echo $i; ?>" <?php if((strcmp($plug_type{$i},"lamp")==0)||(strcmp($plug_type{$i},"other")==0)) echo 'style="display:none"'; ?>>
            <select id="plug_regul<?php echo $i; ?>" name="plug_regul<?php echo $i; ?>" onChange="getRegul(this.selectedIndex,<?php echo $i; ?>);" onLoad="getRegul(this.selectedIndex,<?php echo $i; ?>);">
               <option <?php if(strcmp($plug_regul{$i},"True")==0) { echo 'selected';} ?> value="True"><?php echo __('VALUE_ON'); ?></option>
               <option <?php if(strcmp($plug_regul{$i},"False")==0) { echo 'selected';} ?> value="False"><?php echo __('VALUE_OFF'); ?></option>
            </select>
            </div>
         </td>
        <td></td>
      </tr>
      <?php } ?>
</table>

<?php if(strcmp("$second_regul","True")==0) { ?>
<div id="second_regul_param<?php echo $i; ?>" <?php if(strcmp($plug_type{$i},"lamp")==0) echo 'style="display:none"'; ?>>
<table class="table_width">
<tr>
      <td class="plug-regul"></td>
      <td class="regul"><div id="label_regul_senso<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},'False')==0) { echo "display:none"; } ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_SENSO'); ?>:</div></td>
         <td><div id="div_regul_senso<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><div id="unknown_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"other")!=0)&&(strcmp($plug_type{$i},"lamp")!=0)) { echo "display:none"; } ?>">
<select name="plug_senso<?php echo $i; ?>" onChange="getUnity(this.selectedIndex, <?php echo $i; ?>);" onLoad="getUnity(this.selectedIndex,<?php echo $i; ?>);">
           <?php 
                if(strcmp($plug_senso{$i},"H")==0) {
                     echo "<option value='T'>".__('REGUL_TEMP')."</option>";
                     echo "<option value='H' selected>".__('REGUL_HUMI')."</option>";
                  } else {
                     echo "<option value='T' selected>".__('REGUL_TEMP')."</option>";
                     echo "<option value='H'>".__('REGUL_HUMI')."</option>";
                  }
           ?>
    </select></div>
         <div id="humi_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"ventilator")!=0)&&(strcmp($plug_type{$i},"heating")!=0)) { echo "display:none"; } ?>">
               <label class="readonly"><?php echo __('REGUL_HUMI'); ?></label>
         </div>

          <div id="temp_regul_senso<?php echo $i; ?>" style="<?php if((strcmp($plug_type{$i},"humidifier")!=0)&&(strcmp($plug_type{$i},"dehumidifier")!=0)) { echo "display:none"; } ?>">
               <label class="readonly"><?php echo __('REGUL_TEMP'); ?></label>
         </div>
   </div>
   </td>
    <td></td>
</tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_senss<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_SENSS'); ?>:</div></td>
      <td><div id="div_regul_senss<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><select name="plug_senss<?php echo $i; ?>">
           <?php if(strcmp($plug_senss{$i},"-")==0) {
                     echo "<option value='+'>".__('REGUL_ABOVE')."</option>";
                     echo "<option value='-' selected>".__('REGUL_UNDER')."</option>";
                  } else {
                     echo "<option value='+' selected>".__('REGUL_ABOVE')."</option>";
                     echo "<option value='-'>".__('REGUL_UNDER')."</option>";
                  }
           ?>
     </select></div>

      </td>
      <td></td>
   </tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_VALUE'); ?>:</div></td>
      <td><div id="div_regul_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo $plug_regul_value{$i}; ?>" name="plug_regul_value<?php echo $i; ?>" onKeypress="return verifDigit(event);"><label id="label_degree<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"H")==0) echo "display:none"; ?>">°C</label><label id="label_pourcent<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"T")==0) echo "display:none"; ?>">%</label></div></td>
    <td><?php if((isset($error[$i]['regul_value']))&&(!empty($error[$i]['regul_value']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error[$i]['regul_value']."</div>"; ?></td>
   </tr>
   <tr>
      <td></td>
      <td class="regul"><div id="label_regul_tolerance<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><img src="main/libs/img/arrow.png" alt="" /><?php echo __('CONFIGURE_REGUL_TOLERANCE'); ?>:</div></td>
      <td><div id="div_regul_tolerance_value<?php echo $i; ?>" style="<?php if(strcmp($plug_regul{$i},"False")==0) echo "display:none"; ?>"><input type="text" size="5" maxlength="4" value="<?php echo $plug_second_tolerance{$i}; ?>" name="plug_second_tolerance<?php echo $i; ?>" onKeypress="return verifDigit(event);"><label id="label_second_degree<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"H")==0) echo "display:none"; ?>">°C</label><label id="label_second_pourcent<?php echo $i; ?>" style="<?php if(strcmp($plug_senso{$i},"T")==0) echo "display:none"; ?>">%</label></div></td>
    <td><?php if((isset($error[$i]['second_tolerance_value']))&&(!empty($error[$i]['second_tolerance_value']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error[$i]['second_tolerance_value']."</div>"; ?></td>
   </tr>

   </table>
</div>
<?php } ?>


</div>
<table class="table_width">
    <tr>
        <td class="plug-marge-jumpto"></td>
        <td><input type="hidden" name="reccord" value="<?php echo __('VALIDATION_PLUG_CONF'); ?>"><div id="button_program<?php echo $i;?>" style="<?php if(strcmp($plugs_infos[$i-1]['PLUG_ENABLED'],'False')==0) echo 'display:none'; ?>"><button class="jumpto" name="jumpto<?php echo $i; ?>"  onclick='addHidden(document.forms["plugForm"], "<?php echo $i; ?>"); document.forms["plugForm"].submit();'><?php echo __('SAVE_AND_CONFIGURE_PROGRAM').": $i"; ?></button></div></td>
    </tr>
</table>


<div id="format_style<?php echo $i; ?>" style="display:none"><br /><hr /><br /></div>
</div>

   <?php } ?>

<br /><br />
<input type="hidden" name="submit_plugs" id="submit_plugs" value="submit_plugs">
<table class="table_width">
      <tr>
         <td></td>
         <td class="program-valid-right"><input type="submit" name="reccord" value="<?php echo __('VALIDATION_PLUG_CONF'); ?>"></td>
         <td></td>
      </tr>
   </table>
</form>
