<div id="tooltip_msg_box" style="display:none"><img src='/cultibox/main/libs/img/eye.png' alt='' title="<?php echo __('SHOW_MESSAGE'); ?>" id="eyes_msgbox"></div>

<label id="anchor-programs"></label>

<br />
<p class="title_conf"><?php echo __('VIEW_CURRENT_PROGRAM'); ?>
<select name="selected_plug" id="selected_plug_conf">
    <?php for($i=0;$i<count($plugs_infos);$i++) { ?>
                <?php if(strcmp($plugs_infos[$i]['PLUG_ENABLED'],"False")==0) { ?>
                    <option disabled value="<?php echo $plugs_infos[$i]['id']; ?>"  <?php if(strcmp($selected_plug,$plugs_infos[$i]['id'])==0) { echo 'selected';} ?> ><?php echo $plugs_infos[$i]['id']." - ".$plugs_infos[$i]['PLUG_NAME']." (".__('PLUG_DISABLED').")"; ?></option>
                <?php } else { ?>
                    <option value="<?php echo $plugs_infos[$i]['id']; ?>"  <?php if(strcmp($selected_plug,$plugs_infos[$i]['id'])==0) { echo 'selected';} ?> ><?php echo $plugs_infos[$i]['id']." - ".$plugs_infos[$i]['PLUG_NAME']; ?></option>
                <?php } ?>
    <?php } ?>
    </select>
</p>
<table class="table_width">
<tr>
    <td class="program-div-margin"></td><td class="program-div"><div id="plug" style="width: 100%; height: 350px; margin: 0 auto"></div></td><td></td>
</tr>
<tr>
    <td></td><td></td><td><img src="main/libs/img/resume.png" alt="" id="resume_img" title="<?php echo $resume[$selected_plug]; ?>" /></td>
</tr>
<tr>
    <td></td>
    <td><p class="p_center"><button id="resetXzoom" name="buttonX" style="display:none"><?php echo __('RESET_ZOOM_TITLE'); ?></button> <button id="resetzoom" name="button" style="display:none"><?php echo __('RESET_ZOOM_TITLE'); ?></button></p>
    </td>
    <td></td>
</tr>
</table>
<br /><hr /><br />

<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" name="actionprog" id="actionprog">
<p class="title_conf"><?php echo __('CONFIGURE_PROGRAM'); ?>
    <select name="selected_plug" id="selected_plug">
          <?php for($i=0;$i<count($plugs_infos);$i++) { ?>
                <?php if(strcmp($plugs_infos[$i]['PLUG_ENABLED'],"False")==0) { ?>
                    <option disabled value="<?php echo $plugs_infos[$i]['id']; ?>"  <?php if(strcmp($selected_plug,$plugs_infos[$i]['id'])==0) { echo 'selected';} ?> ><?php echo $plugs_infos[$i]['id']." - ".$plugs_infos[$i]['PLUG_NAME']." (".__('PLUG_DISABLED').")"; ?></option>
                <?php } else { ?>
                    <option value="<?php echo $plugs_infos[$i]['id']; ?>"  <?php if(strcmp($selected_plug,$plugs_infos[$i]['id'])==0) { echo 'selected';} ?> ><?php echo $plugs_infos[$i]['id']." - ".$plugs_infos[$i]['PLUG_NAME']; ?></option>
                <?php } ?>
    <?php } ?>

    </select>
</p>



<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: true,
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."',"; ?>
});
$('#end_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#repeat_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});

$('#cyclic_duration').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});

$('#start_time_cyclic').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});

$('#end_time_cyclic').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
showSecond: true,
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>

<script type="text/javascript">
plugs_infoJS = <?php echo json_encode($plugs_infos) ?>;
highchart_plug=<?php echo $selected_plug; ?>;
resume_plugs=<?php echo json_encode($resume) ?>;
resume_regul=<?php echo json_encode($resume_regul) ?>;
start=<?php echo json_encode($start) ?>;
end=<?php echo json_encode($end) ?>;
plug_selected=<?php echo json_encode($selected_plug) ?>;
rep=<?php echo json_encode($rep) ?>;
error_valueJS=<?php echo json_encode($error_value) ?>;
title_msgbox=<?php echo json_encode(__('TOOLTIP_MSGBOX_EYES')); ?>;
</script>

<?php if((isset($pop_up))&&("$pop_up"!="False")) { ?>
    <?php if((isset($anchor))&&(!empty($anchor))) { ?>
        <script>anchor = <?php echo json_encode($anchor) ?>;</script>
    <?php } ?>
<?php  } else { ?>
    <?php if((isset($anchor))&&(!empty($anchor))) { ?>
        <script>
            $(document).ready(function(){
                $.scrollTo('#<?php echo $anchor; ?>',300); 
            });
        </script>
    <?php } ?>
<?php } ?>

<script type="text/javascript">

Highcharts.setOptions({
lang: {
<?php echo "resetZoom : '".__('RESET_ZOOM_TITLE','highchart')."',"; ?>
<?php echo "resetZoomTitle : '".__('RESET_ZOOM_TITLE','highchart')."'"; ?>
}
});

var enabled = false;
var showzoomX=false;
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         backgroundColor: '#F7F7F9',
         borderWidth: 3,
         borderColor: '#959891',
         borderRadius: 20,
         spacingRight: 35,
         renderTo: 'plug',
         type: 'spline',
         zoomType: 'x'
      },
      title: {
        useHTML: true,
        text: <?php echo "'".__('CURRENT_PLUG_PROGRAM').": '"; ?>,
        margin: 40
      },
       subtitle: {
             useHTML: true,
             text: document.ontouchstart === undefined ?
               <?php echo "'".__('DRAG_PLOT')."'"; ?>:
               <?php echo "'".__('DRAG_PLOT')."'"; ?>
      },
      lang: {
         useHTML: true,
         printChart: <?php echo "'".__('PRINT_HIGHCHART')."',"; ?>
         exportButtonTitle: <?php echo "'".__('EXPORT_HIGHCHART')."',"; ?>
         downloadPNG : <?php echo "'".__('EXPORT_PNG')."',"; ?>
         downloadJPEG : <?php echo "'".__('EXPORT_JPEG')."',"; ?>
         downloadPDF : <?php echo "'".__('EXPORT_PDF')."',"; ?>
         downloadSVG : <?php echo "'".__('EXPORT_SVG')."',"; ?>
         resetZoom : <?php echo "'".__('RESET_ZOOM_TITLE')."',"; ?>
         resetZoomTitle : <?php echo "'".__('RESET_ZOOM_TITLE')."'"; ?>,
         contextButtonTitle: <?php echo "'".__('CONTEXT_MENU')."'"; ?>
      },
      legend: {
            layout: 'vertical',
            verticalAlign: 'bottom',
            align: 'right',
            y: -<?php echo ($GLOBALS['NB_MAX_PLUG']-count($active_plugs))*16; ?>,
            x: +25,
            maxHeight: 200,
            navigation: {
                activeColor: '#3E576F',
                animation: true,
                arrowSize: 10,
                inactiveColor: '#CCC',
                style: {
                    fontWeight: 'bold',
                    color: '#333',
                    fontSize: '10px'    
                }
            }
         },
        xAxis: {
         type: 'datetime',
         endOnTick: true,
         showFirstLabel: false,
         showLastLabel: true,
         dateTimeLabelFormats: { // don't display the dummy year
            hours: '%H',
            minutes: '%M',
            seconds: '%S'
         },
         min: 0,
         max: 86399999,
         tickInterval: 6 * 3600 * 1000,
         labels: {
            formatter: function () {
                var tmp=Highcharts.dateFormat('%H:%M', this.value);
                if(tmp=="00:00") return "24:00";
                return tmp;
            }
         },
         events: {
                afterSetExtremes: function(event){
                    $('#resetXzoom').show();
                    showzoomX=true;
                    if(chart.resetZoomButton) {
                            chart.resetZoomButton.hide();
                    }
            }
        }
      },
      yAxis: {
            min: -1,
            max: 100,
            startOnTick: false,
            endOnTick: false,
            labels: {
                     useHTML: true,
                     formatter: function() {
    if((this.value>=0)&&(this.value<=100)) {      
               <?php if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"other")==0)) { ?>
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
               if(this.value==100) return '<?php echo __("VALUE_ON"); ?>';
<?php } else if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"ventilator")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"heating")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+'°C';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
<?php } else if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"pump")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+' cm';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
<?php } else if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"dehumidifier")==0)) { ?>
               if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
               if(this.value>0) return this.value+'%';
               if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';

<?php } else { ?>
               return this.value;

<?php } ?>
            }
                     }
              },
         title: false
      },
      plotOptions: {
            series: {
                events: {
                    legendItemClick: function(event) {
                            if(this.index==$('#selected_plug').val()-1) {
                                return false;
                            }
                    }
                },
                marker : {
                    lineWidth : 2,
                    radius : 6,
                    symbol : 'circle'
                },
                dataLabels: {
                    enabled: false,
                    borderRadius: 5,
                    backgroundColor: 'rgba(252, 255, 197, 0.7)',
                    borderWidth: 1,
                    borderColor: '#AAA',
                    y: -8,
                    x: +20,
                    useHTML: true,
                    formatter: function(){ 
                        if (this.visible) {                      
                            if(this.y=="99.9") { return "<?php echo __('CHART_FORCE_ON_VALUE'); ?>"; }
                            else if(this.y=="0") { return "<?php echo __('VALUE_OFF'); ?>"; }
                            else { 
                                var unity="";
                                if((plugs_infoJS[this.series.index]["PLUG_TYPE"]=="heating")||(plugs_infoJS[this.series.index]["PLUG_TYPE"]=="ventilator")) {
                                    unity="°C";
                                } else if((plugs_infoJS[this.series.index]["PLUG_TYPE"]=="humidifier")||(plugs_infoJS[this.series.index]["PLUG_TYPE"]=="dehumidifier")) {
                                    unity="%";
                                } else if((plugs_infoJS[this.series.index]["PLUG_TYPE"]=="pump")) {
                                    unity=" cm"; 
                                }
                                return "<?php echo __('VALUE_REGUL'); ?>: "+this.y+unity;
                            }
                        }
                    }
                }
            }
      },
      credits: {
                   enabled: false
      },
      tooltip: {
         useHTML: true,
         formatter: function() {
            if(this.y == 99.9) {
                return "<p align='left'><b><?php echo __('XAXIS_LEGEND_DAY'); ?>:  </b>"+Highcharts.dateFormat('%H:%M:%S', this.x) +"</p><p align='left'><b><?php echo __('BEHAVIOUR'); ?>: </b><?php echo __("CHART_FORCE_ON_VALUE"); ?></p>";
            } else if(this.y == 0) {
                return "<p align='left'><b><?php echo __('XAXIS_LEGEND_DAY'); ?>:  </b>"+Highcharts.dateFormat('%H:%M:%S', this.x) +"<br /><p align='left'><b><?php echo __('BEHAVIOUR'); ?>: </b><?php echo __("VALUE_OFF"); ?></p>";
            } else { 
                var unity="";
                if((plugs_infoJS[this.series.index]["PLUG_TYPE"]=="heating")||(plugs_infoJS[this.series.index]["PLUG_TYPE"]=="ventilator")) {
                    unity="°C";
                } else if((plugs_infoJS[this.series.index]["PLUG_TYPE"]=="humidifier")||(plugs_infoJS[this.series.index]["PLUG_TYPE"]=="dehumidifier")) {
                    unity="%";
                } else if((plugs_infoJS[this.series.index]["PLUG_TYPE"]=="pump")) {
                    unity=" cm";
                }
                return "<p align='left'><b><?php echo __('XAXIS_LEGEND_DAY'); ?>:  </b>"+Highcharts.dateFormat('%H:%M:%S', this.x) +"</p><p align='left'><b><?php echo __('BEHAVIOUR'); ?>: </b>"+this.y+unity+" (<?php echo __('REGULATION'); ?>)</p>";
            } 
         }
      },
      series: [
            <?php 
            $count=0;
            foreach($plugs_infos as $plugs) {  
            ?>

        {
         <?php if($plugs['id']==$selected_plug) { ?>
            name: <?php echo "'<b>".clean_highchart_message($plugs_infos[$plugs['id']-1]['PLUG_NAME'])." (".clean_highchart_message($plugs_infos[$plugs['id']-1]['translate']).")</b>',"; ?>
         <?php } else { ?>
            name: <?php echo "'".clean_highchart_message($plugs_infos[$plugs['id']-1]['PLUG_NAME'])." (".clean_highchart_message($plugs_infos[$plugs['id']-1]['translate']).")',"; ?>
         <?php } ?>
         color: <?php echo "'".$GLOBALS['LIST_GRAPHIC_COLOR_PROGRAM'][$plugs['id']-1]."'"; ?>,
         showCheckbox: false,
         
         <?php if($plugs['id']!=$selected_plug) { echo "visible: false,"; } else { echo "selected: true,"; } ?>
         data: [
            <?php echo $plugs_infos[$plugs['id']-1]["data"]; ?>
         ]
         ,events: {
                    checkboxClick: function(event) {
                        var series = chart.series[<?php echo $count; ?>];
                        if (series.visible) {
                            series.hide();
                        } else {
                            series.show();
                        }
                    }
               }
        <?php if(strcmp($plugs['PLUG_ENABLED'],"False")==0) echo ",showInLegend: false"; ?>
      }
     <?php 
     $count=$count+1;
     if($count!=count($plugs_infos)) echo ","; 
    } ?>
] 
   });

    $('#selected_plug').change(function() {
        $("#error_value_program").css("display","none");
        $.each( chart.series, function() {
            if(this.index==$('#selected_plug').val()-1) {
                chart.series[$('#selected_plug').val()-1].show();
                chart.series[$('#selected_plug').val()-1].select(); 
                chart.series[$('#selected_plug').val()-1].name = "<b>"+clean_highchart_message(plugs_infoJS[$('#selected_plug').val()-1]['PLUG_NAME'])+" ("+clean_highchart_message(plugs_infoJS[$('#selected_plug').val()-1]['translate'])+")</b>";
                chart.series[$('#selected_plug').val()-1].legendItem = chart.series[$('#selected_plug').val()-1].legendItem.destroy();
                tmp_highchart_plug=this.index;

                $("#reset_selected_plug").val($('#selected_plug').val());
                $("#export_selected_plug").val($('#selected_plug').val());
                $("#import_selected_plug").val($('#selected_plug').val());
                $("#submenu").val($('#selected_plug').val());
                $("#resume_img").prop('tooltipText', resume_plugs[$('#selected_plug').val()]);
            } else if(this.index==highchart_plug-1) {
                chart.series[this.index].name = clean_highchart_message(plugs_infoJS[this.index]['PLUG_NAME'])+" ("+clean_highchart_message(plugs_infoJS[this.index]['translate'])+")";
                chart.series[this.index].legendItem = chart.series[this.index].legendItem.destroy();
                chart.series[this.index].select(false);
                chart.series[this.index].hide();
            } else {
                chart.series[this.index].select(false);
                chart.series[this.index].hide();
            }
        });

        chart.yAxis[0].update({
            labels: {
                     useHTML: true,
                     formatter: function() {
                        if((this.value>=0)&&(this.value<=100)) {      
                            if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="lamp")||(plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="other")) {
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                                if(this.value==100) return '<?php echo __("VALUE_ON"); ?>';
                            } else if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="ventilator")||(plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="heating")) { 
                                if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
                                if(this.value>0) return this.value+'°C';
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                            } else if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="pump")) { 
                                if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
                                if(this.value>0) return this.value+' cm';
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                            } else if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="humidifier")||(plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="dehumidifier")) { 
                                if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
                                if(this.value>0) return this.value+'%';
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                            } else { 
                                return this.value;
                            }
                        }
                  }
           }
        });

        if((plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']=="other")||(plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']=="lamp")) {
            if($('#regul_program option[value="regul"]').length!=0) {
                $("#regul_program option[value='regul']").remove();
            }
        } else {
            if($('#regul_program option[value="regul"]').length==0) {
                $("#regul_program").append('<option value="regul"><?php echo __('VALUE_REGUL'); ?></option>');
            }
        }

        var regul="";
        if($('#regprog').is(':checked')) {
            regul="regul";
        } else {
            regul="on";
        }
            
        switch(plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']) { 
            case 'other': getRegulation("on",plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']); 
                          if($('#regprog').is(':checked')) {
                           $('#regoff').attr('checked', true); 
                          }  
                          $('#regul_div').hide();
                          break;
            case 'lamp': getRegulation("on",plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']); 
                         $('#regul_div').hide(); 
                         if($('#regprog').is(':checked')) {
                           $('#regoff').attr('checked', true); 
                         }  
                         $('#regul_div').hide(); 
                         break;
            default: getRegulation(regul,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']); $('#regul_div').show(); break;
        }


        if(plugs_infoJS[$('#selected_plug').val()-1]['PLUG_POWER_MAX']<10) {
            $("#dimmer_div").show();
        } else {
            $("#dimmer_div").css("display", "none");
        }


        if(plugs_infoJS[$('#selected_plug').val()-1]['PLUG_REGUL']=="False") {
            $("#second_regul_plug").html("<?php echo __('SECOND_REGUL_OFF'); ?>");
            $("#second_regul_info").css("display", "none");
        } else {
            $("#second_regul_plug").html("<?php echo __('SECOND_REGUL_ON'); ?>");
            $("#second_regul_img").attr("title", resume_regul[$('#selected_plug').val()-1]);
            $("#second_regul_info").css("display", "");
        }

        $("#resume_img").prop('title', resume_plugs[$('#selected_plug').val()]);
        highchart_plug=tmp_highchart_plug+1;
        chart.isDirtyLegend = true;
        chart.redraw(); 

        $("#jumpplug input[name=selected_plug]").val($('#selected_plug').val());
        $('#selected_plug_conf').val($('#selected_plug').val());
    });

       $('#resetXzoom').click(function() {
        if(showzoomX) {
            chart.xAxis[0].setExtremes(null, null,true, true); 
            $('#resetXzoom').hide();
            showzoomX=false;
        }

    });


     /*   $('#datalabel').click(function() {
        if (!$(this).is(':checked')) {
            chart.xAxis[0].isDirty = true;
            chart.redraw();
        } else {
                chart.xAxis[0].isDirty = false;
                chart.redraw();
        }
     });
        */


    $('#selected_plug_conf').change(function() {
        $("#error_value_program").css("display","none");
        $.each( chart.series, function() {
            if(this.index==$('#selected_plug_conf').val()-1) {
                chart.series[$('#selected_plug_conf').val()-1].show();
                chart.series[$('#selected_plug_conf').val()-1].select(); 
                chart.series[$('#selected_plug_conf').val()-1].name = "<b>"+clean_highchart_message(plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_NAME'])+" ("+clean_highchart_message(plugs_infoJS[$('#selected_plug_conf').val()-1]['translate'])+")</b>";
                chart.series[$('#selected_plug_conf').val()-1].legendItem = chart.series[$('#selected_plug_conf').val()-1].legendItem.destroy();
                tmp_highchart_plug=this.index;
               
                //Sur le changement de prise selectionnée, on change les listes du reset, import et export: 
                $("#reset_selected_plug").val($('#selected_plug_conf').val());
                $("#export_selected_plug").val($('#selected_plug_conf').val());
                $("#import_selected_plug").val($('#selected_plug_conf').val());
                $("#submenu").val($('#selected_plug').val());

                $("#resume_img").prop('tooltipText', resume_plugs[$('#selected_plug_conf').val()]);
            } else if(this.index==highchart_plug-1) {
                chart.series[this.index].name = clean_highchart_message(plugs_infoJS[this.index]['PLUG_NAME'])+" ("+clean_highchart_message(plugs_infoJS[this.index]['translate'])+")";
                chart.series[this.index].legendItem = chart.series[this.index].legendItem.destroy();
                chart.series[this.index].select(false);
                chart.series[this.index].hide();
            } else {
                chart.series[this.index].select(false);
                chart.series[this.index].hide();
            }
        });

        chart.yAxis[0].update({
            labels: {
                     useHTML: true,
                     formatter: function() {
                        if((this.value>=0)&&(this.value<=100)) {      
                            if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="lamp")||(plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="other")) {
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                                if(this.value==100) return '<?php echo __("VALUE_ON"); ?>';
                            } else if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="ventilator")||(plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="heating")) { 
                                if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
                                if(this.value>0) return this.value+'°C';
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                            } else if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="pump")) { 
                                if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
                                if(this.value>0) return this.value+' cm';
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                            } else if((plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="humidifier")||(plugs_infoJS[tmp_highchart_plug]["PLUG_TYPE"]=="dehumidifier")) { 
                                if(this.value==100) return '<?php echo __("CHART_FORCE_ON_VALUE"); ?>';
                                if(this.value>0) return this.value+'%';
                                if(this.value==0) return '<?php echo __("VALUE_OFF"); ?>';
                            } else { 
                                return this.value;
                            }
                        }
                  }
           }
        });

        if((plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_TYPE']=="other")||(plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_TYPE']=="lamp")) {
            if($('#regul_program option[value="regul"]').length!=0) {
                $("#regul_program option[value='regul']").remove();
            }
        } else {
            if($('#regul_program option[value="regul"]').length==0) {
                $("#regul_program").append('<option value="regul"><?php echo __('VALUE_REGUL'); ?></option>');
            }
        }

        var regul="";
        if($('#regprog').is(':checked')) {
            regul="regul";
        } else {
            regul="on";
        }
            
        switch(plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_TYPE']) { 
            case 'other': getRegulation("on",plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_TYPE']); 
                          if($('#regprog').is(':checked')) {
                           $('#regoff').attr('checked', true); 
                          }  
                          $('#regul_div').hide();
                          break;
            case 'lamp': getRegulation("on",plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_TYPE']); 
                         $('#regul_div').hide(); 
                         if($('#regprog').is(':checked')) {
                           $('#regoff').attr('checked', true); 
                         }  
                         $('#regul_div').hide(); 
                         break;
            default: getRegulation(regul,plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_TYPE']); $('#regul_div').show(); break;
        }

         if(plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_POWER_MAX']<10) {
            $("#dimmer_div").show();
        } else {
            $("#dimmer_div").css("display", "none");
        }


        if(plugs_infoJS[$('#selected_plug_conf').val()-1]['PLUG_REGUL']=="False") {
            $("#second_regul_plug").html("<?php echo __('SECOND_REGUL_OFF'); ?>");
            $("#second_regul_info").css("display", "none");
        } else {
            $("#second_regul_plug").html("<?php echo __('SECOND_REGUL_ON'); ?>");
            $("#second_regul_img").attr("title", resume_regul[$('#selected_plug_conf').val()-1]);
            $("#second_regul_info").css("display", "");
        }

        $("#resume_img").prop('title', resume_plugs[$('#selected_plug_conf').val()]);
        highchart_plug=tmp_highchart_plug+1;
        chart.isDirtyLegend = true;
        chart.redraw(); 

        $("#jumpplug input[name=selected_plug]").val($('#selected_plug_conf').val());
        $('#selected_plug').val($('#selected_plug_conf').val());
    });

       $('#resetXzoom').click(function() {
        if(showzoomX) {
            chart.xAxis[0].setExtremes(null, null,true, true); 
            $('#resetXzoom').hide();
            showzoomX=false;
        }

    });

});

</script>

<table class="table_width">
<tr>
   <td class="program-marge"></td>
   <td class="program-td-title"><?php echo __('PROGRAM_NEW_ACTION'); ?>:</td>
   <td class="program-field"><input type="radio" id="ponctual" name="ponctual" value="<?php echo __('PROGRAM_PONCTUAL'); ?>"  onclick="getProgramType('ponctual')" <?php if(empty($cyclic)) echo "checked"; ?> ><?php echo __('PROGRAM_PONCTUAL'); ?><input type="radio" name="cyclic" id="cyclic" value="<?php echo __('PROGRAM_CYCLIC'); ?>" onclick="getProgramType('cyclic')" <?php if(!empty($cyclic)) echo "checked"; ?>><?php echo __('PROGRAM_CYCLIC'); ?></td>
    <td></td>
</tr>
<tr>
   <td></td>
   <td><div id="start_time_program_title" style="<?php if((!isset($cyclic))||(empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('START_TIME_PROGRAM'); ?>:</div></td>
   <td><div id="start_time_program_field" style="<?php if((!isset($cyclic))||(empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="start_time" id="start_time" <?php if(!empty($start_time)) { ?> value="<?php echo $start_time;?>" <?php } else { ?> value="00:00:00" <?php } ?> onKeypress="return verifTime(event);" maxlength="8" /></div></td>
   <td><div id="error_start_time" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_TIME_START'); ?></div><div id="error_same_start" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_SAME_TIME'); ?></div></td>
</tr>
<tr>
   <td></td>
   <td><div id="duration_cyclic" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('CYCLIC_DURATION_TIME'); ?>:</div></td>
   <td><div id="duration_cyclic_field" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="cyclic_duration" id="cyclic_duration" <?php if(!empty($cyclic_duration)) { ?> value="<?php echo $cyclic_duration;?>" <?php } else { ?> value="02:00:00" <?php } ?> onKeypress="return verifTime(event);" maxlength="8" /></div></td>
   <td><div id="error_cyclic_duration" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_TIME_DURATION'); ?></div></td>
</tr>
<tr>
    <td></td>
    <td><div id="end_time_program_title" style="<?php if((!isset($cyclic))||(empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('END_TIME_PROGRAM'); ?>:</div></td>
    <td><div id="end_time_program_field" style="<?php if((!isset($cyclic))||(empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="end_time" id="end_time" <?php if(!empty($end_time)) { ?>value="<?php echo $end_time;?>" <?php } else { ?>value="00:00:00" <?php } ?> onKeypress="return verifTime(event);" maxlength="8"/></div></td>
    <td><div id="error_end_time" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_TIME_END'); ?></div><div id="error_same_end" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_SAME_TIME'); ?></div></td>
</tr>

<tr>
    <td></td>
    <td><div id="time_cyclic" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('REPEAT_EVERY'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_REPEAT_VALUE'); ?>" /></div></td>
    <td> <div id="time_cyclic_field" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="repeat_time" id="repeat_time" <?php if(!empty($repeat_time)) { ?>value="<?php echo $repeat_time;?>" <?php } else { ?>value="03:00:00" <?php } ?> onKeypress="return verifTime(event);" maxlength="8" /></div> </td>
    <td><div id="error_cyclic_time" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_TIME'); ?></div><div id="error_minimal_cyclic" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_MINIMAL_TIME'); ?></div></td>
</tr>
<tr>
   <td></td>
   <td><div id="start_time_cyclic_title" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('START_TIME_PROGRAM'); ?>:</div></td>
   <td><div id="start_time_cyclic_field" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="start_time_cyclic" id="start_time_cyclic" <?php if(!empty($start_time_cyclic)) { ?> value="<?php echo $start_time_cyclic;?>" <?php } else { ?> value="00:00:00" <?php } ?> onKeypress="return verifTime(event);" maxlength="8" /></div></td>
   <td><div id="error_start_time_cyclic" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_TIME_START'); ?></div></td>
</tr>
<tr>
   <td></td>
   <td><div id="end_time_cyclic_title" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><?php echo __('END_TIME_PROGRAM'); ?>:</div></td>
   <td><div id="end_time_cyclic_field" style="<?php if((isset($cyclic))&&(!empty($cyclic))) {  echo ''; } else { echo 'display:none'; } ?>"><input type="text" size="10" name="end_time_cyclic" id="end_time_cyclic" <?php if(!empty($end_time_cyclic)) { ?> value="<?php echo $end_time_cyclic;?>" <?php } else { ?> value="23:59:59" <?php } ?> onKeypress="return verifTime(event);" maxlength="8" /></div></td>
   <td><div id="error_end_time_cyclic" class="error_field" style="display:none"><img src='/cultibox/main/libs/img/arrow_error.png' alt=''><?php echo __('ERROR_FORMAT_TIME_END'); ?></div></td>
</tr>
<tr>
     <td></td>
     <td><?php echo __('VALUE_ON_OFF'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_VALUE_PROGRAM'); ?>" /></td>
     <td><table><tr>
            <td>
            <input type="radio" name="regul_program" id="regon" value="on" <?php if(strcmp("$regul_program","on")==0) { ?>checked<?php } ?> onClick="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);" onLoad="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);"><?php echo __('VALUE_ON'); ?> 
            </td>
            <td>
            <input type="radio" name="regul_program" id="regoff" value="off" <?php if(strcmp("$regul_program","off")==0) { ?>checked<?php } ?> onClick="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);" onLoad="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);"><?php echo __('VALUE_OFF'); ?>
            </td>
            <td>
                <?php if((strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"lamp")==0)||(strcmp($plugs_infos[$selected_plug-1]["PLUG_TYPE"],"other")==0)) { ?>
                    <div id="regul_div" style="display:none"><input type="radio" name="regul_program" id="regprog" value="regul" <?php if(strcmp("$regul_program","regul")==0) { ?>checked<?php } ?> onClick="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);" onLoad="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);"><?php echo __('VALUE_REGUL'); ?></div>
                <?php } else { ?>
                    <div id="regul_div" style=""><input type="radio" name="regul_program" id="regprog" value="regul" <?php if(strcmp("$regul_program","regul")==0) { ?>checked<?php } ?> onClick="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);" onLoad="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);"><?php echo __('VALUE_REGUL'); ?></div>
                <?php } ?>
            </td>
            <td>
                <!-- Dimmer plug: --> 
                <div id="dimmer_div" style="<?php if($plugs_infos[$selected_plug-1]["PLUG_POWER_MAX"]>10) echo "display:none"; ?>"><input type="radio" name="regul_program" id="regdim" value="dimmer" <?php if(strcmp("$regul_program","dimmer")==0) { ?>checked<?php } ?> onClick="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);" onLoad="getRegulation(this.value,plugs_infoJS[$('#selected_plug').val()-1]['PLUG_TYPE']);" ><?php echo __('VALUE_DIMMER'); ?></div>  
            </td>
            </tr>
            </table>

    </td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td><div id="regul_label" style="<?php if(strcmp("$regul_program","regul")!=0) echo "display:none"; ?>">
            <label id="regul_label_temp"  style="<?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"ventilator")==0)) { echo ''; } else { echo 'display:none'; } ?>"> 
                <?php echo __('TEMP_WISHED').":"; ?>
            </label>

            <label id="regul_label_water"  style="<?php if(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"pump")==0) { echo ''; } else { echo 'display:none'; } ?>">
                <?php echo __('WATER_WISHED').":"; ?>
            </label>
            
            <label id="regul_label_humi" style="<?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"dehumidifier")==0)) { echo ''; } else { echo 'display:none'; } ?>">
                <?php echo __('HUMI_WISHED').":"; ?>
            </label><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_VALUE'); ?>" />
            </div>
         <div id="dimmer_label" style="<?php if(strcmp("$regul_program","dimmer")!=0) echo "display:none"; ?>">
            <label>
                <?php echo __('DIMMER_WISHED').":"; ?>
            </label>
            <img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_DIMMER_VALUE'); ?>" /> 
        </div>
    </td>
    <td><div id="regul_value" style="<?php if(strcmp("$regul_program","regul")!=0) echo "display:none"; ?>">
                       <input type="text" id="value_program" name="value_program" size="4" maxlength="4" onKeypress="return verifNumber(event);" 
                       <?php if(!empty($value_program)) { 
                               ?> value="<?php echo $value_program;?>" <?php 
                        } else { 
                              if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"ventilator")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"pump")==0))  { 
                                      echo 'value="22"'; 
                               } elseif((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"dehumidifier")==0)) { 
                                      echo 'value="55"'; 
                              } 
                        } ?> />
    
                    <label id="regul_value_temp" style="<?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"heating")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"ventilator")==0)) { echo ''; } else { echo 'display:none'; } ?>">°C
                    </label>

                    <label id="regul_value_water" style="<?php if(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"pump")==0) { echo ''; } else { echo 'display:none'; } ?>">cm
                    </label>

                    <label id="regul_value_humi" style="<?php if((strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"humidifier")==0)||(strcmp($plugs_infos[$selected_plug-1]['PLUG_TYPE'],"dehumidifier")==0)) { echo ''; } else { echo 'display:none'; } ?>">%
                    </label>
        </div>
    </td>
    <td><div id="error_value_program" class="error_field" style="display:none"></div></td>
</tr>
<?php if(strcmp("$second_regul","True")==0) { ?>
<tr>
    <td></td>
    <td><?php echo __('VALUE_REGUL_SECOND'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_REGUL_SECOND'); ?>" /></td>
    <td><label class="readonly" id="second_regul_plug"><?php if(strcmp($plugs_infos[$selected_plug-1]['PLUG_REGUL'],"False")==0) { echo __('SECOND_REGUL_OFF'); } else { echo __('SECOND_REGUL_ON'); ?></label><label id="second_regul_info" style=<?php if(strcmp($plugs_infos[$selected_plug-1]['PLUG_REGUL'],"False")==0) { echo "display:none"; } else { echo ""; } ?>><img id="second_regul_img" src="main/libs/img/infos.png" alt="" title="<?php echo $resume_regul[$selected_plug-1]; ?>" /><?php } ?></label></td>
    <td></td>
</tr>
<?php } ?>
<tr>
    <td></td>
    <td><?php echo __('RESET_OLD_PROGRAM'); ?>:<img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_RESET_OLD_PROGRAM'); ?>" /></td>
    <td><input type="checkbox" name="reset_old_program" value="Yes" /></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="apply" value="apply">
<table class="table_width">
<tr>
    <td></td>
    <td class="program-valid-right"><br /><input type="submit" class="delete" name="applyform" value="<?php echo __('APPLY_PROGRAM'); ?>" id="apply"></td>
    <td></td>
</tr>
</table>
<input type="hidden" name="submit_progs" value="submit_progs">
<input type="hidden" name="anchor" value="anchor-programs">
</form>
<div id="same_dialog_program" title="<?php echo __('CONFIRMATION'); ?>" style="display:none">
<p><?php echo __('CONFIRM_SAME_PROGRAM'); ?></p>
</div>
<table class="table_width">
<tr>
    <td class="program-marge-jumpto"></td>
    <td><form method="post" id="jumpplug" action="<?php echo "./plugs-".$_SESSION['SHORTLANG']; ?>" name="jumpplug"><input name="submenu" id="submenu" type="hidden" value="<?php echo $selected_plug; ?>"> <button class="jumpto" name="jump" onclick='document.forms["jumpplug"].submit();'><?php echo __('JUMPTO_PLUG'); ?></button></form></td>
</tr>
</table>

<br /><hr /><br />

<label id="anchor-manage"></label>
<label class="title_conf"><?php echo __('MANAGE_PROGRAM_INFOS'); ?></label>
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_ADD_PLUG'); ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_ADD_PLUG'); ?>" /></td>
    <td class="program-manage-field">
          <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
          <input type="hidden" name="add_plug" value="add_plug">
          <input type="submit" name="add" <?php if($nb_plugs>=$GLOBALS['NB_SELECTABLE_PLUG']) { ?> disabled value="<?php echo __('MAX_PLUG_REACHED'); ?>" class="inputDisable" <?php } else { ?>value="<?php echo __('ADD_PLUG'); ?>" <?php } ?>>
    </td>
    <td></td>
</tr>
</table>
</form>

<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_REMOVE_PLUG'); ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_REMOVE_PLUG'); ?>" /></td>
    <td class="program-manage-field">
          <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
          <input type="hidden" name="remove_plug" value="remove_plug">
          <input type="submit" name="remove" <?php if($nb_plugs<=$GLOBALS['NB_MIN_PLUG']) { ?> disabled value="<?php echo __('MIN_PLUG_REACHED'); ?>" class="inputDisable" <?php } else { ?>value="<?php echo __('REMOVE_PLUG'); ?>"<?php } ?>>
    </td>
    <td></td>
</tr>
</table>
</form>


<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" id="reset_program_form">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_RESET_PROGRAM'); ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_RESET_PROGRAM'); ?>" />
         <select name="reset_selected_plug" id="reset_selected_plug">
        <?php for($i=1;$i<=$nb_plugs;$i++) {
                if(strcmp($plugs_infos[$i-1]['PLUG_ENABLED'],"False")==0) { $enable="Disabled"; } else { $enable=""; } 
                if("$i"=="$reset_selected") {
                   echo "<option value=\"${i}\" selected>${i}</option>";
                } else {
                   if(strcmp("$enable","")==0) {
                    echo "<option value=\"${i}\">${i}</option>";
                   } else {
                    echo "<option disabled value=\"${i}\">${i} (".__('PLUG_DISABLED').")</option>";
                   }
                }
            } ?>
            <option value="all"><?php echo __('RESET_ALL_PROGRAM'); ?></option>
         </select>
    </td>
    <td class="program-manage-field">
                  <input type="hidden" name="selected_plug" value="<?php echo $selected_plug; ?>">
                  <input type="hidden" name="action_prog" value="action_prog">
                  <input type="hidden" name="reset" value="reset">
                  <input type="submit" class="delete" value="<?php echo __('RESET_PROGRAM'); ?>" name="reset_submit">
    </td>
    <td></td>
</tr>
</table>
<input type="hidden" name="submit_progs" value="submit_progs">
</form>

<div id="delete_dialog_program" title="<?php echo __('CONFIRMATION'); ?>" style="display:none">
<p><?php echo __('RESET_CONFIRM_PROGRAM'); ?></p>
</div>


<?php if($GLOBALS['MODULE_IMPORT_EXPORT']) { ?>
<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_EXPORT_PROGRAM'); ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_EXPORT_PROGRAM'); ?>" />
        <select name="export_selected_plug" id="export_selected_plug">
        <?php for($i=1;$i<=$nb_plugs;$i++) {
                if(strcmp($plugs_infos[$i-1]['PLUG_ENABLED'],"False")==0) { $enable="Disabled"; } else { $enable=""; } 
                if("$i"=="$export_selected") {
                   echo "<option value=\"${i}\" selected>${i}</option>";
                } else {
                   if(strcmp("$enable","")==0) {
                    echo "<option value=\"${i}\">${i}</option>";
                   } else {
                    echo "<option disabled value=\"${i}\">${i} (".__('PLUG_DISABLED').")</option>";
                   }
                }
            } ?>
        </select>
    </td>
    <td class="program-manage-field">
                        <input type="submit" value="<?php echo __('EXPORT_PROGRAM'); ?>" name="export">
                        <input type="hidden" name="selected_plug" id="selected_plug_export" value="<?php echo $selected_plug; ?>">
    </td>
    <td></td>
</tr>
</table>
<input type="hidden" name="anchor" value="anchor-manage">
</form>

<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post" enctype="multipart/form-data">
<table class="table_width">
<tr>
    <td class="program-manage-marge"></td>
    <td class="program-manage-title"><?php echo __('TITLE_IMPORT_PROGRAM'); ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_IMPORT_PROGRAM'); ?>" />
        <select name="import_selected_plug" id="import_selected_plug">
        <?php for($i=1;$i<=$nb_plugs;$i++) {
                if(strcmp($plugs_infos[$i-1]['PLUG_ENABLED'],"False")==0) { $enable="Disabled"; } else { $enable=""; } 
                if("$i"=="$export_selected") {
                   echo "<option value=\"${i}\" selected>${i}</option>";
                } else {
                   if(strcmp("$enable","")==0) {
                    echo "<option value=\"${i}\">${i}</option>";
                   } else {
                    echo "<option disabled value=\"${i}\">${i} (".__('PLUG_DISABLED').")</option>";
                   }
                }
            } ?>
        </select> 
    </td>
    <td class="program-manage-field">
                     <input type="file" name="upload_file">
                     <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
                     <input type="hidden" name="selected_plug" id="selected_plug_import" value="<?php echo $selected_plug; ?>">
    </td>
    <td><input type="submit" name="import" value="<?php echo __('IMPORT_PROGRAM'); ?>"></td>
</table>
<input type="hidden" name="submit_progs" value="submit_progs">
</form>
<?php } ?>

