<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message" style="display:none">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_message"); ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error" style="display:none">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_error_message"); ?>
       </div>
<?php } ?>

<?php if((((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)))||((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0))) { ?>
<div class="message" style="display:none" title="<?php echo __('MESSAGE_BOX'); ?>">
        <br />
        <?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<img src="main/libs/img/informations.png" alt="" /><label class="info_title"><?php echo __('INFORMATION'); ?>:</label>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
<br />
</div>
    <?php } ?>
    <?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<img src="main/libs/img/warning.png" alt="" /><label class="error_title"><?php echo __('WARNING'); ?>:</label>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
</div>
<?php } ?>

<script>
    nb_plugs=<?php echo(json_encode($nb_plugs)); ?>
    wifi_ip=<?php echo(json_encode($wifi_ip)); ?>
</script>

<br />
<p class="title_conf"><?php echo __('VIEW_PLUGS_STATE'); ?></p>
<br />

<table class="table_width">
<tr>
    <td class="wifi-plug-marge"></td>
    <td class="wifi-plug-field">
        <table  class="table_width">
            <tr>
<?php for($i=0;$i<count($plugs_infos);$i++) { ?>
        <?php if(($i%2==0)&&($i>0)) { ?>
            </tr><tr>
        <?php } ?>
            <td class="wifi-plug-title"><?php echo __('PLUG_NUMBER')." ".$plugs_infos[$i]['id']." (<b>".$plugs_infos[$i]['PLUG_NAME']."</b>):"; ?></td>
            <td class="wifi-plug-status">
                <div id="plug_state_on<?php echo $i+1;?>" style="display:none"><img src="main/libs/img/light_on.png" alt="<?php echo __('PLUG_ON'); ?>"  title="<?php echo __('PLUG_ON'); ?>" /></div>
                <div id="plug_state_off<?php echo $i+1;?>" style="display:none"><img src="main/libs/img/light_off.png" alt="<?php echo __('PLUG_OFF'); ?>"  title="<?php echo __('PLUG_OFF'); ?>" /></div>
                <div id="plug_state_unk<?php echo $i+1;?>"><img src="main/libs/img/light_unk.png" alt=""  title="<?php echo __('PLUG_UNKNOWN_STATE'); ?>" /></div>
            </td>
<?php } ?>
        </tr>
      </table>
    </td>
    <td class="wifi-plug-marge"></td>    
</tr>
</table>
<br />
<hr class="wifi-bar" />
<br /><br />

