<?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<div class="info">
<img src="main/libs/img/informations.png" alt=""><b><?php echo __("INFORMATIONS").":"; ?></b>
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<div class="error">
<img src="main/libs/img/warning.png" alt=""><b><?php echo __("ERROR_MESSAGE").":"; ?></b>
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
<?php } ?>
<br /><br />


<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: true,
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#end_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
showSecond: true,
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>


<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_message"); ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_error_message"); ?>
       </div>
<?php } ?>



<br />
<p class="title_conf"><?php echo __('WIZARD_INTRO'); ?></p>
<p class="wizard_subtitle"><?php echo __('WIZARD_CONFIGURE_PLUG_NUMBER'); ?><?php echo " $selected_plug: $plug_name"; ?></p>
<form action="<?php echo($_SERVER['PHP_SELF']);?>" method="post">

<?php if($selected_plug==1) { ?>
    <p class="step"><?php echo __('WIZARD_STEP')."&nbsp;".$step."/4:";?></p>
<?php } else { $tmp=$step-1; ?>
    <p class="step"><?php echo __('WIZARD_STEP')."&nbsp;".$tmp."/3:";?></p>
<?php } ?>
<table class="table_width">
   <tr>
      <td></td>
      <td>
<p class="step_info">
<?php if($step==1) {
	echo __('WIZARD_FIRST_USE');
} ?>
<?php if($step==2) { 
   if($selected_plug==1) {
      echo __('WIZARD_PLUG_NUMBER'); 
   } else { 
      echo "<b>".__('WIZARD_CONFIGURE_OTHER_PLUG')." $selected_plug:</b> ".__('WIZARD_OTHER_PLUG_NUMBER');
   }
} else if($step==3) { 
  if($selected_plug==1) {
      echo __('WIZARD_PLUG_TYPE'); 
  } else {
      echo __('WIZARD_OTHER_PLUG_TYPE');
  }
} else if($step==4) { 
    if($selected_plug==1) {
        echo __('WIZARD_PLUG_LAMP');
    } else {
        echo __('WIZARD_PLUG_PROGRAM'); 
    }
 } ?>
</p>
</td>
<td class="wizard-marge"></td>
</tr>
</table>
<br />
<hr />
<br />
<?php if($step==3) { 
        if($selected_plug!=1) { ?>
        <p class="p_center">
            <?php echo __('TYPE_PLUG')." $selected_plug:"; ?>
           <select name="plug_type">
               <option <?php if(strcmp($plug_type,"other")==0) { echo 'selected';} ?> value="other"><?php echo __('PLUG_UNKNOWN'); ?></option>
               <option <?php if(strcmp($plug_type,"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
               <option <?php if(strcmp($plug_type,"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
               <option <?php if(strcmp($plug_type,"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
               <option <?php if(strcmp($plug_type,"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
               <option <?php if(strcmp($plug_type,"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
            </select>
        </p>
        <?php } ?>
<?php } ?>

<?php if($step==4) {?>
<table>
   <tr>
      <td class="wizard-marge-td"></td>
      <td class="wizard-title"><input type="hidden" name="program" value="program"><?php echo __('START_TIME_PROGRAM'); ?>:</td>
      <td class="wizard-field"><input type="text" size="10" name="start_time" id="start_time" value="<?php echo $start_time ?>"/></td>
      <td><?php if((isset($error['start_time']))&&(!empty($error['start_time']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['start_time']."</div>"; ?></td>
    </tr>
    <tr>
      <td></td>
      <td><?php echo __('END_TIME_PROGRAM'); ?>:</td>
      <td><input type="text" size="10" name="end_time" id="end_time" value="<?php echo $end_time ?>"/></td>
      <td><?php if((isset($error['end_time']))&&(!empty($error['end_time']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['end_time']."</div>"; ?></td>
    </tr>
      <?php if(strcmp($plug_type,"lamp")!=0) { ?>
   <tr>
     <td></td>
     <td><?php  if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) { echo __('TEMP_WISHED').":"; }
                         elseif((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { echo __('HUMI_WISHED').":"; } 

               ?><?php if((strcmp($plug_type,"lamp")!=0)&&((strcmp($plug_type,"other")!=0))) { ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_VALUE'); ?>" /><?php } ?></td>
     <td><?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"other")==0)) {?><input type="hidden" name="value_program" id="value_program" value="99.9"><?php } else { ?><input type="text" maxlength="4" size="4" name="value_program" id="value_program" <?php if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0))  { 
                                      echo 'value="22"'; 
                               } elseif((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { 
                                      echo 'value="55"';  } ?>/><?php if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) { echo " °C"; } else { echo " %"; } ?>
    </td>
    <td><?php if((isset($error['value']))&&(!empty($error['value']))) echo "<div class='error_field'><img src='/cultibox/main/libs/img/arrow_error.png' alt=''>".$error['value']."</div>"; ?></td>
    </tr>
<?php } } ?>
</table>
<?php } ?>

<br /><br />
<input type=hidden name="step" value="<?php echo $step; ?>">

<?php if((isset($plug_type))&&(!empty($plug_type))&&($step==4)) { ?>
      <input type="hidden" name="plug_type" value="<?php echo "$plug_type"; ?>">
       <?php if(strcmp($plug_type,"lamp")==0) { ?>
                <input type="hidden" name="value_program" value="99.9" />
       <?php } ?>
<?php } ?>


<input type="hidden" name="selected_plug" value="<?php echo "$selected_plug"; ?>">

<table>
<tr>
<td class="wizard-marge-submit"></td>
<td class="wizard-input-submit"><input type=submit name="close" value="<?php echo __('CLOSE_WIZARD'); ?>"></td>
<?php if($step>1) { ?><td class="wizard-input-previous <?php if($step===4) { ?>wizard-input-previous2<?php } ?>"><input type=submit name="previous" value="<?php echo __('WIZARD_PREVIOUS_STEP'); ?>"></td><?php } ?>
<?php if($step<4) { ?><td class="wizard-input-previous <?php if($step===1) { ?>wizard-input-previous2<?php } ?>"><input type=submit name="next" value="<?php echo __('WIZARD_NEXT_STEP'); ?>"></td> <?php } ?>
<td class="wizard-input-submit">
<?php if($step==4) { ?><input type=submit name="next_plug" value="<?php echo __('WIZARD_OTHER_STEP'); ?>"><?php } ?>
<?php if(($step==4)&&($selected_plug<$nb_plugs)) { ?>
<input type=submit name="finish" value="<?php echo __('WIZARD_FINISH_STEP'); ?>">
</td>
<?php } ?>
</tr>
</table>
</form>
