<?php if((((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)))||((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0))) { ?>
<div class="message" style="display:none" title="<?php echo __('MESSAGE_BOX'); ?>">
        <br />
        <?php if((isset($main_info))&&(!empty($main_info))&&(count($main_info)>0)) { ?>
<img src="main/libs/img/informations.png" alt="" /><label class="info_title"><?php echo __('INFORMATION'); ?>:</label>
<div class="info">
<ul>
        <?php foreach($main_info as $inf) { 
            echo "<li>".$inf."</li>";            
        } ?>
</ul>
<br />
</div>
    <?php } ?>
    <?php if((isset($main_error))&&(!empty($main_error))&&(count($main_error)>0)) { ?>
<img src="main/libs/img/warning.png" alt="" /><label class="error_title"><?php echo __('WARNING'); ?>:</label>
<div class="error">
<ul>
        <?php foreach($main_error as $err) { 
            echo "<li>".$err."</li>";            
        } ?>
</ul>
</div>
    <?php } ?>
</div>
<?php } ?>
<br />


<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showSecond: true,
showOn: 'both',
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
$('#end_time').timepicker({
<?php echo "timeOnlyTitle: '".__('TIMEPICKER_SELECT_TIME')."',"; ?>
showOn: 'both',
showSecond: true,
buttonImage: "../../main/libs/img/datepicker.png",
buttonImageOnly: 'true',
<?php echo "buttonText: '".__('TIMEPICKER_BUTTON_TEXT')."',"; ?>
timeFormat: 'hh:mm:ss',
<?php echo "timeText: '".__('TIMEPICKER_TIME')."',"; ?>
<?php echo "hourText: '".__('TIMEPICKER_HOUR')."',"; ?>
<?php echo "minuteText: '".__('TIMEPICKER_MINUTE')."',"; ?>
<?php echo "secondText: '".__('TIMEPICKER_SECOND')."',"; ?>
<?php echo "currentText: '".__('TIMEPICKER_ENDDAY')."',"; ?>
<?php echo "closeText: '".__('TIMEPICKER_CLOSE')."'"; ?>
});
});
</script>

<script>
plug_type=<?php echo json_encode($plug_type) ?>;
error_valueJS=<?php echo json_encode($error_value) ?>;
</script>


<?php if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_message))&&(!empty($pop_up_message))) { ?>
    <div class="pop_up_message">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_message"); ?>
    </div>
<?php } else if((isset($pop_up))&&("$pop_up"!="False")&&(isset($pop_up_error_message))&&(!empty($pop_up_error_message))) { ?>
       <div class="pop_up_error">
            <?php echo str_replace("\\n\\n","<br /><br />","$pop_up_error_message"); ?>
       </div>
<?php } ?>



<br />
<p class="title_conf"><?php echo __('WIZARD_INTRO'); ?></p>
<p class="wizard_subtitle"><?php echo __('WIZARD_CONFIGURE_PLUG_NUMBER'); ?><?php echo " $selected_plug: $plug_name"; ?></p>
<form action="<?php echo($_SERVER['PHP_SELF']);?>" method="post" name="submit_wizard" id="submit_wizard">

<p class="step"><?php echo __('WIZARD_STEP')."&nbsp;".$step."/3:";?></p>
<table class="table_width">
   <tr>
      <td></td>
      <td>
<p class="step_info">
<?php if($step==1) {
    if($selected_plug==1) {
	    echo __('WIZARD_FIRST_USE');
    } else {
        echo "<b>".__('WIZARD_CONFIGURE_OTHER_PLUG')." $selected_plug:</b> ".__('WIZARD_OTHER_PLUG_NUMBER');
    }
} else if($step==2) { 
  if($selected_plug==1) {
      echo __('WIZARD_PLUG_TYPE'); 
  } else {
      echo __('WIZARD_OTHER_PLUG_TYPE');
  }
} else if($step==3) { 
    if($selected_plug==1) {
        echo __('WIZARD_PLUG_LAMP');
    } else {
        echo __('WIZARD_PLUG_PROGRAM'); 
    }
} ?>
</p>
</td>
<td class="wizard-marge"></td>
</tr>
</table>
<br />
<hr />
<br />
<?php if($step==2) { ?>
        <table class="table_width">
        <tr>
            <td class=wizard-marge-td"></td>
            <td class="wizard-title"><?php echo __('TYPE_PLUG')." $selected_plug:"; ?></td>
            <td class="wizard-field">
                <select name="plug_type" <?php if($selected_plug==1) echo 'disabled'; ?>>
                    <option <?php if(strcmp($plug_type,"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
                    <option <?php if(strcmp($plug_type,"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
                    <option <?php if(strcmp($plug_type,"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
                    <option <?php if(strcmp($plug_type,"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
                    <option <?php if(strcmp($plug_type,"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
                    <option <?php if(strcmp($plug_type,"other")==0) { echo 'selected';} ?> value="other"><?php echo __('PLUG_UNKNOWN'); ?></option>
                </select>
            </td>
            <td class="wizard-error"></td>
        </tr>
        <tr>
            <td></td>
            <td><?php echo __('PLUG_MAX_POWER'); ?>:</td>
            <td>
                <?php if($selected_plug <= $GLOBALS['NB_MIN_PLUG']) { ?>
                    <label class="readonly" id="plug_power_maximal<?php echo $i; ?>"><?php echo $plug_power_max; ?>W</label>
                    <?php if($plug_power_max==3500) { ?>
                        <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_3500'); ?>" />
                    <?php } else { ?>
                        <img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_1000'); ?>" />
                    <?php } ?>
                <?php } else { ?>
                    <input type= "radio" name="plug_power_max" value="1000" <?php if(strcmp($plug_power_max,"1000")==0) { echo "checked"; } ?>>1000W<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_1000'); ?>" />
                    <input type= "radio" name="plug_power_max" value="3500" <?php if(strcmp($plug_power_max,"3500")==0) { echo "checked"; } ?>>3500W<img src="main/libs/img/infos.png" alt=""  title="<?php echo __('TOOLTIP_MAX_POWER_PLUG_3500'); ?>" />
                <?php } ?>
            </td>
        </tr>
        </table>
<?php } ?>

<?php if($step==3) {?>
<table class="table_width">
   <tr>
      <td class="wizard-marge-td"></td>
      <td class="wizard-title"><input type="hidden" name="program" value="program"><?php if(strcmp($plug_type,"lamp")==0) { echo __("START_TIME_LAMP"); } else { echo __('START_TIME_PROGRAM'); } ?>:</td>
      <td class="wizard-field"><input type="text" size="10" name="start_time" id="start_time" value="<?php echo $start_time ?>"/></td>
      <td class="wizard-error"><div id="error_start_time" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_FORMAT_TIME_START'); ?></div><div id="error_same_start" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_SAME_TIME'); ?></div></td>
    </tr>
    <tr>
      <td></td>
      <td><?php if(strcmp($plug_type,"lamp")==0) { echo __("END_TIME_LAMP"); } else { echo __('END_TIME_PROGRAM'); } ?>:</td>
      <td><input type="text" size="10" name="end_time" id="end_time" value="<?php echo $end_time ?>"/></td>
      <td><div id="error_end_time" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_FORMAT_TIME_END'); ?></div><div id="error_same_end" class="error_field" style="display:none"><img src="/cultibox/main/libs/img/arrow_error.png" alt=""><?php echo __('ERROR_SAME_TIME'); ?></div></td>
    </tr>
      <?php if(strcmp($plug_type,"lamp")!=0) { ?>
   <tr>
     <td></td>
     <td><?php  if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) { echo __('TEMP_WISHED').":"; }
                         elseif((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { echo __('HUMI_WISHED').":"; } 

               ?><?php if((strcmp($plug_type,"lamp")!=0)&&((strcmp($plug_type,"other")!=0))) { ?><img src="main/libs/img/infos.png" alt="" title="<?php echo __('TOOLTIP_VALUE'); ?>" /><?php } ?></td>
     <td><?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"other")==0)) {?><input type="hidden" name="value_program" id="value_program" value="99.9"><?php } else { ?><input type="text" maxlength="4" size="4" name="value_program" id="value_program" <?php if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0))  { 
                                      echo 'value="22"'; 
                               } elseif((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { 
                                      echo 'value="55"';  } ?>/><?php if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) { echo " °C"; } else { echo " %"; } ?>
    </td>
    <td><div id="error_value_program" class="error_field" style="display:none"></div></td>
    </tr>
<?php } } ?>
</table>
<?php } ?>

<br /><br />
<input type=hidden name="step" value="<?php echo $step; ?>">

<?php if((isset($plug_type))&&(!empty($plug_type))&&($step==3)) { ?>
      <input type="hidden" name="plug_type" value="<?php echo "$plug_type"; ?>">
       <?php if(strcmp($plug_type,"lamp")==0) { ?>
                <input type="hidden" name="value_program" value="99.9" />
       <?php } ?>
<?php } ?>

<?php if((isset($plug_power_max))&&(!empty($plug_power_max))&&($step==3)) { ?>
      <input type="hidden" name="plug_power_max" value="<?php echo "$plug_power_max"; ?>">
<?php } ?>

<input type="hidden" name="selected_plug" value="<?php echo "$selected_plug"; ?>">
<?php if($step>1) { ?>
<hr />
<br />
<?php } ?>
<input type="hidden" name="type_submit" id="type_submit" value="">
<table>
<tr>
<td class="wizard-marge-submit"></td>
<td class="wizard-input-submit"><input type=submit name="close" id="close" value="<?php echo __('CLOSE_WIZARD'); ?>"></td>
<td class="wizard-input-previous"><?php if($step>1) { ?><input type=submit name="previous" value="<?php echo __('WIZARD_PREVIOUS_STEP'); ?>"><?php } ?></td>
<td class="wizard-input-previous"><?php if($step<3) { ?><input type=submit name="next" value="<?php echo __('WIZARD_NEXT_STEP'); ?>"><?php } ?></td>
<td class="wizard-input-submit">
<?php if(($step==3)&&($selected_plug<$nb_plugs)) { ?><input type=submit name="next_plug" id="next_plug" value="<?php echo __('WIZARD_OTHER_STEP'); ?>"><?php } ?>
<?php if($step==3) { ?>
<input type=submit name="finish" id="finish" value="<?php echo __('WIZARD_FINISH_STEP'); ?>">
</td>
<?php } ?>
</tr>
</table>
</form>
