<div id="main">
<table class="tablemain">
<tr>
<td>
	<table>
	<tr>
	<td>
		<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
			<?php echo __(SELECT_DISPLAYED_DAY); ?>
			<input id="startday" name="startday" type="text" class="whitefield" size="10" value="<?php echo $startday; ?>" onClick='scwShow(document.getElementById("startday"),this);'>
			<INPUT type="submit" value=<?php echo __(VIEW); ?>>
		</form>
	</td>
	</tr>
	<tr>
	<td>
		<form action=<?php echo($_SERVER['PHP_SELF']); ?> method="post">
			<?php echo __(SELECT_DISPLAYED_MONTH); ?>
			<select name="startmonth">
                		<option <?php if("$startmonth" == "1") { echo 'selected';} ?> value="01"><?php echo __(MONTH01); ?></option>
                		<option <?php if("$startmonth" == "2") { echo 'selected';} ?> value="02"><?php echo __(MONTH02); ?></option>
                		<option <?php if("$startmonth" == "3") { echo 'selected';} ?> value="03"><?php echo __(MONTH03); ?></option>
                		<option <?php if("$startmonth" == "4") { echo 'selected';} ?> value="04"><?php echo __(MONTH04); ?></option>
                		<option <?php if("$startmonth" == "5") { echo 'selected';} ?> value="05"><?php echo __(MONTH05); ?></option>
                		<option <?php if("$startmonth" == "6") { echo 'selected';} ?> value="06"><?php echo __(MONTH06); ?></option>
                		<option <?php if("$startmonth" == "7") { echo 'selected';} ?> value="07"><?php echo __(MONTH07); ?></option>
                		<option <?php if("$startmonth" == "8") { echo 'selected';} ?> value="08"><?php echo __(MONTH08); ?></option>
                		<option <?php if("$startmonth" == "9") { echo 'selected';} ?> value="09"><?php echo __(MONTH09); ?></option>
                		<option <?php if("$startmonth" == "10") { echo 'selected';} ?> value="10"><?php echo __(MONTH10); ?></option>
                		<option <?php if("$startmonth" == "11") { echo 'selected';} ?> value="11"><?php echo __(MONTH11); ?></option>
                		<option <?php if("$startmonth" == "12") { echo 'selected';} ?> value="12"><?php echo __(MONTH12); ?></option>
			</select>
			<INPUT type="submit" value=<?php echo __(VIEW); ?>>
		</form>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
</div>

<?php if($check_format) { ?>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
		backgroundColor: '#EDF2F0',
                renderTo: 'container',
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: <?php echo "'".__(HISTO_GRAPH)." (".$legend_date.")'"; ?>,
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    <?php echo "'".__(DRAG_PLOT)."'"; ?>:
		    <?php echo "'".__(DRAG_PLOT)."'"; ?>
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: <?php echo "'".__($xlegend)."'"; ?>
                }
            },
            yAxis: [{
                title: {
                    text: <?php echo "'".__(YAXIS_LEGEND)."'"; ?>,
		    style: {
					color: <?php echo "'".$color_temperature."'"; ?>
				}
                },
                min: 0.6,
		max: 100,
                startOnTick: false,
                showFirstLabel: false,
            }, {
		linkedTo: 0,
		title: {
                    text: <?php echo "'".__(Y2AXIS_LEGEND)."'"; ?>,
		    style: {
                                        color: <?php echo "'".$color_humidity."'"; ?>
                                }
                },
                min: 0,
		max: 100,
                startOnTick: false,
                showFirstLabel: false,
		opposite: true
	    }],
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
	    credits: {
			enabled: false
		},
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1}, 
			stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, 'rgba(2,0,0,0)']
                        ]

                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 5
                            }
                        }
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    }
                }
            },
    
            series: [{
                type: 'area',
                name: <?php echo "'".__(LEGEND_TEMP)."'"; ?>,
                pointInterval:  <?php echo $next; ?> * 60 * 1000,
                pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
		color: <?php echo "'".$color_temperature."'"; ?>,
                data: [
		    <?php echo $data_temp; ?>
		  ]
		}, {
		type: 'area',
                name: <?php echo "'".__(LEGEND_HUMI)."'"; ?>,
                pointInterval: <?php echo $next; ?> * 60 * 1000,
                pointStart: Date.UTC(<?php echo $styear.",".$stmonth.",".$stday; ?>),
		color: <?php echo "'".$color_humidity."'"; ?>,
		yAxis: 1,	
		    data: [
		    <?php echo $data_humi; ?>
		    ]
		}]
        });
    });
    
});
</script>

<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>

<?php } ?>

<div id="error">
        <?php echo $return; ?>
</div>

