<div id="info">
        <?php echo $info; ?>
</div>

<div id="error">
        <?php echo $return; ?>
</div>

<br />

<form action="<?php echo($_SERVER['PHP_SELF']); ?>" method="post">
<?php for($i=1;$i<=$nb_plugs;$i++) { ?>
<table>
<tr>
<td>
<p class="title_conf"><?php echo __('PLUG')." $i:"; ?></p>
</td>
</tr>
<tr>
<td></td>
<td>
	<?php echo __('TYPE_PLUG').":"; ?>
</td>
<td>
	<select name="plug_type<?php echo $i; ?>">
		<option <?php if(strcmp($plug_type{$i},"unknown")==0) { echo 'selected';} ?> value="unknown"><?php echo __('PLUG_UNKNOWN'); ?></option>
		<option <?php if(strcmp($plug_type{$i},"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
		<option <?php if(strcmp($plug_type{$i},"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
		<option <?php if(strcmp($plug_type{$i},"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
		<option <?php if(strcmp($plug_type{$i},"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
	</select>
</td>
</tr>
<tr>
<td></td>
<td>
	<?php echo __('NAME_PLUG').":"; ?>
</td>
<td>
<input type="text" size="20" maxlength="20" name="plug_name<?php echo $i; ?>" value="<?php echo $plug_name{$i}; ?>">
</td>

</tr>
<tr>
<td></td>
<td>
        <?php echo __('TOLERANCE_PLUG').":"; ?>
</td>
<td>
<input type="text" size="3" maxlength="3" name="plug_tolerance<?php echo $i; ?>" value="<?php echo $plug_tolerance{$i}; ?>">
</td>

</tr>
</table>
<br /><br />

<?php } ?>
<table width="100%">
<tr>
<td width="20%"></td>
<td><INPUT type="submit" value=<?php echo __(VALIDATION_CONF); ?>></td>
</tr>
</table>

