<div id="info">
        <?php echo $info; ?>
</div>

<div id="error">
        <?php echo $return; ?>
</div>

<?php for($i=1;$i<=$nb_plugs;$i++) { ?>

<script type="text/javascript">
$(document).ready(function(){
$('#start_time<?php echo $i; ?>').timepicker({
timeOnlyTitle: '<?php echo __(TIMEPICKER_SELECT_TIME); ?>',
showSecond: true,
timeFormat: 'hh:mm:ss',
timeText: '<?php echo __(TIMEPICKER_TIME); ?>',
hourText: '<?php echo __(TIMEPICKER_HOUR); ?>',
minuteText: '<?php echo __(TIMEPICKER_MINUTE); ?>',
secondText: '<?php echo __(TIMEPICKER_SECOND); ?>',
currentText: '<?php echo __(TIMEPICKER_NOW); ?>'
});
$('#end_time<?php echo $i; ?>').timepicker({
timeOnlyTitle: '<?php echo __(TIMEPICKER_SELECT_TIME); ?>',
showSecond: true,
timeFormat: 'hh:mm:ss',
timeText: '<?php echo __(TIMEPICKER_TIME); ?>',
hourText: '<?php echo __(TIMEPICKER_HOUR); ?>',
minuteText: '<?php echo __(TIMEPICKER_MINUTE); ?>',
secondText: '<?php echo __(TIMEPICKER_SECOND); ?>',
currentText: '<?php echo __(TIMEPICKER_NOW); ?>'
});
});
</script>


<script type="text/javascript">
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'plug<?php echo $i;?>',
			type: 'spline',
	                zoomType: 'x'
		},
		title: {
			text: <?php echo "'".__(CURRENT_PLUG_PROGRAM)." ".$i."'"; ?>
		},
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: { // don't display the dummy year
				hours: '%H',
				minutes: '%M',
				seconds: '%S'
			},
			min: 0,
			max: 86399999
		},
		yAxis: {
			min: -1,
			max: 2,
        		labels: {
            			formatter: function() {
					if(this.value==0) return '<?php echo __(VALUE_OFF); ?>';
					if(this.value==1) return '<?php echo __(VALUE_ON); ?>';
            			}
        		},
			title: false
		},
            	credits: {
                        enabled: false
                },
		tooltip: {
			formatter: function() {
					if(this.y == 1) {
						return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __(VALUE_ON); ?></b></p>';
					} else {
						return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __(VALUE_OFF); ?></b></p>';

					}
			}
		},
		
		series: [{
			name: <?php echo "'".__(BEHAVIOUR_PLUG_PROGRAM_TITLE)."',"; ?>
			color: <?php echo "'".$GLOBALS['LIST_GRAPHIC_COLOR'][$i-1]."'"; ?>,
			data: [
				<?php echo $data{$i}; ?>
			]
		}]
	});
});

</script>
<br />

<form action="<?php echo($_SERVER['PHP_SELF']); ?>#plug<?php echo $i; ?>" method="post">
<table width="100%">
<tr>
<td width="30%">
	<table>
<tr>
<td><?php echo __(CONFIGURE_PROGRAM); ?>:</td><td></td>
</tr>
<tr>
<td><?php echo __(START_TIME_PROGRAM); ?></td>
<td> <input type="text" size="10" name="start_time<?php echo $i; ?>" id="start_time<?php echo $i; ?>" value="" /></td>
</tr>
<tr>
<td><?php echo __(END_TIME_PROGRAM); ?></td>
<td><input type="text" size="10" name="end_time<?php echo $i; ?>" id="end_time<?php echo $i; ?>" value="" /></td>
</tr>
<tr>
<td><?php echo __(VALUE_ON_OFF); ?></td>
<td>
<select name="value_program<?php echo $i; ?>">
        <option value="off" selected><?php echo __(VALUE_OFF); ?></option>
        <option value="on" selected><?php echo __(VALUE_ON); ?></option>
        </select>
</td>
</tr>
<tr>
<td align="right"><input type="hidden" name="selected_plug" value="<?php echo $i; ?>">
<input type="submit" name="apply" value="<?php echo __(APPLY_PROGRAM); ?>">
</td><td>
</td>
</tr>
	</table>
</td>
<td width="100%">
	<div id="plug<?php echo $i; ?>" style="width: 90%; height: 40%; margin: 0 auto"></div>
</td>
</tr>
</table>
</form>
<br /><br /><br />

<?php } ?>
