<?php if((isset($info))&&(!empty($info))) { ?>
<div id="info">
<ul>
        <?php echo $info; ?>
</ul>
</div>
<?php } ?>

<?php if((isset($error))&&(!empty($error))) { ?>
<div id="error">
<ul>
        <?php echo $error; ?>
</ul>
</div>
<br />
<?php } ?>


<script type="text/javascript">
function actdesact()
{
    if (document.getElementById("force_on" ).checked)
        document.getElementById("value_program" ).disabled=true;
    else
        document.getElementById("value_program" ).disabled=false;
}
</script>


<script type="text/javascript">
$(document).ready(function(){
$('#start_time').timepicker({
timeOnlyTitle: '<?php echo __(TIMEPICKER_SELECT_TIME); ?>',
showSecond: true,
showOn: 'both',
timeFormat: 'hh:mm:ss',
timeText: '<?php echo __(TIMEPICKER_TIME); ?>',
hourText: '<?php echo __(TIMEPICKER_HOUR); ?>',
minuteText: '<?php echo __(TIMEPICKER_MINUTE); ?>',
secondText: '<?php echo __(TIMEPICKER_SECOND); ?>',
currentText: '<?php echo __(TIMEPICKER_NOW); ?>'
});
$('#end_time').timepicker({
timeOnlyTitle: '<?php echo __(TIMEPICKER_SELECT_TIME); ?>',
showOn: 'both',
showSecond: true,
timeFormat: 'hh:mm:ss',
timeText: '<?php echo __(TIMEPICKER_TIME); ?>',
hourText: '<?php echo __(TIMEPICKER_HOUR); ?>',
minuteText: '<?php echo __(TIMEPICKER_MINUTE); ?>',
secondText: '<?php echo __(TIMEPICKER_SECOND); ?>',
currentText: '<?php echo __(TIMEPICKER_NOW); ?>'
});
});
</script>

<script type="text/javascript">
var chart;
$(document).ready(function() {
        chart = new Highcharts.Chart({
                chart: {
                        backgroundColor: '#F7F7F9',
                        renderTo: 'plug',
                        type: 'spline',
                        zoomType: 'x'
                },
                title: {
                        text: <?php echo "'".__(CURRENT_PLUG_PROGRAM)." ".$plug_name."'"; ?>
                },
                lang: {
                        printButtonTitle: <?php echo "'".__(PRINT_HIGHCHART)."',"; ?>
                        exportButtonTitle: <?php echo "'".__(EXPORT_HIGHCHART)."',"; ?>
                        downloadPNG : <?php echo "'".__(EXPORT_PNG)."',"; ?>
                        downloadJPEG : <?php echo "'".__(EXPORT_JPEG)."',"; ?>
                        downloadPDF : <?php echo "'".__(EXPORT_PDF)."',"; ?>
                        downloadSVG : <?php echo "'".__(EXPORT_SVG)."'"; ?>
                },
                xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                                hours: '%H',
                                minutes: '%M',
                                seconds: '%S'
                        },
                        min: 0,
                        max: 86399999
                },
                yAxis: {
                        <?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"unknown")==0)) { ?>
                                min: -0.5,
                                max: 1.5,
<?php } else if((strcmp($plug_type,"ventilator")==0)||(strcmp($plug_type,"heating")==0)) { ?>
                                min: -0.5,
                                max: 100,
<?php } else if((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { ?>
                                min: -0.5,
                                max: 100,
<?php } else { ?>
                                min: -0.5,
                                max: 1.5,
<?php } ?>
                        labels: {
                                formatter: function() {
                                        <?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"unknown")==0)) { ?>
                                        if(this.value==0) return '<?php echo __(VALUE_OFF); ?>';
                                        if(this.value==1) return '<?php echo __(VALUE_ON); ?>';
<?php } else if((strcmp($plug_type,"ventilator")==0)||(strcmp($plug_type,"heating")==0)) { ?>
                                        if(this.value>0) return this.value+'°C';
                                        if(this.value==0) return '<?php echo __(VALUE_OFF); ?>';

<?php } else if((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { ?>
                                        if(this.value>0) return this.value+'%';
                                        if(this.value==0) return '<?php echo __(VALUE_OFF); ?>';

<?php } else { ?>
                                        return this.value;

<?php } ?>
                                }
                        },
                        title: false
                },
                credits: {
                        enabled: false
                },
                tooltip: {
                        formatter: function() {

  <?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"unknown")==0)) { ?>
                if(this.y == 1) {
                        return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __(VALUE_ON); ?></b></p>';
                } else {
                        return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b><?php echo __(VALUE_OFF); ?></b></p>';
                }
<?php } else if((strcmp($plug_type,"ventilator")==0)||(strcmp($plug_type,"heating")==0)) { ?>
                return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'°C</b></p>';

<?php } else if((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) { ?>
                return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'%</b></p>';
<?php } else { ?>
                return Highcharts.dateFormat('%H:%M:%S', this.x) +'<br /><p align=center><b>'+this.y+'</b></p>';
<?php } ?>

                        }
                },
                
                series: [{
                        name: <?php echo "'".__(BEHAVIOUR_PLUG_PROGRAM_TITLE)." (".$plug_translate.")',"; ?>
                        color: <?php echo "'".$GLOBALS['LIST_GRAPHIC_COLOR_PROGRAM'][$selected_plug-1]."'"; ?>,
                        data: [
                                <?php echo $data; ?>
                        ]
                }]
        });
});

</script>

<br />
<p class="wizard_title"><?php echo __(WIZARD_INTRO); ?></p>
<br /><br />
<form action="<?php echo($_SERVER['PHP_SELF']);?>?wzd=True" method="post">
<table width="100%">
<tr>
<td width="10%"><p class="step"><?php echo __(WIZARD_STEP); echo " $step";?>/5:</p></td>
</tr>
<tr>
<td></td>
<td>
<p class="step_info">
<?php if($step==1) { ?>
	<?php echo __(WIZARD_PLUG_NUMBER); ?>
<?php } else if($step==2) { ?>
	<?php echo __(WIZARD_PLUG_NAME); ?>
<?php } else if($step==3) { ?>
	<?php echo __(WIZARD_PLUG_TYPE); ?>
<?php } else if($step==4) { ?>
        <?php echo __(WIZARD_PLUG_TOLERANCE); ?>
<?php } else if($step==5) { ?>
	<?php echo __(WIZARD_PLUG_PROGRAM); ?>

<?php } ?>
</p>
</td>
<td width="10%"></td>
</tr>
</table>
<br />
<hr />

<br /><br />

<table width="100%">
	<tr>
		<td width="10%"></td>
		<?php if($step==1) { ?> 
			<td width="25%"><?php echo __(WIZARD_CHOOSE_PLUG_NUMBER); ?></td>
			<td width="20%">
			<select name="plug_number">
				<?php for($i=1;$i<=$nb_plugs;$i++) { ?>
					<option value="<?php echo $i; ?>" <?php if($selected_plug==$i) { echo selected; } ?>><?php echo $i; ?></option>
				<?php } ?>
			</select>
		</td><?php } else if($step==2) { ?>
			<td width="25%"><?php echo __(WIZARD_CHOOSE_PLUG_NAME); ?></td>
			<td width="30%">
			<input type=text name="plug_name" value="<?php echo $plug_name; ?>">
		</td><?php } else if($step==3) { ?> 
			<td width="25%"><?php echo __(WIZARD_CHOOSE_PLUG_TYPE); ?></td>
			<td width="30%">
			  <select name="plug_type">
                		<option <?php if(strcmp($plug_type,"unknown")==0) { echo 'selected';} ?> value="unknown"><?php echo __('PLUG_UNKNOWN'); ?></option>
                		<option <?php if(strcmp($plug_type,"lamp")==0) { echo "selected";} ?> value="lamp"><?php echo __('PLUG_LAMP'); ?></option>
                		<option <?php if(strcmp($plug_type,"ventilator")==0) { echo 'selected';} ?> value="ventilator"><?php echo __('PLUG_VENTILATOR'); ?></option>
                		<option <?php if(strcmp($plug_type,"heating")==0) { echo 'selected';} ?> value="heating"><?php echo __('PLUG_HEATING'); ?></option>
                		<option <?php if(strcmp($plug_type,"humidifier")==0) { echo 'selected';} ?> value="humidifier"><?php echo __('PLUG_HUMIDIFIER'); ?></option>
                		<option <?php if(strcmp($plug_type,"dehumidifier")==0) { echo 'selected';} ?> value="dehumidifier"><?php echo __('PLUG_DEHUMIDIFIER'); ?></option>
        		</select>
                </td><?php } else if($step==4) {?>
			<td width="25%"><?php if(strcmp($plug_type,"lamp")!=0) { echo __(WIZARD_CHOOSE_PLUG_TOLERANCE); } ?></td>
			<td width="30%">
			<?php if(strcmp($plug_type,"lamp")!=0) { ?>
                		<input type=text name="plug_tolerance"  size="4" style="width: 10%;" maxlength="4" value="<?php echo $plug_tolerance; ?>">
			<?php } ?></td><?php } else if($step==5) {?><td width="25%">
				<table width="100%">
				<tr>
				<td>
		 			<?php echo __(START_TIME_PROGRAM); ?></td><td><input type="text" size="10" name="start_time" id="start_time" value="<?php echo $start_time ?>"/></td></tr><tr><td><?php echo __(END_TIME_PROGRAM); ?></td><td><input type="text" size="10" name="end_time" id="end_time" value="<?php echo $end_time ?>"/></td></tr>
                                        <tr><td><?php echo __(VALUE_ON_OFF); ?></td><td><?php if((strcmp($plug_type,"lamp")==0)||(strcmp($plug_type,"unknown")==0)) { ?>
                                                <select name="value_program" id="value_program">
                                                        <option value="off" <?php if("$value_program"=="0") echo selected; ?>><?php echo __(VALUE_OFF); ?></option>
                                                        <option value="on" <?php if("$value_program"=="1") echo selected; ?>><?php echo __(VALUE_ON); ?></option>
                                                </select>
                                        <?php } else { ?>
                                                <input type="text" id="value_program" name="value_program" size="4" maxlength="4" value="<?php echo $value_program ?>"/>
                                                <?php if((strcmp($plug_type,"heating")==0)||(strcmp($plug_type,"ventilator")==0)) echo "°C"; ?>
                                                <?php if((strcmp($plug_type,"humidifier")==0)||(strcmp($plug_type,"dehumidifier")==0)) echo "%"; ?>
                                        <?php } ?>
		</td>
		</tr>
		 <tr>
                               <td><?php echo __(FORCE_ON_VALUE); ?></td>
                               <td><input type="checkbox" id="force_on" name="force_on" value="force_on" onclick="actdesact()" /></td>
                           </tr>
		<tr><td></td><td><br /><input type="submit" name="apply" value="<?php echo __(APPLY_PROGRAM); ?>"></td></tr>
		</table>
		</td>
		<td width="80%"><div id="plug" style="width: 80%; height: 300px; margin: 0 auto"></div></td>
		
<?php } ?>
</tr>
<tr>
<td>

</td>
</tr>
</table>
<br /><br />
<input type=hidden name="step" value="<?php echo $step; ?>">
<?php if((isset($selected_plug))&&(!empty($selected_plug))&&($step>1)) { ?>
	<input type=hidden name="plug_number" value="<?php echo $selected_plug; ?>">
<?php } ?>

<?php if((isset($plug_name))&&(!empty($plug_name))&&($step>2)) { ?>
        <input type=hidden name="plug_name" value="<?php echo $plug_name; ?>">
<?php } ?>

<?php if((isset($plug_type))&&(!empty($plug_type))&&($step>3)) { ?>
        <input type=hidden name="plug_type" value="<?php echo $plug_type; ?>">
<?php } ?>

<?php if((isset($plug_tolerance))&&(!empty($plug_tolerance))&&($step>4)) { ?>
        <input type=hidden name="plug_tolerance" value="<?php echo $plug_tolerance; ?>">
<?php } ?>

<table width="100%">
<tr>
<td width="20%"></td>
<td width="50%"><?php if($step>1) { ?><input type=submit name="previous" value="<?php echo __(WIZARD_PREVIOUS_STEP); ?>"><?php } ?></td>
<td width="20%"><?php if($step<5) { ?><input type=submit name="next" value="<?php echo __(WIZARD_NEXT_STEP); ?>"> <?php } else { ?><input type=submit name="finish" value="<?php echo __(WIZARD_FINISH_STEP); ?>"> <?php } ?></td>
<td></td>
</tr>
</table>
</form>
